src/resources/xsd/beregnet_skatt_v7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:no:skatteetaten:fastsetting:formueinntekt:beregnetskatt:v7" xmlns:skatt="http://www.skatteetaten.no/xsd" xmlns:typekatalog="urn:ske:informasjonsrammeverk:typekatalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:no:skatteetaten:fastsetting:formueinntekt:beregnetskatt:v7">
    <xsd:annotation>
        <xsd:documentation>
            <xsd:attribute fixed="2025-11-04T14:34:14.259+0100" name="generertDato"/>
            <xsd:attribute fixed="7.5" name="versjon"/>
            <xsd:attribute fixed="Beregnet skatt - formues og inntektsskatt for personlige skattepliktige&#10;Inntektsår 2025" name="beskrivelse"/>
            <xsd:attribute fixed="Beregnet skatt v7 (2025)" name="modellnavn"/>
            <xsd:attribute fixed="urn:no:skatteetaten:fastsetting:formueinntekt:beregnetskatt:v7" name="navnerom"/>
            <xsd:attribute fixed="true" name="begrepsreferanse"/>
            <xsd:attribute fixed="false" name="dokumentasjon"/>
            <xsd:attribute fixed="false" name="nillable"/>
            <xsd:attribute fixed="false" name="modellelement"/>
            <xsd:attribute fixed="false" name="norskeTegn"/>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="urn:ske:informasjonsrammeverk:typekatalog" schemaLocation="typekatalog/typekatalog_v2.xsd"/>
    <xsd:element name="beregnetSkatt" type="BeregnetSkatt"/>
    <xsd:complexType name="BeregnetSkatt" skatt:begrepsreferanse="649cbcd4-ad07-11e8-8ffd-005056821322">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="informasjonTilSkattelister" type="InformasjonTilSkattelister"/>
            <xsd:element minOccurs="0" name="valideringsresultat" type="Valideringsresultat"/>
            <xsd:element minOccurs="0" name="skatteregnskapskommune" skatt:begrepsreferanse="649cbcf1-ad07-11e8-8ffd-005056821322" type="typekatalog:Kommunenummer"/>
            <xsd:element minOccurs="0" name="skatteklasse" skatt:begrepsreferanse="20b2e211-9fe1-11e5-a9f8-e4115b280940" type="Skatteklasse"/>
            <xsd:element minOccurs="0" name="beregnetSkattFoerSkattefradrag" skatt:begrepsreferanse="http://begrepskatalog/begrep/649cbcd4-ad07-11e8-8ffd-005056821322" skatt:erAvledet="true" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="sumSkattefradrag" skatt:begrepsreferanse="http://begrepskatalog/begrep/3cc37500-571d-11e7-a43d-0050568351d2" skatt:erAvledet="true" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="beregnetSkatt" skatt:begrepsreferanse="649cbcd4-ad07-11e8-8ffd-005056821322" skatt:erAvledet="true" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skattOgAvgift" type="SkattOgAvgift"/>
            <xsd:element minOccurs="0" name="skattefradrag" skatt:begrepsreferanse="ce6d329e-98ef-11ea-8a84-005056828ed3" type="Skattefradrag"/>
            <xsd:element minOccurs="0" name="oevrigeResultaterAvBeregning" type="OevrigeResultaterAvBeregning"/>
            <xsd:element minOccurs="0" name="skattetillegg" skatt:begrepsreferanse="42b6394c-309d-4a23-9798-56a57e3545ca" type="Skattetillegg"/>
            <xsd:element minOccurs="0" name="anvendtTolvdelVedArbeidsoppholdINorge" skatt:begrepsreferanse="http://begrepskatalog/begrep/98da4353-dff2-11e7-a0fd-005056821322" type="Tolvdel"/>
            <xsd:element minOccurs="0" name="anvendtTolvdelForTrinnskatt" skatt:begrepsreferanse="http://begrepskatalog/begrep/98da4351-dff2-11e7-a0fd-005056821322" type="Tolvdel"/>
            <xsd:element minOccurs="0" name="anvendtStandardfradrag" skatt:begrepsreferanse="http://begrepskatalog/begrep/cf248015-dfe5-11e7-9101-005056821322" type="typekatalog:Boolsk"/>
            <xsd:element minOccurs="0" name="anvendtTolvdelVedArbeidsoppholdIUtlandet" type="Tolvdel"/>
            <xsd:element minOccurs="0" name="oevrigeResultaterForFordelingstall" type="OevrigeResultaterForFordelingstall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InformasjonTilSkattelister">
        <xsd:sequence>
            <xsd:element name="nettoinntekt" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element name="nettoformue" skatt:begrepsreferanse="649cbce3-ad07-11e8-8ffd-005056821322" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element name="beregnetSkatt" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element maxOccurs="unbounded" name="kommune" type="typekatalog:Kommunenummer"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Skattefradrag" skatt:begrepsreferanse="ce6d329e-98ef-11ea-8a84-005056828ed3">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="skattefradragVedBSU" skatt:begrepsreferanse="649cbcee-ad07-11e8-8ffd-005056821322" type="Skatt"/>
            <xsd:element minOccurs="0" name="finnmarksfradragITrinnskatt" skatt:begrepsreferanse="649cbce6-ad07-11e8-8ffd-005056821322" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="finnmarksfradragIInntektsskattTilKommune" skatt:begrepsreferanse="649cbcf7-ad07-11e8-8ffd-005056821322" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="finnmarksfradragIInntektsskattTilFylkeskommune" skatt:begrepsreferanse="649cbcf6-ad07-11e8-8ffd-005056821322" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="finnmarksfradragIInntektsskattTilStaten" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="finnmarksfradragIFellesskatt" skatt:begrepsreferanse="649cbcf8-ad07-11e8-8ffd-005056821322" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="finnmarksfradragIFellesskattFraEierinntekt" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="sumFinnmarksfradrag" skatt:begrepsreferanse="649cbcf4-ad07-11e8-8ffd-005056821322" skatt:erAvledet="true" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skattefradragForPensjonsinntekt" skatt:begrepsreferanse="cf24800b-dfe5-11e7-9101-005056821322" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skattebegrensningVedLavAlminneligInntekt" skatt:begrepsreferanse="649cbce8-ad07-11e8-8ffd-005056821322" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skattebegrensningVedLitenSkatteevne" skatt:begrepsreferanse="649cbce9-ad07-11e8-8ffd-005056821322" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skattenedsettelseVedAlternativFordeling" skatt:begrepsreferanse="649cbcf0-ad07-11e8-8ffd-005056821322" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skattefradragForFormuesskattBetaltIUtlandet" skatt:begrepsreferanse="6c325d62-ff95-11e8-a756-005056823b15" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skattefradragForInntektsskattBetaltIUtlandet" skatt:begrepsreferanse="649cbcea-ad07-11e8-8ffd-005056821322" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skattefradragForKostnaderTilFoU" skatt:begrepsreferanse="649cbceb-ad07-11e8-8ffd-005056821322" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skattefradragForOmberegnetGevinstPaaOpsjoner" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="korrigertSkattForEtterbetaltPensjonOgTrygdeytelse" skatt:begrepsreferanse="367f2c86-a9e1-11e8-8514-005056821322" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skattefradragForBetaltKildeskattPaaRenterOgRoyaltyMv" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="begrensningAvSkattVedSkatteavtalebostedIAnnenStat" type="typekatalog:BeloepSomHeltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Skattetillegg" skatt:begrepsreferanse="42b6394c-309d-4a23-9798-56a57e3545ca">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="skattAvEngangserstatningTilBarn" skatt:begrepsreferanse="367f2ccf-a9e1-11e8-8514-005056821322" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skattetilleggVedBSU" skatt:begrepsreferanse="367f2cd3-a9e1-11e8-8514-005056821322" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="tilleggIBeregnetSkattKnyttetTilSkattefunn" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="positivGrunnrenteskattFraHavbruksvirksomhet" type="typekatalog:BeloepSomHeltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SkattOgAvgift">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="formuesskattTilStat" skatt:begrepsreferanse="649cbcd8-ad07-11e8-8ffd-005056821322" type="Skatt"/>
            <xsd:element minOccurs="0" name="inntektsskattTilKommune" skatt:begrepsreferanse="d67e0662-6dcf-11e6-be2b-ba992a0501a6" type="Skatt"/>
            <xsd:element minOccurs="0" name="formuesskattTilSvalbard" type="Skatt"/>
            <xsd:element minOccurs="0" name="inntektsskattTilFylkeskommune" skatt:begrepsreferanse="d67e0661-6dcf-11e6-be2b-ba992a0501a6" type="Skatt"/>
            <xsd:element minOccurs="0" name="inntektsskattTilKommuneOgFylkeskommune" skatt:erAvledet="true" type="Skatt"/>
            <xsd:element minOccurs="0" name="formuesskattTilKommune" skatt:begrepsreferanse="649cbcd7-ad07-11e8-8ffd-005056821322" type="Skatt"/>
            <xsd:element minOccurs="0" name="fellesskatt" skatt:begrepsreferanse="649cbcd5-ad07-11e8-8ffd-005056821322" type="Skatt"/>
            <xsd:element minOccurs="0" name="statsskatt" skatt:begrepsreferanse="649cbcf3-ad07-11e8-8ffd-005056821322" type="Skatt"/>
            <xsd:element minOccurs="0" name="trinnskatt" skatt:begrepsreferanse="649cbcf9-ad07-11e8-8ffd-005056821322" type="Skatt"/>
            <xsd:element minOccurs="0" name="kildeskattPaaPensjon" skatt:begrepsreferanse="c59db9af-cf83-4b1d-99f0-72b3c7ce0b8b" type="Skatt"/>
            <xsd:element minOccurs="0" name="trygdeavgiftAvLoennsinntekt" skatt:begrepsreferanse="1cc1f3a1-d38d-4720-8745-18c37c424920" type="Skatt"/>
            <xsd:element minOccurs="0" name="trygdeavgiftAvIntroduksjonsstoenad" skatt:begrepsreferanse="6c325cf5-ff95-11e8-a756-005056823b15" type="Skatt"/>
            <xsd:element minOccurs="0" name="trygdeavgiftAvPensjonsinntekt" skatt:begrepsreferanse="cf247ff4-dfe5-11e7-9101-005056821322" type="Skatt"/>
            <xsd:element minOccurs="0" name="trygdeavgiftAvNaeringsinntektFraFiskeFangstFamiliebarnehage" type="Skatt"/>
            <xsd:element minOccurs="0" name="trygdeavgiftAvNaeringsinntekt" skatt:begrepsreferanse="ca4d033c-8af1-490c-84bb-bf5d654c555a" type="Skatt"/>
            <xsd:element minOccurs="0" name="trygdeavgiftAvUfoeretrygd" skatt:begrepsreferanse="8ea2df68-7662-11e6-a74e-7e18b36b3fd9" type="Skatt"/>
            <xsd:element minOccurs="0" name="trygdeavgiftSomFrivilligMedlemIPensjonsdel" skatt:begrepsreferanse="8c509100-b1b4-11e8-a015-0050568351d2" type="Skatt"/>
            <xsd:element minOccurs="0" name="trygdeavgiftSomFrivilligMedlemIHelsedel" skatt:begrepsreferanse="649cbcfb-ad07-11e8-8ffd-005056821322" type="Skatt"/>
            <xsd:element minOccurs="0" name="pensjonsinntektFritattForSkattEtterSkatteavtale" skatt:begrepsreferanse="649cbce5-ad07-11e8-8ffd-005056821322" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="sumTrygdeavgift" skatt:begrepsreferanse="649cbcfa-ad07-11e8-8ffd-005056821322" skatt:erAvledet="true" type="Skatt"/>
            <xsd:element minOccurs="0" name="skattPaaAlminneligInntekt" type="Skatt"/>
            <xsd:element minOccurs="0" name="skattPaaNaeringsoverskudd" type="Skatt"/>
            <xsd:element minOccurs="0" name="skattPaaInntektOver12G" skatt:begrepsreferanse="367f2cc4-a9e1-11e8-8514-005056821322" type="Skatt"/>
            <xsd:element minOccurs="0" name="fastsattSkattEtterLoennstrekkordningen" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="betaltSkattOgAvgiftEtterLoennstrekkordningen" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="betaltSkattOgAvgiftEtterOrdningForKildeskattPaaLoenn" type="Skatt"/>
            <xsd:element minOccurs="0" name="trygdeavgiftForSykestoenadsdelForArbeidstakereUtsendtFraUSAOgCanada" type="Skatt"/>
            <xsd:element minOccurs="0" name="trygdeavgiftAvLoennsinntektOmfattetAvLoennstrekkordningPaaSvalbard" type="Skatt"/>
            <xsd:element minOccurs="0" name="skattAvEngangsutbetalingFraIPATilBo" skatt:begrepsreferanse="649cbce7-ad07-11e8-8ffd-005056821322" type="Skatt"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OevrigeResultaterAvBeregning">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="underskuddTilFremfoeringSenereAar" skatt:begrepsreferanse="367f2cd6-a9e1-11e8-8514-005056821322" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="underskuddTilFremfoeringSenereAarFraEierinntekt" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="alminneligInntektFoerSaerfradrag" skatt:begrepsreferanse="cc89e443-940f-11e9-a790-005056823b15" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="anvendtSaerfradrag" skatt:begrepsreferanse="649cbcd3-ad07-11e8-8ffd-005056821322" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="pensjonsgivendeInntekt" skatt:begrepsreferanse="649cbce4-ad07-11e8-8ffd-005056821322" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="anvendtSkattefradragVedBSUEget" skatt:begrepsreferanse="5f90f743-f16f-11e8-bd7b-005056823b15" type="Skatt"/>
            <xsd:element minOccurs="0" name="anvendtSkattefradragVedBSUOverfoertTilEktefelle" skatt:begrepsreferanse="5f90f745-f16f-11e8-bd7b-005056823b15" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="anvendtSkattefradragVedBSUOverfoertFraEktefelle" skatt:begrepsreferanse="5f90f744-f16f-11e8-bd7b-005056823b15" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="samletGrunnlagForInntektsskattTilKommuneOgFylkeskommuneStatsskattOgFellesskatt" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="negativAlminneligInntektOverfoertTilEktefelle" skatt:begrepsreferanse="5f90f747-f16f-11e8-bd7b-005056823b15" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="negativAlminneligInntektOverfoertFraEktefelle" skatt:begrepsreferanse="5f90f746-f16f-11e8-bd7b-005056823b15" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="negativFormueOverfoertFraEktefelle" skatt:begrepsreferanse="5f90f748-f16f-11e8-bd7b-005056823b15" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="saerfradragOverfoertTilEktefelle" skatt:begrepsreferanse="5f90f74a-f16f-11e8-bd7b-005056823b15" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="saerfradragOverfoertFraEktefelle" skatt:begrepsreferanse="5f90f749-f16f-11e8-bd7b-005056823b15" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="underskuddIOrdinaerAlminneligInntektPaaSvalbardTilFremfoeringSenereAar" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="underskuddIEnkeltpersonforetakPaaSvalbardTilFremfoeringSenereAar" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="alminneligInntektFoerFordelingsfradrag" skatt:begrepsreferanse="367f2c84-a9e1-11e8-8514-005056821322" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
            <xsd:element minOccurs="0" name="fordelingsfradrag" skatt:begrepsreferanse="367f2c93-a9e1-11e8-8514-005056821322" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="saerfradrag" skatt:begrepsreferanse="cf248018-dfe5-11e7-9101-005056821322" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="oevrigFormue" skatt:begrepsreferanse="367f2cda-a9e1-11e8-8514-005056821322" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
            <xsd:element minOccurs="0" name="korrigertGrunnlagForTrinnskatt" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="fradragSomKanFordelesFritt" skatt:begrepsreferanse="367f2c97-a9e1-11e8-8514-005056821322" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="inntekterSomKanFordelesFritt" skatt:begrepsreferanse="367f2ca0-a9e1-11e8-8514-005056821322" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="samletGjeld" skatt:begrepsreferanse="367f2cc6-a9e1-11e8-8514-005056821322" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element maxOccurs="5" minOccurs="0" name="fremfoerbartSkattefradragForSkattBetaltIUtlandet" skatt:begrepsreferanse="cf247fd7-dfe5-11e7-9101-005056821322" type="FremfoerbartSkattefradragForSkattBetaltIUtlandet"/>
            <xsd:element minOccurs="0" name="kildeskattPaaAksjeutbytteTilUtenlandskAksjonaer" type="Skatt"/>
            <xsd:element minOccurs="0" name="resultaterAvBeregningEtterMetodeVedDobbeltbeskatning" type="ResultaterAvBeregningEtterMetodeVedDobbeltbeskatning"/>
            <xsd:element minOccurs="0" name="endretSkattToAarEtterInntektsaaretOverfoertFraEktefelle" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="endretSkattToAarEtterInntektsaaretOverfoertTilEktefelle" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element maxOccurs="5" minOccurs="0" name="fremfoerbartSkattefradragForBetaltKildeskattPaaRenterOgRoyaltyMv" type="FremfoerbartSkattefradragForBetaltKildeskattPaaRenterOgRoyaltyMv"/>
            <xsd:element minOccurs="0" name="formuesverdiForPrimaerbolig" skatt:begrepsreferanse="367f2c96-a9e1-11e8-8514-005056821322" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="formuesverdiForSelveidFritidseiendomEllerAndelIFritidsboligselskap" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="gjeld" skatt:begrepsreferanse="410ade56-9202-11e6-8b61-82ab1fa1f30b" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
            <xsd:element minOccurs="0" name="beregnetKildeskattPaaLoenn" skatt:erAvledet="true" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="fremfoerbarNegativGrunnrenteinntektIHavbruksvirksomhet" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="fellesskattFraEierinntekt" type="Skatt"/>
            <xsd:element minOccurs="0" name="beregnetUtflyttingsskatt" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="utflyttingsskattMedUtsattBetaling" type="typekatalog:BeloepSomHeltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BeloepSomHeltallMedSkattemessigeEgenskaper">
        <xsd:sequence>
            <xsd:element name="beloep" skatt:begrepsreferanse="0af6b37c-729e-433b-853c-7b4bb20337ef" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="saerskiltSkatteplikt" type="SaerskiltSkattepliktstype"/>
            <xsd:element minOccurs="0" name="kommunenummer" skatt:begrepsreferanse="20b2e0f3-9fe1-11e5-a9f8-e4115b280940" type="typekatalog:Kommunenummer"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FremfoerbartSkattefradragForBetaltKildeskattPaaRenterOgRoyaltyMv">
        <xsd:sequence>
            <xsd:element name="inntektsaar" skatt:begrepsreferanse="6f4cdc65-b01b-409f-a936-be7046cb9391" type="typekatalog:Inntektsaar"/>
            <xsd:element name="fremfoerbartSkattefradrag" type="typekatalog:BeloepSomHeltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FremfoerbartSkattefradragForSkattBetaltIUtlandet">
        <xsd:sequence>
            <xsd:element name="inntektsaar" type="typekatalog:Inntektsaar"/>
            <xsd:element minOccurs="0" name="fremfoerbartSkattefradragForFormuesskattBetaltIUtlandet" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="fremfoerbartSkattefradragForInntektsskattBetaltIUtlandet" type="typekatalog:BeloepSomHeltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="KommunefordeltSkatt">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="kommune" skatt:begrepsreferanse="20b2e0f1-9fe1-11e5-a9f8-e4115b280940" type="typekatalog:Tekst"/>
            <xsd:element minOccurs="0" name="grunnlag" skatt:begrepsreferanse="49e69808-5955-11e6-86bf-12156fd09fb5" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="beloep" skatt:begrepsreferanse="20b2e146-9fe1-11e5-a9f8-e4115b280940" type="typekatalog:BeloepSomHeltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ResultaterAvBeregningEtterMetodeVedDobbeltbeskatning">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="globalAlminneligInntektEtterDenAlternativeFordelingsmetoden" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="beregnetSkattenedsettelseITrinnskatt" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="beregnetSkattenedsettelseISkattTilKommuneFylkeskommuneOgFellesskatt" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="globalAlminneligInntektEtterKreditmetoden" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="beregnetMaksimaltKreditfradragITrinnskatt" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="beregnetMaksimaltKreditfradragIInntektsskattTilKommuneFylkeskommuneOgFellesskatt" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="beregnetMaksimaltKreditfradragIFormuesskatt" type="typekatalog:BeloepSomHeltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ResultaterForUtflyttingsskatt">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="utflyttingsskattTilKommune" type="Skatt"/>
            <xsd:element minOccurs="0" name="utflyttingsskattTilFylkeskommune" type="Skatt"/>
            <xsd:element minOccurs="0" name="utflyttingsskattFellesskatt" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="utflyttingsskattAvTrinnskatt" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="utflyttingsskattAvTrygdeavgift" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="utflyttingsskattAvFinnmarksfradrag" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="utflyttingsskattSumSkattefradrag" type="typekatalog:BeloepSomHeltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Skatt" skatt:begrepsreferanse="6b41c6bc-50cd-11e7-b7c5-005056821322">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="kommunefordeltSkatt" type="KommunefordeltSkatt"/>
            <xsd:element minOccurs="0" name="grunnlag" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element name="beloep" type="typekatalog:BeloepSomHeltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Tolvdel">
        <xsd:restriction base="typekatalog:Heltall"/>
    </xsd:simpleType>
    <xsd:complexType name="OevrigeResultaterForFordelingstall">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="korreksjonKommuneskattPaaGrunnAvNegativEierinntekt" type="Skatt"/>
            <xsd:element minOccurs="0" name="korreksjonFylkesskattPaaGrunnAvNegativEierinntekt" type="Skatt"/>
            <xsd:element minOccurs="0" name="korreksjonFellesskattFraKommunePaaGrunnAvNegativAnnenAlminneligInntekt" type="Skatt"/>
            <xsd:element minOccurs="0" name="korreksjonFellesskattFraFylkeskommunePaaGrunnAvNegativAnnenAlminneligInntekt" type="Skatt"/>
            <xsd:element minOccurs="0" name="resultaterForUtflyttingsskattMedUtsattBetaling" type="ResultaterForUtflyttingsskatt"/>
            <xsd:element minOccurs="0" name="resultaterForUtflyttingsskattUtenUtsattBetaling" type="ResultaterForUtflyttingsskatt"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Skatteklasse" skatt:begrepsreferanse="20b2e211-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="SaerskiltSkattepliktstype" skatt:eksternKodeliste="https://git.aurora.skead.no/projects/KOLI/repos/kodeliste-prod_v2/browse/formuesOgInntektsskatt/2024_saerskiltSkatteplikt.xml">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="Valideringsresultat">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="avvik" type="Avvik"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Avvik">
        <xsd:sequence>
            <xsd:element name="avvikskode" type="typekatalog:Tekst"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
