src/resources/xsd/beregnetskatt_upersonligskattyter_v4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:no:skatteetaten:fastsetting:formueinntekt:upersonlig:beregnetskatt:v4" xmlns:skatt="http://www.skatteetaten.no/xsd" xmlns:typekatalog="urn:ske:informasjonsrammeverk:typekatalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:no:skatteetaten:fastsetting:formueinntekt:upersonlig:beregnetskatt:v4">
    <xsd:annotation>
        <xsd:documentation>
            <xsd:attribute fixed="2023-12-19T13:44:22.015+0100" name="generertDato"/>
            <xsd:attribute fixed="v4" name="versjon"/>
            <xsd:attribute fixed="" name="beskrivelse"/>
            <xsd:attribute fixed="v4 (2023)" name="modellnavn"/>
            <xsd:attribute fixed="urn:no:skatteetaten:fastsetting:formueinntekt:upersonlig:beregnetskatt:v4" name="navnerom"/>
            <xsd:attribute fixed="false" name="begrepsreferanse"/>
            <xsd:attribute fixed="false" name="dokumentasjon"/>
            <xsd:attribute fixed="false" name="nillable"/>
            <xsd:attribute fixed="false" name="modellelement"/>
            <xsd:attribute fixed="false" name="norskeTegn"/>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="urn:ske:informasjonsrammeverk:typekatalog" schemaLocation="typekatalog/typekatalog_v2.xsd"/>
    <xsd:element name="beregnetSkatt" type="BeregnetSkatt"/>
    <xsd:complexType name="BeregnetSkatt">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="skatt" type="Skatt"/>
            <xsd:element minOccurs="0" name="skattefradrag" type="Skattefradrag"/>
            <xsd:element minOccurs="0" name="oevrig" type="OevrigeResultaterAvBeregning"/>
            <xsd:element minOccurs="0" name="beregnetSkatt" skatt:erAvledet="true" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skattOgFradragSkalIkkeBeregnes" type="typekatalog:Boolsk"/>
            <xsd:element minOccurs="0" name="informasjonTilSkattelister" type="InformasjonTilSkattelister"/>
            <xsd:element minOccurs="0" name="skattetillegg" type="Skattetillegg"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InformasjonTilSkattelister">
        <xsd:sequence>
            <xsd:element name="organisasjonsnummer" type="typekatalog:Organisasjonsnummer"/>
            <xsd:element minOccurs="0" name="kommune" type="typekatalog:Kommunenummer"/>
            <xsd:element name="nettoinntekt" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element name="nettoformue" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element name="beregnetSkatt" type="typekatalog:BeloepSomHeltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Skatt">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sumSkatt" skatt:erAvledet="true" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="formuesskattTilStat" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="inntektsskattTilStat" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="tonnasjeskatt" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="grunnrenteskatt" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="naturressursskatt" type="BeloepMedSpesifisertKommune"/>
            <xsd:element minOccurs="0" name="kraftforetaketsSamledeNaturressursskatt" skatt:erAvledet="true" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="inntektsskattTilStatFraVirksomhetPaaSokkel" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="saerskatt" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="positivGrunnrenteskattIHavbruksvirksomhet" type="typekatalog:BeloepSomHeltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Skattefradrag">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="skattefradragForKostnaderTilFoU" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skattefradragForNaturressursskatt" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skatteverdiAvNegativSamordnetGrunnrenteinntekt" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skattefradragForFormuesskattBetaltIUtlandet" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skattefradragForInntektsskattBetaltIUtlandet" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skattefradragForSkattBetaltIUtlandetAvAnnenUtenlandsinntekt" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skattefradragForSkattBetaltIUtlandetAvInntektFraVirksomhetEllerNOKUSILavskattland" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skattefradragForSkattBetaltIUtlandetAvUtbytteEllerOverskuddFraUtenlandskDatterselskap" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="andreSkattefradragForVirksomhetPaaSokkel" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skattefradragForBetaltKildeskattPaaRenterOgRoyaltyMv" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skatteverdiAvUdekketUnderskuddFom2002Tom2019" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skatteverdiAvUbenyttetFriinntektFom2002Tom2019" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skatteverdiAvAaretsUnderskuddISaerskattegrunnlagetTilUtbetaling" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="negativGrunnrenteskattVedRealisasjonEllerOpphoerAvGrunnrenteskattepliktigHavbruksvirksomhet" type="typekatalog:BeloepSomHeltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Skattetillegg">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="tilleggIBeregnetSkattKnyttetTilSkattefunn" type="typekatalog:BeloepSomHeltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OevrigeResultaterAvBeregning">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="renteAvUbenyttetSkattefradragForNaturressursskatt" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="skattefradragForKostnaderTilFoUFoerReduksjon" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="ubenyttetSkattefradragForNaturressursskattInklRenterTilFremfoering" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ubenyttetNegativGrunnrenteinntektFraFoer2007TilFremfoering" type="UbenyttetNegativGrunnrenteinntektFraFoer2007"/>
            <xsd:element minOccurs="0" name="sumFordeltPositivSamordnetGrunnrenteinntekt" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="sumGrunnlagForNaturressursskatt" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element maxOccurs="5" minOccurs="0" name="fremfoerbartSkattefradragForBetaltKildeskattPaaRenterOgRoyaltyMv" type="FremfoerbartSkattefradragForBetaltKildeskattPaaRenterOgRoyaltyMv"/>
            <xsd:element maxOccurs="5" minOccurs="0" name="fremfoerbartSkattefradragForSkattBetaltIUtlandetAvAnnenUtenlandsinntekt" type="FremfoerbartSkattefradragForSkattBetaltIUtlandet"/>
            <xsd:element maxOccurs="5" minOccurs="0" name="fremfoerbartSkattefradragForSkattBetaltIUtlandetAvInntektFraVirksomhetEllerNOKUSILavskattland" type="FremfoerbartSkattefradragForSkattBetaltIUtlandet"/>
            <xsd:element minOccurs="0" name="fradragsberettigetAndelAvUnderliggendeSelskapsskattTilFremfoering" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="negativGrunnrenteinntektIHavbruksvirksomhetTilFremfoering" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="renterAvNegativGrunnrenteinntektIHavbruksvirksomhetTilFremfoering" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="negativGrunnrenteinntektIHavbruksvirksomhetInklRenterTilFremfoering" type="typekatalog:BeloepSomHeltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FremfoerbartSkattefradragForBetaltKildeskattPaaRenterOgRoyaltyMv">
        <xsd:sequence>
            <xsd:element name="inntektsaar" type="typekatalog:Inntektsaar"/>
            <xsd:element name="fremfoerbartSkattefradrag" type="typekatalog:BeloepSomHeltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FremfoerbartSkattefradragForSkattBetaltIUtlandet">
        <xsd:sequence>
            <xsd:element name="inntektsaar" type="typekatalog:Inntektsaar"/>
            <xsd:element minOccurs="0" name="fremfoerbartSkattefradragForFormuesskattBetaltIUtlandet" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="fremfoerbartSkattefradragForInntektsskattBetaltIUtlandet" type="typekatalog:BeloepSomHeltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UbenyttetNegativGrunnrenteinntektFraFoer2007">
        <xsd:sequence>
            <xsd:element name="kraftverketsLoepenummer" type="typekatalog:Tekst"/>
            <xsd:element name="renteAvUbenyttetNegativGrunnrenteinntektFraFoer2007" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element name="ubenyttetNegativGrunnrenteinntektFraFoer2007InklRente" type="typekatalog:BeloepSomHeltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BeloepMedSpesifisertKommune">
        <xsd:sequence>
            <xsd:element name="beloep" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element name="kommune" type="typekatalog:Kommunenummer"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>