src/resources/xsd/naeringsspesifikasjon_v4_kompakt_ekstern.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:no:skatteetaten:fastsetting:formueinntekt:naeringsspesifikasjon:ekstern:v4" xmlns:skatt="http://www.skatteetaten.no/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:no:skatteetaten:fastsetting:formueinntekt:naeringsspesifikasjon:ekstern:v4">
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute fixed="2023-05-23T08:30:09.732+0200" name="generertDato" />
      <xsd:attribute fixed="v4" name="versjon" />
      <xsd:attribute fixed="" name="beskrivelse" />
      <xsd:attribute fixed="Næringsspesifikasjon v4" name="modellnavn" />
      <xsd:attribute fixed="urn:no:skatteetaten:fastsetting:formueinntekt:naeringsspesifikasjon:ekstern:v4" name="navnerom" />
      <xsd:attribute fixed="false" name="begrepsreferanse" />
      <xsd:attribute fixed="false" name="dokumentasjon" />
      <xsd:attribute fixed="false" name="nillable" />
      <xsd:attribute fixed="false" name="modellelement" />
      <xsd:attribute fixed="false" name="norskeTegn" />
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="naeringsspesifikasjon" type="Naeringsspesifikasjon" />
  <xsd:complexType name="Naeringsspesifikasjon">
    <xsd:sequence>
      <xsd:element name="partsreferanse" type="Tekst" />
      <xsd:element name="inntektsaar" type="Aarstall" />
      <xsd:element minOccurs="0" name="resultatregnskap" type="Resultatregnskap" />
      <xsd:element minOccurs="0" name="balanseregnskap" type="Balanseregnskap" />
      <xsd:element minOccurs="0" name="spesifikasjonAvAnleggsmiddel" type="SpesifikasjonAvAnleggsmiddel" />
      <xsd:element minOccurs="0" name="beregnetNaeringsinntekt" type="BeregnetNaeringsinntekt" />
      <xsd:element minOccurs="0" name="beregnetPersoninntekt" type="BeregnetPersoninntekt" />
      <xsd:element minOccurs="0" name="forskjellMellomRegnskapsmessigOgSkattemessigVerdi" type="ForskjellMellomRegnskapsmessigOgSkattemessigVerdi" />
      <xsd:element name="virksomhet" type="Virksomhet" />
      <xsd:element minOccurs="0" name="samletGjeldOgFormuesobjekter" type="SamletGjeldOgFormuesobjekter" />
      <xsd:element minOccurs="0" name="spesifikasjonAvOmloepsmiddel" type="SpesifikasjonAvOmloepsmiddel" />
      <xsd:element minOccurs="0" name="naeringsspesifikasjonOpprettet" type="DokumentOpprettet" />
      <xsd:element minOccurs="0" name="egenkapitalavstemming" type="Egenkapitalavstemming" />
      <xsd:element minOccurs="0" name="andreForhold" type="AndreForhold" />
      <xsd:element minOccurs="0" name="skalBekreftesAvRevisor" type="Boolsk" />
      <xsd:element minOccurs="0" name="skogbruk" type="Skogbruk" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="vedlegg" type="Vedlegg" />
      <xsd:element minOccurs="0" name="funksjonellValuta" type="FunksjonellValuta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SamletGjeldOgFormuesobjekter">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="verdiFoerVerdsettingsrabattForFormuesobjekterOmfattetAvVerdsettingsrabatt" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring" />
      <xsd:element minOccurs="0" name="formuesverdiForFormuesobjekterIkkeOmfattetAvVerdsettingsrabatt" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring" />
      <xsd:element minOccurs="0" name="samletGjeld" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="samletGjeldOgFormuesobjekterTilordnetInnehaverPerKommune" type="SamletGjeldOgFormuesobjekterTilordnetInnehaverPerKommune" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SamletGjeldOgFormuesobjekterTilordnetInnehaverPerKommune">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element minOccurs="0" name="kommunenummer" type="KommunenummerMedInnkapsling" />
      <xsd:element minOccurs="0" name="samletGjeldTilordnetInnehaver" type="BeloepMedSkattemessigeEgenskaperOgOverstyring" />
      <xsd:element minOccurs="0" name="formuesverdiForFormuesobjekterIkkeOmfattetAvVerdsettingsrabattTilordnetInnehaver" type="BeloepMedSkattemessigeEgenskaperOgOverstyring" />
      <xsd:element minOccurs="0" name="verdiFoerVerdsettingsrabattForFormuesobjekterOmfattetAvVerdsettingsrabattTilordnetInnehaver" type="BeloepMedSkattemessigeEgenskaperOgOverstyring" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FunksjonellValuta">
    <xsd:sequence>
      <xsd:element name="funksjonellValutakurs" type="FunksjonellValutakursMedInnkapsling" />
      <xsd:element name="funksjonellValutakode" type="FunksjonellValutakodeMedInnkapsling" />
      <xsd:element minOccurs="0" name="funksjonellValutaverdi" type="HeltallMedInnkapsling" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Tekst">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4000" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Aarstall">
    <xsd:restriction base="xsd:gYear" />
  </xsd:simpleType>
  <xsd:complexType name="Resultatregnskap">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="driftsinntekt" type="Driftsinntekt" />
      <xsd:element minOccurs="0" name="driftskostnad" type="Driftskostnad" />
      <xsd:element minOccurs="0" name="sumFinansinntekt" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sumFinanskostnad" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sumBankOgForsikringsinntektEllerKostnadSomIkkeBlirOmklassifisertTilResultatet" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sumBankOgForsikringsinntektEllerKostnadSomKanBliOmklassifisertTilResultatet" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sumSkattekostnad" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="finansinntekt" type="Finansinntekt" />
      <xsd:element minOccurs="0" name="finanskostnad" type="Finanskostnad" />
      <xsd:element minOccurs="0" name="bankOgForsikringsinntektEllerKostnadSomIkkeBlirOmklassifisertTilResultatet" type="BankOgForsikringsinntektEllerKostnadSomIkkeBlirOmklassifisertTilResultatet" />
      <xsd:element minOccurs="0" name="skattekostnad" type="Skattekostnad" />
      <xsd:element minOccurs="0" name="resultatkomponentForIFRSForetak" type="ResultatkomponentForIFRSForetak" />
      <xsd:element minOccurs="0" name="bankOgForsikringsinntektEllerKostnadSomKanBliOmklassifisertTilResultatet" type="BankOgForsikringsinntektEllerKostnadSomKanBliOmklassifisertTilResultatet" />
      <xsd:element minOccurs="0" name="endringIEgenkapitalInnenBankOgForsikring" type="EndringIEgenkapitalInnenBankOgForsikring" />
      <xsd:element minOccurs="0" name="sumResultatkomponentForIFRSForetak" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sumEndringIEgenkapitalBankOgForsikring" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="aarsresultat" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Balanseregnskap">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="anleggsmiddel" type="Anleggsmiddel" />
      <xsd:element minOccurs="0" name="omloepsmiddel" type="Omloepsmiddel" />
      <xsd:element minOccurs="0" name="gjeldOgEgenkapital" type="GjeldOgEgenkapital" />
      <xsd:element minOccurs="0" name="sumBalanseverdiForEiendel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sumGjeldOgEgenkapital" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="balanseverdiForBankOgForsikringseiendel" type="BalanseverdiForBankOgForsikringseiendel" />
      <xsd:element minOccurs="0" name="annenSpesifikasjonAvBalanseregnskap" type="AnnenSpesifikasjonAvBalanseregnskap" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SpesifikasjonAvAnleggsmiddel">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ikkeAvskrivbartAnleggsmiddel" type="IkkeAvskrivbartAnleggsmiddel" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="saldoavskrevetAnleggsmiddel" type="SaldoavskrevetAnleggsmiddel" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="lineaertavskrevetAnleggsmiddel" type="LineaertavskrevetAnleggsmiddel" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="motorkjoeretoeyINaering" type="MotorkjoeretoeyINaering" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="gevinstOgTapskonto" type="GevinstOgTapskonto" />
      <xsd:element minOccurs="0" name="saerskiltAnleggsmiddelIKraftverk" type="SaerskiltAnleggsmiddelIKraftverk" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="saerskiltAnleggsmiddelForVirksomhetOmfattetAvPetroleumsskatteloven" type="SaerskiltAnleggsmiddelForVirksomhetOmfattetAvPetroleumsskatteloven"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="gevinstOgTapskontoVedRealisasjonAvAnleggsmiddelOmfattetAvPetroleumsskatteloven" type="GevinstOgTapskontoVedRealisasjonAvAnleggsmiddelOmfattetAvPetroleumsskatteloven"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeregnetNaeringsinntekt">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="fordeltBeregnetNaeringsinntektForPersonligSkattepliktigEllerSdf" type="FordeltBeregnetNaeringsinntektForPersonligSkattepliktigEllerSelskapMedDeltakerfastsetting" />
      <xsd:element maxOccurs="2" minOccurs="0" name="fordeltBeregnetNaeringsinntektForUpersonligSkattepliktig" type="FordeltBeregnetNaeringsinntektForUpersonligSkattepliktig" />
      <xsd:element minOccurs="0" name="sumTilleggINaeringsinntekt" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sumFradragINaeringsinntekt" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sumEndringIMidlertidigForskjell" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="skattemessigResultat" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="fordeltBeregnetNaeringsinntektForVirksomhetOmfattetAvPetroleumsskatteloven" type="FordeltBeregnetNaeringsinntektForVirksomhetOmfattetAvPetroleumsskatteloven"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeregnetPersoninntekt">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="fordeltBeregnetPersoninntekt" type="FordeltBeregnetPersoninntekt" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ForskjellMellomRegnskapsmessigOgSkattemessigVerdi">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="permanentForskjell" type="PermanentForskjell" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="midlertidigForskjell" type="MidlertidigForskjell" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="midlertidigForskjellForVirksomhetOmfattetAvPetroleumsskatteloven" type="MidlertidigForskjellForVirksomhetOmfattetAvPetroleumsskatteloven" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="permanentForskjellForVirksomhetOmfattetAvPetroleumsskatteloven" type="PermanentForskjellForVirksomhetOmfattetAvPetroleumsskatteloven" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Virksomhet">
    <xsd:sequence>
      <xsd:element name="regnskapspliktstype" type="RegnskapspliktstypeMedInnkapsling" />
      <xsd:element name="regnskapsperiode" type="Periode" />
      <xsd:element name="virksomhetstype" type="VirksomhetstypeMedInnkapsling" />
      <xsd:element minOccurs="0" name="regeltypeForAarsregnskap" type="RegeltypeForAarsregnskapMedInnkapsling" />
      <xsd:element minOccurs="0" name="kontaktperson" type="Kontaktinformasjon" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SpesifikasjonAvOmloepsmiddel">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="spesifikasjonAvSkattemessigVerdiPaaFordring" type="SpesifikasjonAvSkattemessigVerdiPaaFordring" />
      <xsd:element maxOccurs="2" minOccurs="0" name="spesifikasjonAvVarelager" type="SpesifikasjonAvVarelager" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DokumentOpprettet">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="brukeridentifikator" type="Tekst" />
      <xsd:element minOccurs="0" name="brukeridentifikatortype" type="Brukeridentifikatortype" />
      <xsd:element minOccurs="0" name="opprettetDato" type="DatoKlokkeslett" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Egenkapitalavstemming">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element minOccurs="0" name="utsattSkattefordel" type="BeloepMedSkattemessigeEgenskaper" />
        <xsd:element minOccurs="0" name="utsattSkatt" type="BeloepMedSkattemessigeEgenskaper" />
      </xsd:choice>
      <xsd:element minOccurs="0" name="inngaaendeEgenkapital" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sumTilleggIEgenkapital" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sumFradragIEgenkapital" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sumNettoPositivPrinsippendring" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sumNettoNegativPrinsippendring" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="prinsippendring" type="Prinsippendring" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="egenkapitalendring" type="Egenkapitalendring" />
      <xsd:element minOccurs="0" name="utgaaendeEgenkapital" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AndreForhold">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="overnattingsOgServeringssted" type="OvernattingsOgServeringssted" />
      <xsd:element minOccurs="0" name="ytelseFraSelskapEllerSelskapetsDatterselskap" type="YtelseMellomAksjonaerDeltakerEllerNaerstaaendeOgSelskapEllerSelskapetsDatterselskap" />
      <xsd:element minOccurs="0" name="ytelseFraAksjonaerDeltakerEllerNaerstaaende" type="YtelseMellomAksjonaerDeltakerEllerNaerstaaendeOgSelskapEllerSelskapetsDatterselskap" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="loeyveForDrosjeOgGodstransport" type="LoeyveForDrosjeOgGodstransport" />
      <xsd:element minOccurs="0" name="omsetningOgEtterbetalingISamvirkeforetak" type="OmsetningOgEtterbetalingISamvirkeforetak"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Boolsk">
    <xsd:restriction base="xsd:boolean" />
  </xsd:simpleType>
  <xsd:complexType name="Skogbruk">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="skogOgToemmerkonto" type="SkogOgToemmerkonto" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vedlegg">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element minOccurs="0" name="vedleggsnavn" type="TekstMedInnkapsling" />
      <xsd:element minOccurs="0" name="vedleggsfil" type="Vedleggsfil" />
      <xsd:element minOccurs="0" name="vedleggstype" type="VedleggskategoriMedInnkapsling" />
      <xsd:element minOccurs="0" name="informasjonselementidentifikator" type="TekstMedInnkapsling" />
      <xsd:element minOccurs="0" name="forekomstidentifikator" type="TekstMedInnkapsling" />
      <xsd:element minOccurs="0" name="utvekslingsarkividentifikator" type="TekstMedInnkapsling" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeloepMedSkattemessigeEgenskaperOgOverstyring">
    <xsd:sequence>
      <xsd:element name="beloep" type="BeloepMedInnkapsling" />
      <xsd:element minOccurs="0" name="erOverstyrt" type="BoolskMedInnkapsling" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KommunenummerMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="kommunenummer" type="Kommunenummer" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FunksjonellValutakursMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="funksjonellValutakurs" type="Valutakurs" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FunksjonellValutakodeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="funksjonellValutakode" type="Valutakode" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HeltallMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="heltall" type="Heltall" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Driftsinntekt">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sumDriftsinntekt" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="salgsinntekt" type="Salgsinntekt" />
      <xsd:element minOccurs="0" name="annenDriftsinntekt" type="AnnenDriftsinntekt" />
      <xsd:element minOccurs="0" name="bankOgForsikringsinntekt" type="BankOgForsikringsinntekt" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Driftskostnad">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sumDriftskostnad" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="varekostnad" type="Varekostnad" />
      <xsd:element minOccurs="0" name="loennskostnad" type="Loennskostnad" />
      <xsd:element minOccurs="0" name="annenDriftskostnad" type="AnnenDriftskostnad" />
      <xsd:element minOccurs="0" name="bankOgForsikringskostnad" type="BankOgForsikringskostnad" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeloepMedSkattemessigeEgenskaper">
    <xsd:sequence>
      <xsd:element name="beloep" type="BeloepMedInnkapsling" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Finansinntekt">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="inntekt" type="Resultatregnskapsforekomst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Finanskostnad">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kostnad" type="Resultatregnskapsforekomst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BankOgForsikringsinntektEllerKostnadSomIkkeBlirOmklassifisertTilResultatet">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="inntektEllerKostnad" type="Resultatregnskapsforekomst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Skattekostnad">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kostnad" type="Resultatregnskapsforekomst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResultatkomponentForIFRSForetak">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="resultatkomponent" type="Resultatregnskapsforekomst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BankOgForsikringsinntektEllerKostnadSomKanBliOmklassifisertTilResultatet">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="inntektEllerKostnad" type="Resultatregnskapsforekomst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EndringIEgenkapitalInnenBankOgForsikring">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="endringsbeloep" type="Resultatregnskapsforekomst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Anleggsmiddel">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sumBalanseverdiForAnleggsmiddel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="balanseverdiForAnleggsmiddel" type="BalanseverdiForAnleggsmiddel" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Omloepsmiddel">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sumBalanseverdiForOmloepsmiddel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="balanseverdiForOmloepsmiddel" type="BalanseverdiForOmloepsmiddel" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GjeldOgEgenkapital">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sumLangsiktigGjeld" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sumKortsiktigGjeld" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sumEgenkapital" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="langsiktigGjeld" type="LangsiktigGjeld" />
      <xsd:element minOccurs="0" name="kortsiktigGjeld" type="KortsiktigGjeld" />
      <xsd:element minOccurs="0" name="egenkapital" type="Egenkapital" />
      <xsd:element minOccurs="0" name="gjeldInnenBankOgForsikring" type="GjeldInnenBankOgForsikring" />
      <xsd:element minOccurs="0" name="sumGjeldInnenBankOgForsikring" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BalanseverdiForBankOgForsikringseiendel">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="balanseverdi" type="Balanseregnskapsforekomst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AnnenSpesifikasjonAvBalanseregnskap">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="anleggsmiddelkomponentForIFRSForetak" type="AnleggsmiddelkomponentForIFRSForetak" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kontoForUtsattInntektsfoering" type="KontoForUtsattInntektsfoering" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="finansieltDerivatSomEiendel" type="FinansieltDerivat" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="finansieltDerivatSomGjeldEllerAvsetning" type="FinansieltDerivat" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="spesifikasjonAvBetingetSkattefriGevinst" type="SpesifikasjonAvBetingetSkattefriGevinst" />
      <xsd:element minOccurs="0" name="sumSkattemessigVerdiAvFinansieltDerivatSomEiendel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sumSkattemessigVerdiAvFinansieltDerivatSomGjeldEllerAvsetning" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sumRegnskapsmessigVerdiAvFinansieltDerivatSomEiendel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sumRegnskapsmessigVerdiAvFinansieltDerivatSomGjeldEllerAvsetning" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="immateriellEiendelOgVarigAnleggsmiddelForVirksomhetOmfattetAvPetroleumsskatteloven" type="ImmateriellEiendelOgVarigAnleggsmiddelForVirksomhetOmfattetAvPetroleumsskatteloven" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="AnleggsmiddelFelles">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element name="objektidentifikator" type="TekstMedInnkapsling" />
      <xsd:element minOccurs="0" name="objektbeskrivelse" type="TekstMedInnkapsling" />
      <xsd:element minOccurs="0" name="ervervsdato" type="DatoMedInnkapsling" />
      <xsd:element minOccurs="0" name="realisasjonsdato" type="DatoMedInnkapsling" />
      <xsd:element minOccurs="0" name="inngaaendeVerdi" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="paakostning" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="offentligTilskudd" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="justeringAvInngaaendeMva" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="vederlagVedRealisasjonOgUttak" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="vederlagVedRealisasjonOgUttakInntektsfoertIAar" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="erRealisasjonenUfrivilligOgGevinstenBetingetSkattefri" type="BoolskMedInnkapsling" />
      <xsd:element minOccurs="0" name="erstatningsbeloepVedUfrivilligRealisasjon" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="reinvestertBetingetSkattefriSalgsgevinst" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="nedskrivningPaaNyanskaffelserMedBetingetSkattefriSalgsgevinst" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="objektidentifikatorNedskrivningenMedBetingetSkattefriSalgsgevinstGjelder" type="TekstMedInnkapsling" />
      <xsd:element minOccurs="0" name="tilskuddTilInvesteringIDistriktene" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="tilbakefoeringAvTilskuddTilInvesteringIDistriktene" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="grunnlagForAvskrivningOgInntektsfoering" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="utgaaendeVerdi" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="gevinstOverfoertTilGevinstOgTapskonto" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="tapOverfoertTilGevinstOgTapskonto" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="gjelderVirksomhetPaaSokkel" type="BoolskMedInnkapsling" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IkkeAvskrivbartAnleggsmiddel">
    <xsd:complexContent>
      <xsd:extension base="AnleggsmiddelFelles">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="nyanskaffelse" type="BeloepMedSkattemessigeEgenskaper" />
          <xsd:element minOccurs="0" name="justeringForAapenbarVerdiendring" type="BeloepMedSkattemessigeEgenskaper" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SaldoavskrevetAnleggsmiddel">
    <xsd:complexContent>
      <xsd:extension base="AnleggsmiddelFelles">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="aaretsAvskrivning" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
          <xsd:element minOccurs="0" name="aaretsInntektsfoeringAvNegativSaldo" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
          <xsd:element name="saldogruppe" type="SaldogruppeMedInnkapsling" />
          <xsd:element name="avskrivningssats" type="ProsentMedInnkapsling" />
          <xsd:element minOccurs="0" name="nyanskaffelse" type="BeloepMedSkattemessigeEgenskaper" />
          <xsd:element minOccurs="0" name="nedskrevetVerdiAvUtskiltAnleggsmiddel" type="BeloepMedSkattemessigeEgenskaper" />
          <xsd:element name="erDetFysiskAnleggsmiddelIUtgaaendeVerdi" type="BoolskMedInnkapsling" />
          <xsd:element minOccurs="0" name="forretningsbyggAnskaffetFoer01011984" type="ForretningsbyggAnskaffetFoer01011984" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LineaertavskrevetAnleggsmiddel">
    <xsd:complexContent>
      <xsd:extension base="AnleggsmiddelFelles">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="anskaffelseskost" type="BeloepMedSkattemessigeEgenskaper" />
          <xsd:element minOccurs="0" name="justeringForAapenbarVerdiendring" type="BeloepMedSkattemessigeEgenskaper" />
          <xsd:element minOccurs="0" name="levetid" type="HeltallMedInnkapsling" />
          <xsd:element minOccurs="0" name="aaretsAvskrivning" type="BeloepMedSkattemessigeEgenskaper" />
          <xsd:element minOccurs="0" name="verdiOverfoertFraPaakostningVedRealisasjon" type="BeloepMedSkattemessigeEgenskaper" />
          <xsd:element minOccurs="0" name="verdiOverfoertTilAnleggsmiddelVedRealisasjon" type="BeloepMedSkattemessigeEgenskaper" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MotorkjoeretoeyINaering">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element name="kjennemerke" type="TekstMedInnkapsling" />
      <xsd:element name="aarForFoerstegangsregistrering" type="AarstallMedInnkapsling" />
      <xsd:element name="biltype" type="BiltypeMedInnkapsling" />
      <xsd:element minOccurs="0" name="listeprisSomNy" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="drivstoffkostnad" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="vedlikeholdskostnad" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="kostnadTilForsikringOgAvgift" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="leasingleie" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="saldoavskrivningPrivatBruk" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element name="antallKilometerYrkeskjoering" type="HeltallMedInnkapsling" />
      <xsd:element name="antallKilometerKjoertIAar" type="HeltallMedInnkapsling" />
      <xsd:element minOccurs="0" name="disponertIPeriode" type="PeriodePerDatoMedInnkapsling" />
      <xsd:element minOccurs="0" name="erElektroniskKjoerebokFoertVedroerendeYrkeskjoering" type="BoolskMedInnkapsling" />
      <xsd:element name="erYrkesbilenIBrukPrivat" type="BoolskMedInnkapsling" />
      <xsd:element minOccurs="0" name="tilbakefoertBilkostnadForPrivatBrukAvYrkesbil" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GevinstOgTapskonto">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element name="gevinstOgTapskontoIdentifikator" type="TekstMedInnkapsling" />
      <xsd:element name="kommunenummer" type="KommunenummerMedInnkapsling" />
      <xsd:element minOccurs="0" name="inngaaendeVerdi" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sumGevinstVedRealisasjonOgUttak" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sumTapVedRealisasjonOgUttak" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="gevinstVedRealisasjonAvHelBuskapPaaGaardsbrukVedOpphoerAvDriftsgren" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="inngaaendeVerdiFraErvervetGevinstOgTapskonto" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="verdiAvRealisertGevinstOgTapskonto" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="grunnlagForAaretsInntektsOgFradragsfoering" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="satsForInntektsfoeringOgInntektsfradrag" type="ProsentMedInnkapsling" />
      <xsd:element minOccurs="0" name="inntektFraGevinstOgTapskonto" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="inntektsfradragFraGevinstOgTapskonto" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="utgaaendeVerdi" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="gevinstOgTapskontoStammerFraRealisasjonAvTomtFraAlminneligJordbrukEllerSkogbrukInnvunnetTom2015OgGirIkkePersoninntekt" type="BoolskMedInnkapsling" />
      <xsd:element minOccurs="0" name="gevinstOgTapskontoStammerFraGevinstFraRealisasjonAvAlminneligGaardsbrukEllerSkogbrukInnvunnetFom2016" type="BoolskMedInnkapsling" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SaerskiltAnleggsmiddelIKraftverk">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="samletAvskrivningForSaerskiltAnleggsmiddelIKraftverk" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="utgaaendeVerdiForSaerskiltAnleggsmiddelIKraftverk" type="BeloepMedSkattemessigeEgenskaper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SaerskiltAnleggsmiddelForVirksomhetOmfattetAvPetroleumsskatteloven">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="feltnavn" type="FeltnavnForVirksomhetOmfattetAvPetroleumsskattelovenMedInnkapsling"/>
      <xsd:element minOccurs="0" name="avskrivningsregel" type="AvskrivningsregelForVirksomhetOmfattetAvPetroleumsskattelovenMedInnkapsling"/>
      <xsd:element minOccurs="0" name="samletKostpris" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="samletKorreksjonAvKostprisSomFoelgeAvRealisasjon" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="samletKorreksjonAvKostprisSomFoelgeAvOverdragelseMv" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="samletKostprisEtterKorreksjon" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="aaretsSamledeAvskrivningIAlminneligInntektFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="utgaaendeVerdiAlminneligInntektFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="aaretsSamledeAvskrivningISaerskattegrunnlagFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="utgaaendeVerdiSaerskattegrunnlagFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element maxOccurs="unbounded" name="saerskiltAnleggsmiddelForVirksomhetOmfattetAvPetroleumsskattelovenPerInvesteringsaar" type="SaerskiltAnleggsmiddelForVirksomhetOmfattetAvPetroleumsskattelovenPerInvesteringsaar"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GevinstOgTapskontoVedRealisasjonAvAnleggsmiddelOmfattetAvPetroleumsskatteloven">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="feltnavn" type="FeltnavnForVirksomhetOmfattetAvPetroleumsskattelovenMedInnkapsling"/>
      <xsd:element minOccurs="0" name="realisasjonsregel" type="RealisasjonsregelForVirksomhetOmfattetAvPetroleumsskattelovenMedInnkapsling"/>
      <xsd:element minOccurs="0" name="samletNettogevinstIAlminneligInntektFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="samletNettotapIAlminneligInntektFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="samletNettogevinstISaerskattegrunnlagFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="samletNettotapISaerskattegrunnlagFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="aaretsSamledeInntektsfoeringIAlminneligInntektFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="aaretsSamledeFradragsfoeringIAlminneligInntektFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="utgaaendeVerdiAlminneligInntektFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="aaretsSamledeInntektsfoeringISaerskattegrunnlagFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="aaretsSamledeFradragsfoeringISaerskattegrunnlagFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="utgaaendeVerdiSaerskattegrunnlagFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element maxOccurs="unbounded" name="gevinstOgTapskontoVedRealisasjonAvAnleggsmiddelOmfattetAvPetroleumsskattelovenPerRealisasjonsaar" type="GevinstOgTapskontoVedRealisasjonAvAnleggsmiddelOmfattetAvPetroleumsskattelovenPerRealisasjonsaar"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FordeltBeregnetNaeringsinntektForPersonligSkattepliktigEllerSelskapMedDeltakerfastsetting">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element minOccurs="0" name="kommunenummer" type="KommunenummerMedInnkapsling" />
      <xsd:element minOccurs="0" name="identifikatorForFordeltBeregnetPersoninntekt" type="TekstMedInnkapsling" />
      <xsd:element minOccurs="0" name="identifikatorForFordeltBeregnetNaeringsinntekt" type="TekstMedInnkapsling" />
      <xsd:element minOccurs="0" name="naeringstype" type="NaeringstypeMedInnkapsling" />
      <xsd:element minOccurs="0" name="naeringsbeskrivelse" type="TekstMedInnkapsling" />
      <xsd:element minOccurs="0" name="fordeltSkattemessigResultat" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sjablongberegnetInntektFraBiomasseVedproduksjon" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sjablongberegnetFradragFraBiomasseVedproduksjon" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="korreksjonFraReindrift" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring" />
      <xsd:element minOccurs="0" name="reindrift" type="Reindrift" />
      <xsd:element minOccurs="0" name="fradragForRenterINaeringPaaSvalbard" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="fremfoertUnderskuddIEnkeltpersonforetakPaaSvalbardFraTidligereAar" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="fordeltSkattemessigResultatEtterKorreksjon" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring" />
      <xsd:element minOccurs="0" name="andelAvFordeltSkattemessigResultatTilordnetInnehaver" type="ProsentMedInnkapsling" />
      <xsd:element minOccurs="0" name="fordeltSkattemessigResultatEtterKorreksjonTilordnetInnehaver" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FordeltBeregnetNaeringsinntektForUpersonligSkattepliktig">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element minOccurs="0" name="kommunenummer" type="KommunenummerMedInnkapsling" />
      <xsd:element minOccurs="0" name="fordeltSkattemessigResultat" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="utbetaltEtterbetalingMvTilMedlemIEgetSamvirkeforetak" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="fordeltSkattemessigResultatEtterKorreksjon" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FordeltBeregnetNaeringsinntektForVirksomhetOmfattetAvPetroleumsskatteloven">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fordeltTilleggINaeringsinntekt" skatt:erAvledet="true" type="BeloepForVirksomhetOmfattetAvPetroleumsskatteloven"/>
      <xsd:element minOccurs="0" name="fordeltFradragINaeringsinntekt" skatt:erAvledet="true" type="BeloepForVirksomhetOmfattetAvPetroleumsskatteloven"/>
      <xsd:element minOccurs="0" name="fordeltEndringIMidlertidigForskjell" skatt:erAvledet="true" type="BeloepForVirksomhetOmfattetAvPetroleumsskatteloven"/>
      <xsd:element minOccurs="0" name="fordeltSkattemessigResultat" skatt:erAvledet="true" type="BeloepForVirksomhetOmfattetAvPetroleumsskatteloven"/>
      <xsd:element minOccurs="0" name="fordeltSkattemessigResultatEtterKorreksjon" skatt:erAvledet="true" type="FordeltSkattemessigResultatEtterKorreksjonForVirksomhetOmfattetAvPetroleumsskatteloven"/>
      <xsd:element minOccurs="0" name="fordelingAvNettoFinanskostnaderPaaloeptPaaRentebaerendeGjeldOmfattetAvPetroleumsskatteloven" type="FordelingAvNettoFinanskostnaderPaaloeptPaaRentebaerendeGjeldOmfattetAvPetroleumsskatteloven"/>
      <xsd:element minOccurs="0" name="skattemessigNedskrevetFormuesverdiForAnleggsmiddelISaerskattegrunnlagTilordnetVirksomhetPaaSokkel" type="SkattemessigNedskrevetFormuesverdiForAnleggsmiddelISaerskattegrunnlagTilordnetVirksomhetPaaSokkel" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FordeltBeregnetPersoninntekt">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element name="identifikatorForFordeltBeregnetPersoninntekt" type="TekstMedInnkapsling" />
      <xsd:element name="identifikatorForFordeltBeregnetNaeringsinntekt" type="TekstMedInnkapsling" />
      <xsd:element minOccurs="0" name="rentekostnadPaaForetaksgjeld" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="kapitalinntektTilKorrigeringAvPersoninntekt" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="kapitalkostnadTilKorrigeringAvPersoninntekt" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="reduksjonsbeloepForLeidEiendomMotInnskudd" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="gevinstVedRealisasjonAvAlminneligGaardsbrukEllerSkogbrukTilKorrigeringAvPersoninntekt" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="inntektsfoertBeloepFraGevinstOgTapskontoSomIkkeInngaarIPersoninntekt" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="fradragsfoertBeloepFraGevinstOgTapskontoSomIkkeInngaarIPersoninntekt" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sumSkjermingsgrunnlagFoerGjeldsfradrag" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sumSkjermingsgrunnlagEtterGjeldsfradrag" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="skjermingsfradrag" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="spesifikasjonAvSkjermingsgrunnlag" type="SpesifikasjonAvSkjermingsgrunnlag" />
      <xsd:element minOccurs="0" name="skjermingsrente" type="ProsentMedInnkapsling" />
      <xsd:element minOccurs="0" name="aaretsBeregnedePersoninntektFoerFordelingOgSamordning" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring" />
      <xsd:element minOccurs="0" name="antallMaanederDrevetIAar" type="HeltallMedInnkapsling" />
      <xsd:element name="andelAvPersoninntektTilordnetInnehaver" type="ProsentMedInnkapsling" />
      <xsd:element minOccurs="0" name="aaretsBeregnedePersoninntektFoerFordelingOgSamordningTilordnetInnehaver" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PermanentForskjell">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element name="permanentForskjellstype" type="PermanentForskjellstypeMedInnkapsling" />
      <xsd:element name="beloep" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="beskrivelse" type="TekstMedInnkapsling" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MidlertidigForskjell">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element name="midlertidigForskjellstype" type="MidlertidigForskjellstypeMedInnkapsling" />
      <xsd:element minOccurs="0" name="regnskapsmessigVerdi" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="skattemessigVerdi" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="regnskapsmessigVerdiForrigeInntektsaar" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="skattemessigVerdiForrigeInntektsaar" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="beskrivelse" type="TekstMedInnkapsling" />

    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MidlertidigForskjellForVirksomhetOmfattetAvPetroleumsskatteloven">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element name="midlertidigForskjellstype" type="MidlertidigForskjellstypeMedInnkapsling" />
      <xsd:element minOccurs="0" name="regnskapsmessigVerdi" type="BeloepForVirksomhetOmfattetAvPetroleumsskatteloven" />
      <xsd:element minOccurs="0" name="skattemessigVerdi" type="BeloepForVirksomhetOmfattetAvPetroleumsskatteloven" />
      <xsd:element minOccurs="0" name="regnskapsmessigVerdiForrigeInntektsaar" type="BeloepForVirksomhetOmfattetAvPetroleumsskatteloven" />
      <xsd:element minOccurs="0" name="skattemessigVerdiForrigeInntektsaar" type="BeloepForVirksomhetOmfattetAvPetroleumsskatteloven" />
      <xsd:element minOccurs="0" name="beskrivelse" type="TekstMedInnkapsling" />

    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PermanentForskjellForVirksomhetOmfattetAvPetroleumsskatteloven">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element name="permanentForskjellstype" type="PermanentForskjellstypeMedInnkapsling" />
      <xsd:element name="beloep" type="BeloepForVirksomhetOmfattetAvPetroleumsskatteloven" />
      <xsd:element minOccurs="0" name="beskrivelse" type="TekstMedInnkapsling" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegnskapspliktstypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="regnskapspliktstype" type="Regnskapspliktstype" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Periode">
    <xsd:sequence>
      <xsd:element name="start" type="DatoKlokkeslett" />
      <xsd:element minOccurs="0" name="slutt" type="DatoKlokkeslett" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VirksomhetstypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="virksomhetstype" type="Virksomhetstype" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegeltypeForAarsregnskapMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="regeltypeForAarsregnskap" type="RegeltypeForAarsregnskap" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kontaktinformasjon">
    <xsd:sequence>
      <xsd:element name="navn" type="Navn" />
      <xsd:element minOccurs="0" name="telefonnummer" type="Telefonnummer" />
      <xsd:element minOccurs="0" name="epostadresse" type="Epostadresse" />
      <xsd:element minOccurs="0" name="mobiltelefonummer" type="Telefonnummer" />
      <xsd:element minOccurs="0" name="smsNummer" type="Telefonnummer" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SpesifikasjonAvSkattemessigVerdiPaaFordring">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="kundefordringOgIkkeFakturertDriftsinntekt" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="konstatertTapPaaKundefordring" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="konstatertTapPaaKundefordringIFjor" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="kredittsalg" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="kredittsalgIFjor" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="skattemessigNedskrivningPaaKundefordring" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="skattemessigVerdiPaaKundefordring" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="annenFordring" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="skattemessigNedskrivningPaaKundefordringForNyetablertVirksomhet" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element name="sumSkattemessigVerdiPaaFordring" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SpesifikasjonAvVarelager">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element name="verditype" type="VerditypeMedInnkapsling" />
      <xsd:element minOccurs="0" name="raavareOgInnkjoeptHalvfabrikata" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="vareUnderTilvirkning" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="ferdigTilvirketVare" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="innkjoeptVareForVideresalg" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="buskap" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="selvprodusertVareBenyttetIEgenProduksjon" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="reinPelsdyrOgPelsdyrskinnPaaLager" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sumVerdiAvVarelager" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Brukeridentifikatortype" skatt:eksternKodeliste="inline">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="partsnummer" />
      <xsd:enumeration value="saksbehandleridentifikator" />
      <xsd:enumeration value="systemidentifikator" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DatoKlokkeslett">
    <xsd:restriction base="xsd:dateTime" />
  </xsd:simpleType>
  <xsd:complexType name="Prinsippendring">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element minOccurs="0" name="positivPrinsippendring" type="BeloepMedSkattemessigeEgenskaper" />
        <xsd:element minOccurs="0" name="negativPrinsippendring" type="BeloepMedSkattemessigeEgenskaper" />
      </xsd:choice>
      <xsd:element name="id" type="Tekst" />
      <xsd:element name="resultatOgBalanseregnskapstype" type="ResultatOgBalanseregnskapstype" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Egenkapitalendring">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element name="egenkapitalendringstype" type="EgenkapitalendringstypeMedInnkapsling" />
      <xsd:element name="beloep" type="BeloepMedSkattemessigeEgenskaper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OvernattingsOgServeringssted">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kassasystem" type="Kassasystem" />
      <xsd:element minOccurs="0" name="privatUttakAvVarer" type="PrivatUttakAvVarer" />
      <xsd:element minOccurs="0" name="representasjon" type="Representasjon" />
      <xsd:element name="id" type="Tekst" />
      <xsd:element minOccurs="0" name="organisasjonsnummer" type="Organisasjonsnummer" />
      <xsd:element minOccurs="0" name="foedselsnummer" type="Foedselsnummer" />
      <xsd:element minOccurs="0" name="avgiftspliktigInntektFraInngangspenger" type="BeloepSomHeltall" />
      <xsd:element minOccurs="0" name="avgiftsfriInntektFraInngangspenger" type="BeloepSomHeltall" />
      <xsd:element minOccurs="0" name="garderobeinntekt" type="BeloepSomHeltall" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="varelagerPerVareart" type="VarelagerPerVareart" />
      <xsd:element minOccurs="0" name="skalBekreftesAvRevisor" type="Boolsk" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="YtelseMellomAksjonaerDeltakerEllerNaerstaaendeOgSelskapEllerSelskapetsDatterselskap">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="laan" type="Laan" />
      <xsd:element minOccurs="0" name="sikkerhetsstillelse" type="Sikkerhetsstillelse" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="realisasjonOgUtleieAvFormuesobjektMv" type="RealisasjonOgUtleieAvFormuesobjektMv" />
      <xsd:element minOccurs="0" name="totaltUtdeltUtbytteVedUtgangAvInntektsaar" type="BeloepSomHeltall" />
      <xsd:element minOccurs="0" name="renterAvEgenkapitalbevis" type="BeloepSomHeltall" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LoeyveForDrosjeOgGodstransport">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element minOccurs="0" name="loeyvenummer" type="Tekst" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kjoeretoey" type="Kjoeretoey" />
      <xsd:element minOccurs="0" name="bransje" type="Bransje" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OmsetningOgEtterbetalingISamvirkeforetak">
    <xsd:sequence>
      <xsd:element name="vilkaarForFradragForEtterbetalingUtdeltTilMedlemmerErOppfylt" type="BoolskMedInnkapsling"/>
      <xsd:element minOccurs="0" name="skattepliktigNaeringsinntektForSamvirkeforetak" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="skattepliktigNaeringsinntektFraOmsetningMedMedlemIEgetSamvirkeforetak" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="omsetningMedMedlemIEgetSamvirkeforetak" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="omsetningMedMedlemIAnnetSamvirkeforetak" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="oevrigOmsetning" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="samletOmsetning" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="andelAvOmsetningSomKommerFraMedlemIEgetSamvirkeforetak" skatt:erAvledet="true" type="ProsentMedInnkapsling"/>
      <xsd:element minOccurs="0" name="etterbetalingTilMedlemIEgetSamvirkeforetak" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="etterbetalingTilMedlemIAnnetSamvirkeforetak" type="BeloepMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SkogOgToemmerkonto">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element name="driftsenhet" type="TekstMedInnkapsling" />
      <xsd:element minOccurs="0" name="inngaaendeVerdiPaaToemmerkonto" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="driftsresultatSomKanOverfoeresTilToemmerkonto" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="andelAvDriftsresultatSomOverfoeresTilToemmerkonto" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="inngaaendeVerdiFraErvervetToemmerkonto" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="verdiPaaAndelAvRealisertToemmerkonto" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element name="grunnlagForInntektOgFradragPaaToemmerkontoIInntektsaaret" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="skogfond" type="Skogfond" />
      <xsd:element minOccurs="0" name="ekstraordinaerFordelingAvToemmeravvirkningEtterNaturkatastrofe" type="EkstraordinaerFordelingAvToemmeravvirkningEtterNaturkatastrofe" />
      <xsd:element minOccurs="0" name="inntektOgKostnad" type="InntektOgKostnad" />
      <xsd:element minOccurs="0" name="satsForInntektsfoeringOgInntektsfradrag" type="ProsentMedInnkapsling" />
      <xsd:element minOccurs="0" name="inntektFraToemmerkonto" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="inntektsfradragFraToemmerkonto" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="utgaaendeVerdiPaaToemmerkonto" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TekstMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="tekst" type="Tekst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vedleggsfil">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="opprinneligFilnavn" type="TekstMedInnkapsling" />
      <xsd:element minOccurs="0" name="opprinneligFiltype" type="TekstMedInnkapsling" />
      <xsd:element minOccurs="0" name="filensOpprinneligDatoOgTid" type="DatoKlokkeslettMedInnkapsling" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VedleggskategoriMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="vedleggskategori" type="Vedleggskategori" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Tilstand" skatt:eksternKodeliste="inline">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="egenfastsetting" />
      <xsd:enumeration value="endretEgenfastsetting" />
      <xsd:enumeration value="ugyldigEgenfastsetting" />
      <xsd:enumeration value="varsletMyndighetsfastsetting" />
      <xsd:enumeration value="vedtattMyndighetsfastsetting" />
      <xsd:enumeration value="varsletKontroll" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Brukeridentifikator">
    <xsd:sequence>
      <xsd:element name="identifikator" type="Tekst" />
      <xsd:element name="identifikatortype" type="Brukeridentifikatortype" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kildedokumentreferanse">
    <xsd:sequence>
      <xsd:element name="kildedokumentidentifikator" type="Uri" />
      <xsd:element minOccurs="0" name="kildedokumenttype" type="Tekst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeloepMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="beloep" type="BeloepMed2Desimaler" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BoolskMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="boolsk" type="Boolsk" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Kommunenummer" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_aktiveKommunenummer.xml">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([0-9]){4}" />
      <xsd:length value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Desimaltall">
    <xsd:restriction base="xsd:decimal" />
  </xsd:simpleType>
  <xsd:simpleType name="Valutakurs">
    <xsd:restriction base="Desimaltall" />
  </xsd:simpleType>
  <xsd:simpleType name="Valutakode">
    <xsd:restriction base="Tekst" />
  </xsd:simpleType>
  <xsd:simpleType name="Heltall">
    <xsd:restriction base="xsd:long" />
  </xsd:simpleType>
  <xsd:complexType name="Salgsinntekt">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="inntekt" type="Resultatregnskapsforekomst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AnnenDriftsinntekt">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="inntekt" type="Resultatregnskapsforekomst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BankOgForsikringsinntekt">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="inntekt" type="Resultatregnskapsforekomst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Varekostnad">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kostnad" type="Resultatregnskapsforekomst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Loennskostnad">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kostnad" type="Resultatregnskapsforekomst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AnnenDriftskostnad">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kostnad" type="Resultatregnskapsforekomst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BankOgForsikringskostnad">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kostnad" type="Resultatregnskapsforekomst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Resultatregnskapsforekomst">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element name="type" type="ResultatOgBalanseregnskapstypeMedInnkapsling" />
      <xsd:element name="beloep" type="BeloepMedSkattemessigeEgenskaper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeloepForVirksomhetOmfattetAvPetroleumsskatteloven">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="beloepSaerskattegrunnlagFraVirksomhetPaaSokkel" type="BeloepMedSkattemessigeEgenskaperOgOverstyring" />
      <xsd:element minOccurs="0" name="beloepAlminneligInntektFraVirksomhetPaaSokkel" type="BeloepMedSkattemessigeEgenskaperOgOverstyring" />
      <xsd:element minOccurs="0" name="beloepAlminneligInntektFraVirksomhetPaaLand" type="BeloepMedSkattemessigeEgenskaperOgOverstyring" />
      <xsd:element minOccurs="0" name="beloepResultatAvFinansinntektOgFinanskostnadMv" type="BeloepMedSkattemessigeEgenskaperOgOverstyring" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeloepForVirksomhetOmfattetAvPetroleumsskatteloven">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="beloepSaerskattegrunnlagFraVirksomhetPaaSokkel" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="beloepAlminneligInntektFraVirksomhetPaaSokkel" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="beloepAlminneligInntektFraVirksomhetPaaLand" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="beloepResultatAvFinansinntektOgFinanskostnadMv" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BalanseverdiForAnleggsmiddel">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="balanseverdi" type="Balanseregnskapsforekomst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BalanseverdiForOmloepsmiddel">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="balanseverdi" type="Balanseregnskapsforekomst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LangsiktigGjeld">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="gjeld" type="Balanseregnskapsforekomst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KortsiktigGjeld">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="gjeld" type="Balanseregnskapsforekomst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Egenkapital">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kapital" type="Balanseregnskapsforekomst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GjeldInnenBankOgForsikring">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="gjeld" type="Balanseregnskapsforekomst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Balanseregnskapsforekomst">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element minOccurs="0" name="beloep" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="kundeportefoeljebeloep" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="selskapsportefoeljebeloep" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element name="type" type="ResultatOgBalanseregnskapstypeMedInnkapsling" />
      <xsd:element minOccurs="0" name="ekskluderesFraSkattemeldingen" type="BoolskMedInnkapsling" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AnleggsmiddelkomponentForIFRSForetak">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element name="type" type="ResultatOgBalanseregnskapstype" />
      <xsd:element minOccurs="0" name="virkeligVerdi" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="annenVerdsettingsverdi" type="BeloepMedSkattemessigeEgenskaper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KontoForUtsattInntektsfoering">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element name="kontoForUtsattInntektsfoering" type="KontotypeSomOmfattesAvOvergangsregelForAvsetningerKnyttetTilRisikoprodukterOgRisikoutjevningsfondMedInnkapsling" />
      <xsd:element minOccurs="0" name="historiskVerdi" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="inngaaendeVerdi" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="inntektsfoertVerdi" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="utgaaendeVerdi" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinansieltDerivat">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element name="finansieltDerivattype" type="FinansieltDerivattypeMedInnkapsling" />
      <xsd:element minOccurs="0" name="regnskapsmessigVerdi" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="skattemessigVerdi" type="BeloepMedSkattemessigeEgenskaper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SpesifikasjonAvBetingetSkattefriGevinst">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element minOccurs="0" name="objektidentifikator" type="TekstMedInnkapsling" />
      <xsd:element minOccurs="0" name="objektbeskrivelse" type="TekstMedInnkapsling" />
      <xsd:element minOccurs="0" name="erstatningsbeloep" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="betingetSkattefriGevinst" type="BeloepMedSkattemessigeEgenskaper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ImmateriellEiendelOgVarigAnleggsmiddelForVirksomhetOmfattetAvPetroleumsskatteloven">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="type" type="ImmateriellEiendelOgVarigAnleggsmiddeltypeMedInnkapsling" />
      <xsd:element minOccurs="0" name="inngaaendeVerdi" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="tilgang" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="avgang" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="omklassifisering" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="aaretsAvskrivning" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="nedskrivning" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="utgaaendeVerdi" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DatoMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="dato" type="Dato" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SaldogruppeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="saldogruppe" type="Saldogruppe" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProsentMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="prosent" type="Prosent" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ForretningsbyggAnskaffetFoer01011984">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="historiskKostpris" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="nedskrevetVerdiPr01011984" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="nedreGrenseForAvskrivning" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AarstallMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="aarstall" type="Aarstall" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BiltypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="biltype" type="Biltype" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PeriodePerDatoMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="start" type="DatoMedInnkapsling" />
      <xsd:element minOccurs="0" name="slutt" type="DatoMedInnkapsling" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Beloep">
    <xsd:restriction base="Desimaltall" />
  </xsd:simpleType>
  <xsd:simpleType name="BeloepMed2Desimaler">
    <xsd:restriction base="Beloep">
      <xsd:fractionDigits value="2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="FeltnavnForVirksomhetOmfattetAvPetroleumsskattelovenMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="feltnavn" type="FeltnavnForVirksomhetOmfattetAvPetroleumsskatteloven"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AvskrivningsregelForVirksomhetOmfattetAvPetroleumsskattelovenMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="avskrivningsregel" type="AvskrivningsregelForVirksomhetOmfattetAvPetroleumsskatteloven"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SaerskiltAnleggsmiddelForVirksomhetOmfattetAvPetroleumsskattelovenPerInvesteringsaar">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="investeringsaar" type="AarstallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="kostpris" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="korreksjonAvKostprisSomFoelgeAvRealisasjon" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="korreksjonAvKostprisSomFoelgeAvOverdragelseMv" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="kostprisEtterKorreksjon" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="aaretsAvskrivningIAlminneligInntektFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="utgaaendeVerdiAlminneligInntektFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="aaretsAvskrivningISaerskattegrunnlagFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="utgaaendeVerdiSaerskattegrunnlagFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RealisasjonsregelForVirksomhetOmfattetAvPetroleumsskattelovenMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="inntektsEllerFradragsfoeringsregel" type="RealisasjonsregelForVirksomhetOmfattetAvPetroleumsskatteloven"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GevinstOgTapskontoVedRealisasjonAvAnleggsmiddelOmfattetAvPetroleumsskattelovenPerRealisasjonsaar">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="realisasjonsaar" type="AarstallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="gevinstIAlminneligInntektFraVirksomhetPaaSokkel" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="tapIAlminneligInntektFraVirksomhetPaaSokkel" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="gevinstISaerskattegrunnlagFraVirksomhetPaaSokkel" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="tapISaerskattegrunnlagFraVirksomhetPaaSokkel" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="aaretsInntektsfoeringIAlminneligInntektFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="aaretsFradragsfoeringIAlminneligInntektFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="utgaaendeVerdiAlminneligInntektFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="aaretsInntektsfoeringISaerskattegrunnlagFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="aaretsFradragsfoeringISaerskattegrunnlagFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="utgaaendeVerdiSaerskattegrunnlagFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NaeringstypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="naeringstype" type="Naeringstype" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Reindrift">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="korrigeringForKapitalInntektOgKapitalkostnad" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="korrigeringForBeloepFraGevinstOgTapskonto" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="korrigertResultat" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="resultatForToAarSiden" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="resultatIFjor" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="gjennomsnittsinntekt" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="korreksjonForDifferanseMellomKorrigertResultatOgGjennomsnittsinntekt" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="uttakFraAvviklingsOgOmstillingsfondForReineiere" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="innskuddIAvviklingsOgOmstillingsfondForReineiere" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="korreksjonForEndringIAvviklingsOgOmstillingsfondForReineiere" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FordeltSkattemessigResultatEtterKorreksjonForVirksomhetOmfattetAvPetroleumsskatteloven">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="beloepSaerskattegrunnlagFraVirksomhetPaaSokkel" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="beloepAlminneligInntektFraVirksomhetPaaSokkel" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="beloepAlminneligInntektFraVirksomhetPaaLand" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FordelingAvNettoFinanskostnaderPaaloeptPaaRentebaerendeGjeldOmfattetAvPetroleumsskatteloven">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="gjennomgsnittligRentebaerendeGjeld" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="sumSkattemessigNedskrevetFormuesverdForAnleggsmiddelISaerskattegrunnlagTilordnetVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="sumNettoFinanskostnader" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="rentekostnaderPaaRentebaerendeGjeld" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="realisertValutagevinstPaaKortsiktigRentebaerendeGjeld" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="realisertValutatapPaaKortsiktigRentebaerendeGjeld" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="urealisertValutagevinstPaaKortsiktigRentebaerendeGjeld" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="urealisertValutatapPaaKortsiktigRentebaerendeGjeld" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="sumNettoFinanskostnaderForVirksomhetPaaSokkel" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="aaretsSkattemessigeAktiverteRentekostnader" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="andelAvFinanskostnaderSomErFradragsberettigetIInntektFraVirksomhetPaaSokkel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SkattemessigNedskrevetFormuesverdiForAnleggsmiddelISaerskattegrunnlagTilordnetVirksomhetPaaSokkel">
  <xsd:sequence>
      <xsd:element minOccurs="0" name="anleggsmiddelSomRoerledningProduksjonsinnretningMv" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="varigOgBetydeligAnleggsmiddelMv" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="anleggsmiddelKnyttetTilEgetForskningOgUtviklingsprosjekt" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="annetErvervetImmaterieltFormuesobjektEnnErvervetForretningsverdi" type="BeloepMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SpesifikasjonAvSkjermingsgrunnlag">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element name="skjermingsgrunnlagstype" type="SkjermingsgrunnlagstypeMedInnkapsling" />
      <xsd:element name="inngaaendeVerdi" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element name="utgaaendeVerdi" type="BeloepMedSkattemessigeEgenskaper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PermanentForskjellstypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="permanentForskjellstype" type="PermanentForskjellstype" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MidlertidigForskjellstypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="midlertidigForskjellstype" type="MidlertidigForskjellstype" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Regnskapspliktstype" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_regnskapsplikttype.xml">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ingenRegnskapsplikt" />
      <xsd:enumeration value="fullRegnskapsplikt" />
      <xsd:enumeration value="begrensetRegnskapsplikt" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Virksomhetstype" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_virksomhetstype.xml">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="RegeltypeForAarsregnskap" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_regeltypeForAarsregnskap">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="Navn">
    <xsd:restriction base="Tekst">
      <xsd:minLength value="1" />
      <xsd:maxLength value="200" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Telefonnummer">
    <xsd:restriction base="Tekst">
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Epostadresse">
    <xsd:restriction base="Tekst">
      <xsd:maxLength value="254" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="VerditypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="verditype" type="Verditype" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ResultatOgBalanseregnskapstype" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_resultatregnskapOgBalanse.xml">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:complexType name="EgenkapitalendringstypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="egenkapitalendringstype" type="Egenkapitalendringstype" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kassasystem">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element name="anskaffelsesaarAvKassasystem" type="Aarstall" />
      <xsd:element minOccurs="0" name="kassasystemtype" type="Kassasystemtype" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PrivatUttakAvVarer">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="uttakAvVarerTilPrivatBrukErVerdsattTilOmsetningsverdi" type="Boolsk" />
      <xsd:element minOccurs="0" name="privateUttakErFoertPaaPrivatkonto" type="Boolsk" />
      <xsd:element minOccurs="0" name="samletUttakAvVarerTilPrivatBrukFoertSomSalgsinntekt" type="BeloepSomHeltall" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Representasjon">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="uttakAvKostVarerMvTilRepresentasjon" type="Boolsk" />
      <xsd:element minOccurs="0" name="uttaksverdiErVerdsattTilOmsetningsverdi" type="Boolsk" />
      <xsd:element minOccurs="0" name="paaslagVedUttakAvKostVarerMvTilRepresentasjon" type="Prosent" />
      <xsd:element minOccurs="0" name="samletUttakAvKostVarerMvTilRepresentasjon" type="BeloepSomHeltall" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Organisasjonsnummer">
    <xsd:restriction base="Tekst">
      <xsd:pattern value="[0-9]+" />
      <xsd:length value="9" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Foedselsnummer">
    <xsd:restriction base="Tekst">
      <xsd:pattern value="[0-9]+" />
      <xsd:length value="11" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BeloepSomHeltall">
    <xsd:restriction base="Heltall" />
  </xsd:simpleType>
  <xsd:complexType name="VarelagerPerVareart">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element name="vareart" type="Vareart" />
      <xsd:element name="varelagerPer1Januar" type="BeloepSomHeltall" />
      <xsd:element name="varelagerPer31Desember" type="BeloepSomHeltall" />
      <xsd:element name="solgteVarersInntakskost" type="BeloepSomHeltall" />
      <xsd:element name="salgsinntektOgUttak" type="BeloepSomHeltall" />
      <xsd:element name="salgsinntekterIKontant" type="BeloepSomHeltall" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Laan">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element minOccurs="0" name="inntektsfoerteRenter" type="BeloepSomHeltall" />
        <xsd:element minOccurs="0" name="kostnadsfoerteRenter" type="BeloepSomHeltall" />
      </xsd:choice>
      <xsd:element name="laanesaldoVedUtgangAvInntektsaar" type="BeloepSomHeltall" />
      <xsd:element minOccurs="0" name="laanesaldoPer061015" type="BeloepSomHeltall" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sikkerhetsstillelse">
    <xsd:sequence>
      <xsd:element name="beloepVedUtgangAvInntektsaar" type="BeloepSomHeltall" />
      <xsd:element minOccurs="0" name="beloepPer061015" type="BeloepSomHeltall" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RealisasjonOgUtleieAvFormuesobjektMv">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element name="formuesobjekt" type="FormuesobjektVedRealisasjonEllerUtleieMellomSelskapOgNaerstaaendeMv" />
      <xsd:element minOccurs="0" name="prisingsmetode" type="Prisingsmetode" />
      <xsd:element minOccurs="0" name="utleieverdiForFormuesobjekt" type="BeloepSomHeltall" />
      <xsd:element minOccurs="0" name="verdiForSolgtEllerUttattVareEllerFormuesobjekt" type="BeloepSomHeltall" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kjoeretoey">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element name="kjennemerke" type="Tekst" />
      <xsd:element minOccurs="0" name="drosjevirksomhetErKnyttetTilEnSentral" type="Boolsk" />
      <xsd:element minOccurs="0" name="taksametertype" type="Taksametertype" />
      <xsd:element minOccurs="0" name="antallLiterDrivstoff" type="Antall" />
      <xsd:element minOccurs="0" name="kjoereinntektKontant" type="BeloepSomHeltall" />
      <xsd:element minOccurs="0" name="inntektFraPersontransportMedKortEllerEtterskuddsvis12ProsentMVA" type="BeloepSomHeltall" />
      <xsd:element minOccurs="0" name="inntektFraVaretransportMedKredittkortEllerEtterskuddsvis25ProsentMVA" type="BeloepSomHeltall" />
      <xsd:element minOccurs="0" name="kjoereinntektFakturertOffentligeEtater" type="BeloepSomHeltall" />
      <xsd:element minOccurs="0" name="tipsMedKredittkortEllerEtterskuddsvis" type="BeloepSomHeltall" />
      <xsd:element minOccurs="0" name="tipsKontant" type="BeloepSomHeltall" />
      <xsd:element minOccurs="0" name="lengdeMedSkolebarnkjoering" type="Antall" />
      <xsd:element minOccurs="0" name="lengdeMedBesattBilNaarTaksameterErIBruk" type="Antall" />
      <xsd:element minOccurs="0" name="beloepFraBomturerRegistrertPaaTaksameter" type="BeloepSomHeltall" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Bransje" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_bransjetype.xml">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:complexType name="Skogfond">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst" />
      <xsd:element minOccurs="0" name="kommunenummer" type="KommunenummerMedInnkapsling" />
      <xsd:element minOccurs="0" name="utbetaltFraSkogfondkontoTilFormaalMedSkattefordel" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="utbetaltFraSkogfondkontoTilFormaalUtenSkattefordel" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="innbetaltOffentligTilskuddTilSkogfondkonto" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="innbetaltOffentligTilskuddTilSkogfondkontoTilInvesteringForetattTidligereAar" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="tilbakefoeringAvTidligereBeregnetSkattefordelPaaSkogfondkonto" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="skattefordelAvSkogfond" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="skattepliktigInntektAvSkogfond" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EkstraordinaerFordelingAvToemmeravvirkningEtterNaturkatastrofe">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="inngaaendeVerdiAvToemmeravvirkning" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="inntektsfoertBeloepAvToemmeravvirkning" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="utgaaendeVerdiAvToemmeravvirkning" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InntektOgKostnad">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="salgsinntektOgUttakFraSkurtoemmerMassevirkeRotsalgMv" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="salgsinntektOgUttakAvVedOgBiomasse" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="andreDriftsinntekter" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="leieinntekterFraJaktFiskeTorvuttakMv" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="inntektFraGevinstOgTapskonto" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="inntektsfradragFraGevinstOgTapskonto" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="inntektsfoeringAvNegativSaldo" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="tilleggForPositivMidlertidigForskjell" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="reduksjonForNegativMidlertidigForskjell" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="driftskostnader" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="andelAvDriftskostnaderTilJaktFiskeMv" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="driftsresultatFraJaktFiskeOgLeieinntekt" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaper" />
      <xsd:element minOccurs="0" name="sjablongberegnetFradragKnyttetTilBiomasseOgVedproduksjon" type="BeloepMedSkattemessigeEgenskaper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DatoKlokkeslettMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="datoKlokkeslett" type="DatoKlokkeslett" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Vedleggskategori" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_vedleggskategori.xml">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="Uri">
    <xsd:restriction base="Tekst" />
  </xsd:simpleType>
  <xsd:complexType name="ResultatOgBalanseregnskapstypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="resultatOgBalanseregnskapstype" type="ResultatOgBalanseregnskapstype" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KontotypeSomOmfattesAvOvergangsregelForAvsetningerKnyttetTilRisikoprodukterOgRisikoutjevningsfondMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="kontotypeSomOmfattesAvOvergansregelForAvsetningerKnyttetTilRisikoprodukterOgRisikoutjevningsfond" type="KontotypeSomOmfattesAvOvergangsregelForAvsetningerKnyttetTilRisikoprodukterOgRisikoutjevningsfond" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinansieltDerivattypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="finansieltDerivattype" type="FinansieltDerivattype" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ImmateriellEiendelOgVarigAnleggsmiddeltypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="immateriellEiendelOgVarigAnleggsmiddeltype" type="ImmateriellEiendelOgVarigAnleggsmiddeltype" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Dato">
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="Saldogruppe" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_saldogruppe.xml">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="Prosent">
    <xsd:restriction base="Desimaltall" />
  </xsd:simpleType>
  <xsd:simpleType name="Biltype" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_biltype.xml">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="FeltnavnForVirksomhetOmfattetAvPetroleumsskatteloven" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_feltnavnForVirksomhetOmfattetAvPetroleumsskatteloven.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="AvskrivningsregelForVirksomhetOmfattetAvPetroleumsskatteloven" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_avskrivningsregelForVirksomhetOmfattetAvPetroleumsskatteloven.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="RealisasjonsregelForVirksomhetOmfattetAvPetroleumsskatteloven" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_realisasjonsregelForVirksomhetOmfattetAvPetroleumsskatteloven.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Naeringstype" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_naeringstype.xml">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:complexType name="SkjermingsgrunnlagstypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="skjermingsgrunnlagstype" type="Skjermingsgrunnlagstype" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="PermanentForskjellstype" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_permanentForskjellstype.xml">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="MidlertidigForskjellstype" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_midlertidigForskjellstype.xml">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="Verditype" skatt:eksternKodeliste="inline">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="regnskapsmessigVerdi" />
      <xsd:enumeration value="skattemessigVerdi" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Egenkapitalendringstype" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_egenkapitalendringstype.xml">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="Kassasystemtype" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_kassasystemtype.xml">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="Vareart" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_vareart.xml">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="FormuesobjektVedRealisasjonEllerUtleieMellomSelskapOgNaerstaaendeMv" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_formuesobjektVedRealisasjonEllerUtleieMellomSelskapOgNaerstaaendeMv.xml">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="Prisingsmetode" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_prisingsmetode.xml">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="Taksametertype" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_taksametertype.xml">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="Antall">
    <xsd:restriction base="Heltall" />
  </xsd:simpleType>
  <xsd:simpleType name="KontotypeSomOmfattesAvOvergangsregelForAvsetningerKnyttetTilRisikoprodukterOgRisikoutjevningsfond" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_kontotypeSomOmfattesAvOvergangsregelForAvsetningerKnyttetTilRisikoprodukterOgRisikoutjevningsfond.xml">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="FinansieltDerivattype" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_finansieltDerivattype.xml">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="ImmateriellEiendelOgVarigAnleggsmiddeltype" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_immateriellEiendelOgVarigAnleggsmiddeltype.xml">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="Skjermingsgrunnlagstype" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2023_skjermingsgrunnlagstype.xml">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
</xsd:schema>