src/resources/xsd/naeringsspesifikasjon_v2_ekstern.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:no:skatteetaten:fastsetting:formueinntekt:naeringsspesifikasjon:ekstern:v2" xmlns:skatt="http://www.skatteetaten.no/xsd" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:no:skatteetaten:fastsetting:formueinntekt:naeringsspesifikasjon:ekstern:v2">
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute fixed="2022-01-17T08:53:30.896+0100" name="generertDato"/>
      <xsd:attribute fixed="v2" name="versjon"/>
      <xsd:attribute fixed="" name="beskrivelse"/>
      <xsd:attribute fixed="Næringsspesifikasjon v2" name="modellnavn"/>
      <xsd:attribute fixed="urn:no:skatteetaten:fastsetting:formueinntekt:naeringsspesifikasjon:ekstern:v2" name="navnerom"/>
      <xsd:attribute fixed="true" name="begrepsreferanse"/>
      <xsd:attribute fixed="true" name="dokumentasjon"/>
      <xsd:attribute fixed="false" name="nillable"/>
      <xsd:attribute fixed="false" name="modellelement"/>
      <xsd:attribute fixed="false" name="norskeTegn"/>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="naeringsspesifikasjon" type="Naeringsspesifikasjon"/>
  <xsd:complexType name="Naeringsspesifikasjon">
    <xsd:sequence>
      <xsd:element name="partsreferanse" type="Tekst"/>
      <xsd:element name="inntektsaar" type="Aarstall"/>
      <xsd:element minOccurs="0" name="resultatregnskap" type="Resultatregnskap"/>
      <xsd:element minOccurs="0" name="balanseregnskap" type="Balanseregnskap"/>
      <xsd:element minOccurs="0" name="spesifikasjonAvAnleggsmiddel" type="SpesifikasjonAvAnleggsmiddel"/>
      <xsd:element minOccurs="0" name="beregnetNaeringsinntekt" type="BeregnetNaeringsinntekt"/>
      <xsd:element minOccurs="0" name="beregnetPersoninntekt" type="BeregnetPersoninntekt"/>
      <xsd:element minOccurs="0" name="forskjellMellomRegnskapsmessigOgSkattemessigVerdi" type="ForskjellMellomRegnskapsmessigOgSkattemessigVerdi"/>
      <xsd:element name="virksomhet" type="Virksomhet"/>
      <xsd:element minOccurs="0" name="samletGjeldOgFormuesobjekter" type="SamletGjeldOgFormuesobjekter"/>
      <xsd:element minOccurs="0" name="spesifikasjonAvOmloepsmiddel" type="SpesifikasjonAvOmloepsmiddel"/>
      <xsd:element minOccurs="0" name="naeringsspesifikasjonOpprettet" type="DokumentOpprettet"/>
      <xsd:element minOccurs="0" name="egenkapitalavstemming" type="Egenkapitalavstemming"/>
      <xsd:element minOccurs="0" name="andreForhold" type="AndreForhold"/>
      <xsd:element minOccurs="0" name="skogbruk" type="Skogbruk"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="vedlegg" type="Vedlegg"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SamletGjeldOgFormuesobjekter">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element minOccurs="0" name="verdiFoerVerdsettingsrabattForFormuesobjekterOmfattetAvVerdsettingsrabatt" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="formuesverdiForFormuesobjekterIkkeOmfattetAvVerdsettingsrabatt" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="samletGjeld" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="verdiFoerVerdsettingsrabattForFormuesobjekterOmfattetAvVerdsettingsrabattTilordnetInnehaver" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="formuesverdiForFormuesobjekterIkkeOmfattetAvVerdsettingsrabattTilordnetInnehaver" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="samletGjeldTilordnetInnehaver" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Tekst" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af3-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>vilkårlig lang sekvens av tegn inkludert aksenter og spesielle tegn fra standardiserte tegnsett</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4000"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Aarstall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e14a-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>årstall er et tall som angir årets nummer i tidsregningen i den gregorianske kalender</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:gYear"/>
  </xsd:simpleType>
  <xsd:complexType name="Resultatregnskap">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="driftsinntekt" type="Driftsinntekt"/>
      <xsd:element minOccurs="0" name="driftskostnad" type="Driftskostnad"/>
      <xsd:element minOccurs="0" name="sumFinansinntekt" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="sumFinanskostnad" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="sumEkstraordinaerPost" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="sumSkattekostnad" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="sumResultatkomponentForIFRSForetak" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="aarsresultat" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="finansinntekt" type="Finansinntekt"/>
      <xsd:element minOccurs="0" name="finanskostnad" type="Finanskostnad"/>
      <xsd:element minOccurs="0" name="ekstraordinaerPost" type="EkstraordinaerPost"/>
      <xsd:element minOccurs="0" name="skattekostnad" type="Skattekostnad"/>
      <xsd:element minOccurs="0" name="resultatkomponentForIFRSForetak" type="ResultatkomponentForIFRSForetak"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Balanseregnskap">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="anleggsmiddel" type="Anleggsmiddel"/>
      <xsd:element minOccurs="0" name="omloepsmiddel" type="Omloepsmiddel"/>
      <xsd:element minOccurs="0" name="gjeldOgEgenkapital" type="GjeldOgEgenkapital"/>
      <xsd:element minOccurs="0" name="sumBalanseverdiForEiendel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="sumGjeldOgEgenkapital" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SpesifikasjonAvAnleggsmiddel">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ikkeAvskrivbartAnleggsmiddel" type="IkkeAvskrivbartAnleggsmiddel"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="saldoavskrevetAnleggsmiddel" type="SaldoavskrevetAnleggsmiddel"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="lineaertavskrevetAnleggsmiddel" type="LineaertavskrevetAnleggsmiddel"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="transportmiddelINaering" type="TransportmiddelINaering"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="gevinstOgTapskonto" type="GevinstOgTapskonto"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeregnetNaeringsinntekt">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="fordeltBeregnetNaeringsinntekt" type="FordeltBeregnetNaeringsinntekt"/>
      <xsd:element minOccurs="0" name="sumTilleggINaeringsinntekt" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="sumFradragINaeringsinntekt" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="sumEndringIMidlertidigForskjell" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="skattemessigResultat" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeregnetPersoninntekt">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="fordeltBeregnetPersoninntekt" type="FordeltBeregnetPersoninntekt"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ForskjellMellomRegnskapsmessigOgSkattemessigVerdi">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="permanentForskjell" type="PermanentForskjell"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="midlertidigForskjell" type="MidlertidigForskjell"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Virksomhet">
    <xsd:sequence>
      <xsd:element name="regnskapspliktstype" type="RegnskapspliktstypeMedInnkapsling"/>
      <xsd:element name="regnskapsperiode" type="Periode"/>
      <xsd:element name="virksomhetsstype" type="VirksomhetstypeMedInnkapsling"/>
      <xsd:element minOccurs="0" name="regeltypeForAarsregnskap" type="RegeltypeForAarsregnskapMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SpesifikasjonAvOmloepsmiddel">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="spesifikasjonAvSkattemessigVerdiPaaFordring" type="SpesifikasjonAvSkattemessigVerdiPaaFordring"/>
      <xsd:element maxOccurs="2" minOccurs="0" name="spesifikasjonAvVarelager" type="SpesifikasjonAvVarelager"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="spesifikasjonAvBetingetSkattefriGevinstForBiologiskEiendel" type="SpesifikasjonAvBetingetSkattefriGevinstForBiologiskEiendel"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DokumentOpprettet" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/df81b854-3474-11e6-af6b-9614a8212dd3">
    <xsd:annotation>
      <xsd:documentation>identifiserer en bruker</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="brukeridentifikator" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e2f8-9fe1-11e5-a9f8-e4115b280940" type="Tekst">
        <xsd:annotation>
          <xsd:documentation>identifikator for en bruker i form av en uri</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="brukeridentifikatortype" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e2f8-9fe1-11e5-a9f8-e4115b280940" type="Brukeridentifikatortype">
        <xsd:annotation>
          <xsd:documentation>angir hvilken type brukeridentifkator identifikator peker på, som kan enten være partsnummerm saksbehandleridentifikator eller systemidenfikator.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="opprettetDato" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/11ed6893-682c-11e6-81bf-fac03dffe1d7" type="DatoKlokkeslett"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Egenkapitalavstemming">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element minOccurs="0" name="utsattSkattefordel" type="BeloepMedSkattemessigeEgenskaper"/>
        <xsd:element minOccurs="0" name="utsattSkatt" type="BeloepMedSkattemessigeEgenskaper"/>
      </xsd:choice>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element minOccurs="0" name="inngaaendeEgenkapital" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="sumTilleggIEgenkapital" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="sumFradragIEgenkapital" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="sumNettoPositivPrinsippendring" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="sumNettoNegativPrinsippendring" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="prinsippendring" type="Prinsippendring"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="egenkapitalendring" type="Egenkapitalendring"/>
      <xsd:element minOccurs="0" name="utgaaendeEgenkapital" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AndreForhold">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="overnattingsOgServeringssted" type="OvernattingsOgServeringssted"/>
      <xsd:element minOccurs="0" name="ytelseFraSelskapEllerSelskapetsDatterselskap" type="YtelseMellomAksjonaerEllerNaerstaaendeOgSelskapEllerSelskapetsDatterselskap"/>
      <xsd:element minOccurs="0" name="ytelseFraAksjonaerEllerNaerstaaende" type="YtelseMellomAksjonaerEllerNaerstaaendeOgSelskapEllerSelskapetsDatterselskap"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="loeyveForDrosjeOgGodstransport" type="LoeyveForDrosjeOgGodstransport"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Skogbruk">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="skogOgToemmerkonto" type="SkogOgToemmerkonto"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vedlegg" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/d0db1980-1a4b-11e9-a7bb-0050568351d2">
    <xsd:sequence>
      <xsd:element name="id" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e2f8-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
      <xsd:element minOccurs="0" name="vedleggsnavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e243-9fe1-11e5-a9f8-e4115b280940" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="vedleggsfil" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/76732229-497c-11e9-b1c5-005056821322" type="Vedleggsfil"/>
      <xsd:element minOccurs="0" name="vedleggstype" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/2b2920cd-e7e6-11e8-b7e4-005056821322" type="VedleggskategoriMedInnkapsling"/>
      <xsd:element minOccurs="0" name="informasjonselementidentifikator" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/76732227-497c-11e9-b1c5-005056821322" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="forekomstidentifikator" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="utvekslingsarkividentifikator" type="TekstMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeloepMedSkattemessigeEgenskaperOgOverstyring">
    <xsd:sequence>
      <xsd:element name="beloep" type="BeloepMedInnkapsling"/>
      <xsd:element minOccurs="0" name="erOverstyrt" type="BoolskMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Driftsinntekt">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sumDriftsinntekt" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="salgsinntekt" type="Salgsinntekt"/>
      <xsd:element minOccurs="0" name="annenDriftsinntekt" type="AnnenDriftsinntekt"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Driftskostnad">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sumDriftskostnad" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="varekostnad" type="Varekostnad"/>
      <xsd:element minOccurs="0" name="loennskostnad" type="Loennskostnad"/>
      <xsd:element minOccurs="0" name="annenDriftskostnad" type="AnnenDriftskostnad"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Finansinntekt">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="inntekt" type="Resultatregnskapsforekomst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Finanskostnad">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kostnad" type="Resultatregnskapsforekomst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EkstraordinaerPost">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="post" type="Resultatregnskapsforekomst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Skattekostnad">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kostnad" type="Resultatregnskapsforekomst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResultatkomponentForIFRSForetak">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="resultatkomponentForIFRSForetak" type="Resultatregnskapsforekomst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Anleggsmiddel">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sumBalanseverdiForAnleggsmiddel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="balanseverdiForAnleggsmiddel" type="BalanseverdiForAnleggsmiddel"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Omloepsmiddel">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sumBalanseverdiForOmloepsmiddel" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="balanseverdiForOmloepsmiddel" type="BalanseverdiForOmloepsmiddel"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GjeldOgEgenkapital">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="sumLangsiktigGjeld" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="sumKortsiktigGjeld" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="sumEgenkapital" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="langsiktigGjeld" type="LangsiktigGjeld"/>
      <xsd:element minOccurs="0" name="kortsiktigGjeld" type="KortsiktigGjeld"/>
      <xsd:element minOccurs="0" name="egenkapital" type="Egenkapital"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="AnleggsmiddelFelles">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="objektidentifikator" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="objektbeskrivelse" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="ervervsdato" type="DatoMedInnkapsling"/>
      <xsd:element minOccurs="0" name="realisasjonsdato" type="DatoMedInnkapsling"/>
      <xsd:element minOccurs="0" name="inngaaendeVerdi" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="paakostning" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="offentligTilskudd" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="justeringAvInngaaendeMva" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="vederlagVedRealisasjonOgUttak" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="vederlagVedRealisasjonOgUttakInntektsfoertIAar" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="erRealisasjonenUfrivilligOgGevinstenBetingetSkattefri" type="BoolskMedInnkapsling"/>
      <xsd:element minOccurs="0" name="erstatningsbeloepVedUfrivilligRealisasjon" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="reinvestertBetingetSkattefriSalgsgevinst" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="nedskrivningPaaNyanskaffelserMedBetingetSkattefriSalgsgevinst" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="objektidentifikatorNedskrivningenMedBetingetSkattefriSalgsgevinstGjelder" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="tilskuddTilInvesteringIDistriktene" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="tilbakefoeringAvTilskuddTilInvesteringIDistriktene" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="grunnlagForAvskrivningOgInntektsfoering" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="utgaaendeVerdi" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="gevinstOverfoertTilGevinstOgTapskonto" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="tapOverfoertTilGevinstOgTapskonto" type="BeloepMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IkkeAvskrivbartAnleggsmiddel">
    <xsd:complexContent>
      <xsd:extension base="AnleggsmiddelFelles">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="nyanskaffelse" type="BeloepMedSkattemessigeEgenskaper"/>
          <xsd:element minOccurs="0" name="justeringForAapenbarVerdiendring" type="BeloepMedSkattemessigeEgenskaper"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SaldoavskrevetAnleggsmiddel">
    <xsd:complexContent>
      <xsd:extension base="AnleggsmiddelFelles">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="aaretsAvskrivning" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
          <xsd:element minOccurs="0" name="aaretsInntektsfoeringAvNegativSaldo" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
          <xsd:element name="saldogruppe" type="SaldogruppeMedInnkapsling"/>
          <xsd:element name="avskrivningssats" type="ProsentMedInnkapsling"/>
          <xsd:element minOccurs="0" name="nyanskaffelse" type="BeloepMedSkattemessigeEgenskaper"/>
          <xsd:element minOccurs="0" name="nedskrevetVerdiAvUtskilteDriftsmidler" type="BeloepMedSkattemessigeEgenskaper"/>
          <xsd:element name="erDetFysiskeDriftsmidlerIUtgaaendeVerdi" type="BoolskMedInnkapsling"/>
          <xsd:element minOccurs="0" name="forretningsbyggAnskaffetFoer01011984" type="ForretningsbyggAnskaffetFoer01011984"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LineaertavskrevetAnleggsmiddel">
    <xsd:complexContent>
      <xsd:extension base="AnleggsmiddelFelles">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="anskaffelseskost" type="BeloepMedSkattemessigeEgenskaper"/>
          <xsd:element minOccurs="0" name="justeringForAapenbarVerdiendring" type="BeloepMedSkattemessigeEgenskaper"/>
          <xsd:element minOccurs="0" name="levetid" type="HeltallMedInnkapsling"/>
          <xsd:element minOccurs="0" name="aaretsAvskrivning" type="BeloepMedSkattemessigeEgenskaper"/>
          <xsd:element minOccurs="0" name="verdiOverfoertFraPaakostningVedRealisasjon" type="BeloepMedSkattemessigeEgenskaper"/>
          <xsd:element minOccurs="0" name="verdiOverfoertTilDriftsmiddelVedRealisasjon" type="BeloepMedSkattemessigeEgenskaper"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TransportmiddelINaering">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="kjennemerke" skatt:begrepsreferanse="https://wiki.sits.no/pages/viewpage.action?pageId=118452216" type="TekstMedInnkapsling"/>
      <xsd:element name="aarForFoerstegangsregistrering" type="AarstallMedInnkapsling"/>
      <xsd:element name="biltype" type="BiltypeMedInnkapsling"/>
      <xsd:element name="listeprisSomNy" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="driftskostnader" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="leasingleie" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="saldoavskrivningPrivatBruk" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element name="antallKilometerYrkeskjoering" type="HeltallMedInnkapsling"/>
      <xsd:element name="antallKilometerKjoertIAar" type="HeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="disponertIPeriode" type="PeriodePerDatoMedInnkapsling"/>
      <xsd:element minOccurs="0" name="erElektroniskKjoerebokFoertVedroerendeYrkeskjoering" type="BoolskMedInnkapsling"/>
      <xsd:element name="erYrkesbilenIBrukPrivat" type="BoolskMedInnkapsling"/>
      <xsd:element minOccurs="0" name="tilbakefoertBilkostnadForPrivatBrukAvYrkesbil" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GevinstOgTapskonto">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="gevinstOgTapskontoIdentifikator" type="TekstMedInnkapsling"/>
      <xsd:element name="naeringsidentifikator" type="TekstMedInnkapsling"/>
      <xsd:element name="kommunenummer" type="KommunenummerMedInnkapsling"/>
      <xsd:element minOccurs="0" name="inngaaendeVerdi" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="sumGevinstVedRealisasjonOgUttak" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="sumTapVedRealisasjonOgUttak" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="gevinstVedRealisasjonAvHelBuskapPaaGaardsbrukVedOpphoerAvDriftsgren" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="inngaaendeVerdiFraErvervetGevinstOgTapskonto" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="verdiAvRealisertGevinstOgTapskonto" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="grunnlagForAaretsInntektsOgFradragsfoering" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="satsForInntektsfoeringOgInntektsfradrag" type="ProsentMedInnkapsling"/>
      <xsd:element minOccurs="0" name="inntektFraGevinstOgTapskonto" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="inntektsfradragFraGevinstOgTapskonto" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="utgaaendeVerdi" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="stammerGevinstOgTapskontoenFraRealisasjonAvTomtFraAlminneligJordbrukEllerSkogbruk" type="BoolskMedInnkapsling"/>
      <xsd:element minOccurs="0" name="stammerGevinstOgTapskontoenFraGevinstFraRealisasjonAvAlminneligGaardsbrukEllerSkogbruk" type="BoolskMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FordeltBeregnetNaeringsinntekt">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element minOccurs="0" name="kommunenummer" type="KommunenummerMedInnkapsling"/>
      <xsd:element minOccurs="0" name="identifikatorForFordeltBeregnetPersoninntekt" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="identifikatorForFordeltBeregnetNaeringsinntekt" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="naeringstype" type="NaeringstypeMedInnkapsling"/>
      <xsd:element minOccurs="0" name="naeringsbeskrivelse" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="fordeltSkattemessigResultat" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="sjablongberegnetInntektFraBiomasseVedproduksjon" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="korreksjonFraReindrift" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="reindrift" type="Reindrift"/>
      <xsd:element minOccurs="0" name="fradragForRenterINaeringPaaSvalbard" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="fremfoertUnderskuddIEnkeltpersonforetakPaaSvalbardFraTidligereAar" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="fordeltSkattemessigResultatEtterKorreksjon" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="andelAvFordeltSkattemessigResultatTilordnetInnehaver" type="ProsentMedInnkapsling"/>
      <xsd:element minOccurs="0" name="fordeltSkattemessigResultatEtterKorreksjonTilordnetInnehaver" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FordeltBeregnetPersoninntekt">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="identifikatorForFordeltBeregnetPersoninntekt" type="TekstMedInnkapsling"/>
      <xsd:element name="identifikatorForFordeltBeregnetNaeringsinntekt" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="rentekostnadPaaForetaksgjeld" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="kapitalinntektTilKorrigeringAvPersoninntekt" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="kapitalkostnadTilKorrigeringAvPersoninntekt" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="reduksjonsbeloepForLeidEiendomMotInnskudd" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="gevinstVedRealisasjonAvAlminneligGaardsbrukEllerSkogbrukTilKorrigeringAvPersoninntekt" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="sumSkjermingsgrunnlagFoerGjeldsfradrag" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="sumSkjermingsgrunnlagEtterGjeldsfradrag" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="skjermingsfradrag" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="spesifikasjonAvSkjermingsgrunnlag" type="SpesifikasjonAvSkjermingsgrunnlag"/>
      <xsd:element minOccurs="0" name="skjermingsrente" type="ProsentMedInnkapsling"/>
      <xsd:element minOccurs="0" name="aaretsBeregnedePersoninntektFoerFordelingOgSamordning" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="antallMaanederDrevetIAar" type="HeltallMedInnkapsling"/>
      <xsd:element name="andelAvPersoninntektTilordnetInnehaver" type="ProsentMedInnkapsling"/>
      <xsd:element minOccurs="0" name="aaretsBeregnedePersoninntektFoerFordelingOgSamordningTilordnetInnehaver" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PermanentForskjell">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="permanentForskjellstype" type="PermanentForskjellstypeMedInnkapsling"/>
      <xsd:element name="beloep" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="beskrivelse" type="TekstMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MidlertidigForskjell">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="midlertidigForskjellstype" type="MidlertidigForskjellstypeMedInnkapsling"/>
      <xsd:element minOccurs="0" name="regnskapsmessigVerdi" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="skattemessigVerdi" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="regnskapsmessigVerdiForrigeInntektsaar" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="skattemessigVerdiForrigeInntektsaar" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="beskrivelse" type="TekstMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegnskapspliktstypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="regnskapspliktstype" type="Regnskapspliktstype"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Periode" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52b6d-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>tiden mellom to tidspunkter</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="start" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52b6f-9fe1-11e5-a9f8-e4115b280940" type="DatoKlokkeslett">
        <xsd:annotation>
          <xsd:documentation>Første tidspunkt i perioden. Tidspunktet er med i perioden.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="slutt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52b6e-9fe1-11e5-a9f8-e4115b280940" type="DatoKlokkeslett">
        <xsd:annotation>
          <xsd:documentation>Sluttidspunktet for perioden. Er med i selve perioden.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VirksomhetstypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="virksomhetstype" type="Virksomhetstype"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegeltypeForAarsregnskapMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="regeltypeForAarsregnskap" type="RegeltypeForAarsregnskap"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SpesifikasjonAvSkattemessigVerdiPaaFordring">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element minOccurs="0" name="kundefordringOgIkkeFakturertDriftsinntekt" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="konstatertTapPaaKundefordring" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="konstatertTapPaaKundefordringIFjor" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="kredittsalg" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="kredittsalgIFjor" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="skattemessigNedskrivningPaaKundefordring" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="skattemessigVerdiPaaKundefordring" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="annenFordring" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="skattemessigNedskrivningPaaKundefordringForNyetablertVirksomhet" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element name="sumSkattemessigVerdiPaaFordring" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SpesifikasjonAvVarelager">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="verditype" type="VerditypeMedInnkapsling"/>
      <xsd:element minOccurs="0" name="raavareOgInnkjoeptHalvfabrikata" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="vareUnderTilvirkning" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="ferdigTilvirketVare" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="innkjoeptVareForVideresalg" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="buskap" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="selvprodusertVareBenyttetIEgenProduksjon" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="reinPelsdyrOgPelsdyrskinnPaaLager" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="sumVerdiAvVarelager" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SpesifikasjonAvBetingetSkattefriGevinstForBiologiskEiendel">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="objektidentifikator" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="objektbeskrivelse" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="erstatningsbeloep" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="betingetSkattefriGevinst" type="BeloepMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Brukeridentifikatortype" skatt:begrepsreferanse="http://begrepskatalog/begrep/df81b854-3474-11e6-af6b-9614a8212dd3" skatt:eksternKodeliste="inline">
    <xsd:annotation>
      <xsd:documentation>kodeliste som inneholder muolige brukeridentifikatortyper</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration skatt:begrepsreferanse="http://begrepskatalog/begrep/20b52adf-9fe1-11e5-a9f8-e4115b280940" value="partsnummer">
        <xsd:annotation>
          <xsd:documentation>identifiserende nummer for å representere en part internt i Skatteetaten</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="saksbehandleridentifikator">
        <xsd:annotation>
          <xsd:documentation>idenfikasjon av saksbehandler som utførte endringen</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration skatt:begrepsreferanse="http://begrepskatalog/begrep/df81b855-3474-11e6-af6b-9614a8212dd3" value="systemidentifikator">
        <xsd:annotation>
          <xsd:documentation>identifikator for systemet som har utført endringen</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DatoKlokkeslett" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aee-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>en kombinasjon av typene Dato og Klokkeslett. Kodes som en tekststreng etter datoformatering spesifisert i ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times).</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>
  <xsd:complexType name="BeloepMedSkattemessigeEgenskaper">
    <xsd:sequence>
      <xsd:element name="beloep" type="BeloepMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Prinsippendring">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element minOccurs="0" name="positivPrinsippendring" type="BeloepMedSkattemessigeEgenskaper"/>
        <xsd:element minOccurs="0" name="negativPrinsippendring" type="BeloepMedSkattemessigeEgenskaper"/>
      </xsd:choice>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="resultatOgBalanseregnskapstype" type="ResultatOgBalanseregnskapstype"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Egenkapitalendring">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="egenkapitalendringstype" type="EgenkapitalendringstypeMedInnkapsling"/>
      <xsd:element name="beloep" type="BeloepMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OvernattingsOgServeringssted">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kassasystem" type="Kassasystem"/>
      <xsd:element minOccurs="0" name="privatUttakAvVarer" type="PrivatUttakAvVarer"/>
      <xsd:element minOccurs="0" name="representasjon" type="Representasjon"/>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element minOccurs="0" name="organisasjonsnummer" type="Organisasjonsnummer"/>
      <xsd:element minOccurs="0" name="foedselsnummer" type="Foedselsnummer"/>
      <xsd:element minOccurs="0" name="avgiftspliktigInntektFraInngangspenger" type="BeloepSomHeltall"/>
      <xsd:element minOccurs="0" name="avgiftsfriInntektFraInngangspenger" type="BeloepSomHeltall"/>
      <xsd:element minOccurs="0" name="garderobeinntekt" type="BeloepSomHeltall"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="varelagerPerVareart" type="VarelagerPerVareart"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="YtelseMellomAksjonaerEllerNaerstaaendeOgSelskapEllerSelskapetsDatterselskap">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="id" type="Tekst"/>
      <xsd:element minOccurs="0" name="laan" type="Laan"/>
      <xsd:element minOccurs="0" name="sikkerhetsstillelse" type="Sikkerhetsstillelse"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="realisasjonOgUtleieAvFormuesobjektMv" type="RealisasjonOgUtleieAvFormuesobjektMv"/>
      <xsd:element minOccurs="0" name="totaltUtdeltUtbytteVedUtgangAvInntektsaar" type="BeloepSomHeltall"/>
      <xsd:element minOccurs="0" name="renterAvEgenkapitalbevis" type="BeloepSomHeltall"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LoeyveForDrosjeOgGodstransport">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element minOccurs="0" name="loeyvenummer" type="Tekst"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kjoeretoey" type="Kjoeretoey"/>
      <xsd:element minOccurs="0" name="bransje" type="Bransje"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Tilstand" skatt:eksternKodeliste="inline">
    <xsd:annotation>
      <xsd:documentation>kodeliiste med mulige tilstander for en endring</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration skatt:begrepsreferanse="http://begrepskatalog/begrep/cf247fcc-dfe5-11e7-9101-005056821322" value="egenfastsetting">
        <xsd:annotation>
          <xsd:documentation>tilstand som angir at innholdet i informasjonselementet egenfastsatt av skattepliktige</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="endretEgenfastsetting"/>
      <xsd:enumeration value="ugyldigEgenfastsetting"/>
      <xsd:enumeration value="varsletMyndighetsfastsetting">
        <xsd:annotation>
          <xsd:documentation>tilstand som angir at innholdet i informasjonselementet er myndighetsfastsatt av skatteeetaten</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="vedtattMyndighetsfastsetting">
        <xsd:annotation>
          <xsd:documentation>tilstand som angir at nformasjonselementet er slettet</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="varsletKontroll"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Brukeridentifikator" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/df81b854-3474-11e6-af6b-9614a8212dd3">
    <xsd:annotation>
      <xsd:documentation>identifiserer en bruker</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="identifikator" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e2f8-9fe1-11e5-a9f8-e4115b280940" type="Tekst">
        <xsd:annotation>
          <xsd:documentation>identifikator for en bruker i form av en uri</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="identifikatortype" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e2f8-9fe1-11e5-a9f8-e4115b280940" type="Brukeridentifikatortype">
        <xsd:annotation>
          <xsd:documentation>angir hvilken type brukeridentifkator identifikator peker på, som kan enten være partsnummerm saksbehandleridentifikator eller systemidenfikator.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kildedokumentreferanse">
    <xsd:annotation>
      <xsd:documentation>referanse til et kildedokument</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="kildedokumentidentifikator" type="Uri">
        <xsd:annotation>
          <xsd:documentation>unik identifikator til et dokument i form av en uri</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kildedokumenttype" type="Tekst">
        <xsd:annotation>
          <xsd:documentation>beskriver dokumenttypen i Skatteinfo. Må fylles ut dersom kildedokumentidentifikator peker på et dokument i Skatteinfo. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SkogOgToemmerkonto">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element minOccurs="0" name="kommunenummer" type="KommunenummerMedInnkapsling"/>
      <xsd:element minOccurs="0" name="inngaaendeVerdiPaaToemmerkonto" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="driftsresultatSomKanOverfoeresTilToemmerkonto" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="andelAvDriftsresultatSomOverfoeresTilToemmerkonto" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="inngaaendeVerdiFraErvervetToemmerkonto" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="verdiPaaAndelAvRealisertToemmerkonto" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element name="grunnlagForInntektOgFradragPaaToemmerkontoIInntektsaaret" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="skogfond" type="Skogfond"/>
      <xsd:element minOccurs="0" name="ekstraordinaerFordelingAvToemmeravvirkningEtterNaturkatastrofe" type="EkstraordinaerFordelingAvToemmeravvirkningEtterNaturkatastrofe"/>
      <xsd:element minOccurs="0" name="inntektOgKostnad" type="InntektOgKostnad"/>
      <xsd:element minOccurs="0" name="satsForInntektsfoeringOgInntektsfradrag" type="ProsentMedInnkapsling"/>
      <xsd:element minOccurs="0" name="inntektFraToemmerkonto" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="inntektsfradragFraToemmerkonto" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="utgaaendeVerdiPaaToemmerkonto" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TekstMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af3-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="tekst" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af3-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vedleggsfil" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/76732229-497c-11e9-b1c5-005056821322">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="opprinneligFilnavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/da121902-3b33-ef4b-9414-0b4125cba560" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="opprinneligFiltype" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/8f2fe6f2-3b83-2445-bae2-3e70f836fd19" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="filensOpprinneligDatoOgTid" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/76732226-497c-11e9-b1c5-005056821322" type="DatoKlokkeslettMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VedleggskategoriMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="vedleggskategori" type="Vedleggskategori"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeloepMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e146-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="beloep" type="BeloepMed2Desimaler"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BoolskMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aec-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="boolsk" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aec-9fe1-11e5-a9f8-e4115b280940 " type="Boolsk"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Salgsinntekt">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="inntekt" type="Resultatregnskapsforekomst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AnnenDriftsinntekt">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="inntekt" type="Resultatregnskapsforekomst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Varekostnad">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kostnad" type="Resultatregnskapsforekomst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Loennskostnad">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kostnad" type="Resultatregnskapsforekomst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AnnenDriftskostnad">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kostnad" type="Resultatregnskapsforekomst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Resultatregnskapsforekomst">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="type" type="ResultatOgBalanseregnskapstypeMedInnkapsling"/>
      <xsd:element name="beloep" type="BeloepMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BalanseverdiForAnleggsmiddel">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="balanseverdi" type="Balanseregnskapsforekomst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BalanseverdiForOmloepsmiddel">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="balanseverdi" type="Balanseregnskapsforekomst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LangsiktigGjeld">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="gjeld" type="Balanseregnskapsforekomst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KortsiktigGjeld">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="gjeld" type="Balanseregnskapsforekomst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Egenkapital">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="kapital" type="Balanseregnskapsforekomst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DatoMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aed-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="dato" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aed-9fe1-11e5-a9f8-e4115b280940 " type="Dato"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SaldogruppeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="saldogruppe" type="Saldogruppe"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProsentMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/5d2b8b80-b7e8-11e7-aa27-0050568351d2">
    <xsd:annotation>
      <xsd:documentation>tall som er satt sammen av en heltallsdel og en fraksjondel [wikipedia] </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="prosent" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/5d2b8b80-b7e8-11e7-aa27-0050568351d2" type="Prosent"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ForretningsbyggAnskaffetFoer01011984">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="historiskKostpris" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="nedskrevetVerdiPr01011984" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="nedreGrenseForAvskrivning" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HeltallMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af0-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="heltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af0-9fe1-11e5-a9f8-e4115b280940 " type="Heltall"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AarstallMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e14a-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="aarstall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e14a-9fe1-11e5-a9f8-e4115b280940" type="Aarstall"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BiltypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="biltype" type="Biltype"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PeriodePerDatoMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/dcfb4799-e484-11e6-9cb3-005056821322">
    <xsd:sequence>
      <xsd:element name="start" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/dcfb47c2-e484-11e6-9cb3-005056821322" type="DatoMedInnkapsling">
        <xsd:annotation>
          <xsd:documentation>Første tidspunkt i perioden. Tidspunktet er med i perioden.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="slutt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52b6e-9fe1-11e5-a9f8-e4115b280940" type="DatoMedInnkapsling">
        <xsd:annotation>
          <xsd:documentation>Sluttidspunktet for perioden. Er med i selve perioden. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KommunenummerMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e0f3-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>nummer for kommune</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="kommunenummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e0f3-9fe1-11e5-a9f8-e4115b280940 " type="Kommunenummer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NaeringstypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="naeringstype" type="Naeringstype"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Reindrift">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="korrigeringForKapitalInntektOgKapitalkostnad" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="korrigeringForBeloepFraGevinstOgTapskonto" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="korrigertResultat" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="resultatForToAarSiden" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="resultatIFjor" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="gjennomsnittsinntekt" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="korreksjonForDifferanseMellomKorrigertResultatOgGjennomsnittsinntekt" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="uttakFraAvviklingsOgOmstillingsfondForReineiere" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="innskuddIAvviklingsOgOmstillingsfondForReineiere" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="korreksjonForEndringIAvviklingsOgOmstillingsfondForReineiere" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SpesifikasjonAvSkjermingsgrunnlag">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="skjermingsgrunnlagstype" type="SkjermingsgrunnlagstypeMedInnkapsling"/>
      <xsd:element name="inngaaendeVerdi" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element name="utgaaendeVerdi" type="BeloepMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PermanentForskjellstypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="permanentForskjellstype" type="PermanentForskjellstype"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MidlertidigForskjellstypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="midlertidigForskjellstype" type="MidlertidigForskjellstype"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Regnskapspliktstype" skatt:eksternKodeliste="/formuesOgInntektsskatt/2021_regnskapsplikttype.xml">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Virksomhetstype" skatt:eksternKodeliste="/formuesOgInntektsskatt/2021_virksomhetstype.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="RegeltypeForAarsregnskap" skatt:eksternKodeliste="/formuesOgInntektsskatt/2021_regeltypeForAarsregnskap">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="VerditypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="verditype" type="Verditype"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ResultatOgBalanseregnskapstype" skatt:eksternKodeliste="/formuesOgInntektsskatt/2021_resultatregnskapOgBalanse.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="EgenkapitalendringstypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="egenkapitalendringstype" type="Egenkapitalendringstype"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kassasystem">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="anskaffelsesaarAvKassasystem" type="Aarstall"/>
      <xsd:element minOccurs="0" name="kassasystemtype" type="Kassasystemtype"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PrivatUttakAvVarer">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="uttakAvVarerTilPrivatBrukErVerdsattTilOmsetningsverdi" type="Boolsk"/>
      <xsd:element minOccurs="0" name="privateUttakErFoertPaaPrivatkonto" type="Boolsk"/>
      <xsd:element minOccurs="0" name="samletUttakAvVarerTilPrivatBrukFoertSomSalgsinntekt" type="BeloepSomHeltall"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Representasjon">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="uttakAvKostVarerMvTilRepresentasjon" type="Boolsk"/>
      <xsd:element minOccurs="0" name="uttaksverdiErVerdsattTilOmsetningsverdi" type="Boolsk"/>
      <xsd:element minOccurs="0" name="paaslagVedUttakAvKostVarerMvTilRepresentasjon" type="Prosent"/>
      <xsd:element minOccurs="0" name="samletUttakAvKostVarerMvTilRepresentasjon" type="BeloepSomHeltall"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a8-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>9 sifret nummer gitt de som er registrert i Enhetsregisteret.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Tekst">
      <xsd:pattern value="[0-9]+"/>
      <xsd:length value="9"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Foedselsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/5138da10-be20-11e6-8004-005056825ca0">
    <xsd:annotation>
      <xsd:documentation>ellevesifret identifikasjonsnummer for personer bosatt i Norge, der de seks første sifrene angir fødselsdato og de fem siste personnummer.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Tekst">
      <xsd:pattern value="[0-9]+"/>
      <xsd:length value="11"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Heltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af0-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>hele tall, dvs. hele tall i mengden {..., -2, -1, 0, 1, 2, ...}</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:long"/>
  </xsd:simpleType>
  <xsd:simpleType name="BeloepSomHeltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e146-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>en sum av penger i hele kroner brukt i en kontekst. Dette kan være en transaksjon, saldo o.l.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Heltall"/>
  </xsd:simpleType>
  <xsd:complexType name="VarelagerPerVareart">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="vareart" type="Vareart"/>
      <xsd:element name="varelagerPer1Januar" type="BeloepSomHeltall"/>
      <xsd:element name="varelagerPer31Desember" type="BeloepSomHeltall"/>
      <xsd:element name="solgteVarersInntakskost" type="BeloepSomHeltall"/>
      <xsd:element name="salgsinntektOgUttak" type="BeloepSomHeltall"/>
      <xsd:element name="salgsinntekterIKontant" type="BeloepSomHeltall"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Laan">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element minOccurs="0" name="inntektsfoerteRenter" type="BeloepSomHeltall"/>
        <xsd:element minOccurs="0" name="kostnadsfoerteRenter" type="BeloepSomHeltall"/>
      </xsd:choice>
      <xsd:element name="laanesaldoVedUtgangAvInntektsaar" type="BeloepSomHeltall"/>
      <xsd:element minOccurs="0" name="laanesaldoPer061015" type="BeloepSomHeltall"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sikkerhetsstillelse">
    <xsd:sequence>
      <xsd:element name="beloepVedUtgangAvInntektsaar" type="BeloepSomHeltall"/>
      <xsd:element minOccurs="0" name="beloepPer061015" type="BeloepSomHeltall"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RealisasjonOgUtleieAvFormuesobjektMv">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="formuesobjekt" type="FormuesobjektVedRealisasjonEllerUtleieMellomSelskapOgNaerstaaendeMv"/>
      <xsd:element minOccurs="0" name="prisingsmetode" type="Tekst"/>
      <xsd:element minOccurs="0" name="utleieverdiForFormuesobjekt" type="BeloepSomHeltall"/>
      <xsd:element minOccurs="0" name="verdiForSolgtEllerUttattVareEllerFormuesobjekt" type="BeloepSomHeltall"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kjoeretoey">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="kjennemerke" type="Tekst"/>
      <xsd:element minOccurs="0" name="drosjevirksomhetErKnyttetTilEnSentral" type="Boolsk"/>
      <xsd:element minOccurs="0" name="taksametertype" type="Taksametertype"/>
      <xsd:element minOccurs="0" name="antallLiterDrivstoff" type="Antall"/>
      <xsd:element minOccurs="0" name="kjoereinntektKontant" type="BeloepSomHeltall"/>
      <xsd:element minOccurs="0" name="inntektFraPersontransportMedKortEllerEtterskuddsvis12ProsentMVA" type="BeloepSomHeltall"/>
      <xsd:element minOccurs="0" name="inntektFraVaretransportMedKredittkortEllerEtterskuddsvis25ProsentMVA" type="BeloepSomHeltall"/>
      <xsd:element minOccurs="0" name="kjoereinntektFakturertOffentligeEtater" type="BeloepSomHeltall"/>
      <xsd:element minOccurs="0" name="tipsMedKredittkortEllerEtterskuddsvis" type="BeloepSomHeltall"/>
      <xsd:element minOccurs="0" name="tipsKontant" type="BeloepSomHeltall"/>
      <xsd:element minOccurs="0" name="lengdeMedSkolebarnkjoering" type="Antall"/>
      <xsd:element minOccurs="0" name="lengdeMedBesattBilNaarTaksameterErIBruk" type="Antall"/>
      <xsd:element minOccurs="0" name="beloepFraBomturerRegistrertPaaTaksameter" type="BeloepSomHeltall"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Bransje">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Uri" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e148-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>En URI (Uniform Resource Identifier) er en kompakt streng av tegn som identifiserer en abstrakt eller fysisk ressurs. En URI kan videre klassifiseres som en lokator eller et navn, eller begge deler.[Wikipedia]</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Tekst"/>
  </xsd:simpleType>
  <xsd:complexType name="Skogfond">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="utbetaltFraSkogfondkontoTilFormaalMedSkattefordel" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="utbetaltFraSkogfondkontoTilFormaalUtenSkattefordel" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="innbetaltOffentligTilskuddTilSkogfondkonto" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="innbetaltOffentligTilskuddTilSkogfondkontoTilInvesteringForetattTidligereAar" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="tilbakefoeringAvTidligereBeregnetSkattefordelPaaSkogfondkonto" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="skattefordelAvSkogfond" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="skattepliktigInntektAvSkogfond" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EkstraordinaerFordelingAvToemmeravvirkningEtterNaturkatastrofe">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="inngaaendeVerdiAvToemmeravvirkning" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="inntektsfoertBeloepAvToemmeravvirkning" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="utgaaendeVerdiAvToemmeravvirkning" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InntektOgKostnad">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="salgsinntektOgUttakFraSkurtoemmerMassevirkeRotsalgMv" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="salgsinntektOgUttakAvVedOgBiomasse" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="andreDriftsinntekter" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="leieinntekterFraJaktFiskeTorvuttakMv" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="inntektFraGevinstOgTapskonto" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="inntektsfradragFraGevinstOgTapskonto" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="inntektsfoeringAvNegativSaldo" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="driftskostnader" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="andelAvDriftskostnaderTilJaktFiskeMv" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="driftsresultatFraJaktFiskeOgLeieinntekt" skatt:erAvledet="true" type="BeloepMedSkattemessigeEgenskaperOgOverstyring"/>
      <xsd:element minOccurs="0" name="sjablongberegnetFradragKnyttetTilBiomasseOgVedproduksjon" type="BeloepMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DatoKlokkeslettMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aee-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="datoKlokkeslett" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aee-9fe1-11e5-a9f8-e4115b280940" type="DatoKlokkeslett"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Vedleggskategori" skatt:eksternKodeliste="/formuesOgInntektsskatt/2021_vedleggskategori.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Desimaltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aef-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>tall som er satt sammen av en heltallsdel og en fraksjondel [wikipedia]</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal"/>
  </xsd:simpleType>
  <xsd:simpleType name="Beloep" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e146-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>en sum av penger brukt i en kontekst. Dette kan være en transaksjon, saldo o.l.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Desimaltall"/>
  </xsd:simpleType>
  <xsd:simpleType name="BeloepMed2Desimaler">
    <xsd:restriction base="Beloep">
      <xsd:fractionDigits value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Boolsk" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aec-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>angir verdien sann eller usann</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>
  <xsd:complexType name="ResultatOgBalanseregnskapstypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="resultatOgBalanseregnskapstype" type="ResultatOgBalanseregnskapstype"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Balanseregnskapsforekomst">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="beloep" type="BeloepMedSkattemessigeEgenskaper"/>
      <xsd:element name="type" type="ResultatOgBalanseregnskapstypeMedInnkapsling"/>
      <xsd:element minOccurs="0" name="ekskluderesFraSkattemeldingen" type="BoolskMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Dato" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aed-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>gir verdier for år, måned og dag. Kodes som en tekststreng etter datoformatering spesifisert i  ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times).
        Eksempel : 1998-12-21 eller 19981221.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date"/>
  </xsd:simpleType>
  <xsd:simpleType name="Saldogruppe" skatt:eksternKodeliste="/formuesOgInntektsskatt/2021_saldogruppe.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Prosent" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/5d2b8b80-b7e8-11e7-aa27-0050568351d2">
    <xsd:annotation>
      <xsd:documentation>Prosent betyr hundredel eller per hundre, og representeres ofte av et tall etterfulgt av tegnet '%'. Prosent er altså en hundredel av en gitt mengde. Eksempelvis vil en prosent av 1000 være 10.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Desimaltall"/>
  </xsd:simpleType>
  <xsd:simpleType name="Biltype" skatt:eksternKodeliste="/formuesOgInntektsskatt/2021_biltype.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Kommunenummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e0f3-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>nummer for kommune</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Tekst">
      <xsd:pattern value="([0-9]){4}"/>
      <xsd:length value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Naeringstype" skatt:eksternKodeliste="/formuesOgInntektsskatt/2021_naeringstype.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="SkjermingsgrunnlagstypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="skjermingsgrunnlagstype" type="Skjermingsgrunnlagstype"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="PermanentForskjellstype" skatt:eksternKodeliste="/formuesOgInntektsskatt/2021_permanentForskjellstype.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="MidlertidigForskjellstype" skatt:eksternKodeliste="/formuesOgInntektsskatt/2021_midlertidigForskjellstype.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Verditype" skatt:eksternKodeliste="inline">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="regnskapsmessigVerdi"/>
      <xsd:enumeration value="skattemessigVerdi"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Egenkapitalendringstype" skatt:eksternKodeliste="/formuesOgInntektsskatt/2021_egenkapitalendringstype.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Kassasystemtype" skatt:eksternKodeliste="/formuesOgInntektsskatt/2021_kassasystemtype.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Vareart" skatt:eksternKodeliste="/formuesOgInntektsskatt/2021_vareart.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="FormuesobjektVedRealisasjonEllerUtleieMellomSelskapOgNaerstaaendeMv" skatt:eksternKodeliste="/formuesOgInntektsskatt/2021_formuesobjektVedRealisasjonEllerUtleieMellomSelskapOgNaerstaaendeMv.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Taksametertype">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Antall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e145-9fe1-11e5-a9f8-e4115b280940">
    <xsd:annotation>
      <xsd:documentation>mengde som utgjør eller kan uttrykkes i et visst tall</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Heltall"/>
  </xsd:simpleType>
  <xsd:complexType name="BeloepSomHeltallMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e147-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="beloepSomHeltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e147-9fe1-11e5-a9f8-e4115b280940" type="BeloepSomHeltall"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Skjermingsgrunnlagstype" skatt:eksternKodeliste="/formuesOgInntektsskatt/2021_skjermingsgrunnlagstype.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
</xsd:schema>