src/resources/xsd/selskapsmeldingSelskapMedDeltakerfastsetting_v1_ekstern.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:no:skatteetaten:fastsetting:formueinntekt:selskapsmelding:selskapmeddeltakerfastsetting:ekstern:v1" xmlns:skatt="http://www.skatteetaten.no/xsd" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:no:skatteetaten:fastsetting:formueinntekt:selskapsmelding:selskapmeddeltakerfastsetting:ekstern:v1">
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute fixed="2022-09-14T11:10:21.082+0200" name="generertDato"/>
      <xsd:attribute fixed="v1" name="versjon"/>
      <xsd:attribute fixed="" name="beskrivelse"/>
      <xsd:attribute fixed="Selskapsmelding for selskap med deltakerfastsetting v1" name="modellnavn"/>
      <xsd:attribute fixed="urn:no:skatteetaten:fastsetting:formueinntekt:selskapsmelding:selskapmeddeltakerfastsetting:ekstern:v1" name="navnerom"/>
      <xsd:attribute fixed="true" name="begrepsreferanse"/>
      <xsd:attribute fixed="false" name="dokumentasjon"/>
      <xsd:attribute fixed="false" name="nillable"/>
      <xsd:attribute fixed="false" name="modellelement"/>
      <xsd:attribute fixed="false" name="norskeTegn"/>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="selskapsmelding" type="Selskapsmelding"/>
  <xsd:complexType name="Selskapsmelding">
    <xsd:sequence>
      <xsd:element name="partsnummer" type="Partsnummer"/>
      <xsd:element name="inntektsaar" type="Aarstall"/>
      <xsd:element minOccurs="0" name="inntektOgUnderskudd" type="InntektOgUnderskudd"/>
      <xsd:element minOccurs="0" name="formueOgGjeld" type="FormueOgGjeld"/>
      <xsd:element minOccurs="0" name="spesifikasjonAvForholdRelevanteForBeskatningAvDeltakere" type="SpesifikasjonAvForholdRelevanteForBeskatningAvDeltakere"/>
      <xsd:element minOccurs="0" name="eierforhold" type="Eierforhold"/>
      <xsd:element minOccurs="0" name="selskapsmeldingOpprettet" type="DokumentOpprettet"/>

    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Heltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af0-9fe1-11e5-a9f8-e4115b280940">
    <xsd:restriction base="xsd:long"/>
  </xsd:simpleType>
  <xsd:simpleType name="Partsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52adf-9fe1-11e5-a9f8-e4115b280940">
    <xsd:restriction base="Heltall"/>
  </xsd:simpleType>
  <xsd:simpleType name="Aarstall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e14a-9fe1-11e5-a9f8-e4115b280940">
    <xsd:restriction base="xsd:gYear"/>
  </xsd:simpleType>
  <xsd:complexType name="InntektOgUnderskudd">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element minOccurs="0" name="samletInntekt" skatt:erAvledet="true" type="BeloepSomHeltallMedInnkapsling"/>
        <xsd:element minOccurs="0" name="samletUnderskudd" skatt:erAvledet="true" type="BeloepSomHeltallMedInnkapsling"/>
      </xsd:choice>
      <xsd:element minOccurs="0" name="inntekt" type="Inntekt"/>
      <xsd:element minOccurs="0" name="inntektsfradrag" type="Inntektsfradrag"/>

    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormueOgGjeld">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="formuesobjekt" type="Formuesobjekt"/>
      <xsd:element minOccurs="0" name="gjeld" type="Gjeld"/>
      <xsd:element minOccurs="0" name="fasteEiendommer" type="FasteEiendommer"/>
      <xsd:element minOccurs="0" name="samletVerdiFoerEventuellVerdsettingsrabatt" skatt:erAvledet="true" type="BeloepSomHeltallMedOverstyring"/>
      <xsd:element minOccurs="0" name="samletFormuesverdi" skatt:erAvledet="true" type="BeloepSomHeltallMedOverstyring"/>
      <xsd:element minOccurs="0" name="samletGjeld" skatt:erAvledet="true" type="BeloepSomHeltallMedOverstyring"/>

    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SpesifikasjonAvForholdRelevanteForBeskatningAvDeltakere">
    <xsd:sequence>

      <xsd:element maxOccurs="unbounded" minOccurs="0" name="aksjeIAksjonaerregisteret" type="AksjeIAksjonaerregisteret"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="aksjeIkkeIAksjonaerregisteret" type="AksjeIkkeIAksjonaerregisteret"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="annetFinansprodukt" type="AnnetFinansprodukt"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="obligasjonOgSertifikat" type="ObligasjonOgSertifikat"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="verdipapirfond" type="Verdipapirfond"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="virtuellValuta" type="VirtuellValuta"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="fondskonto" type="Fondskonto"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Eierforhold">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="deltaker" type="Deltaker"/>

    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DokumentOpprettet" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/df81b854-3474-11e6-af6b-9614a8212dd3">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="brukeridentifikator" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e2f8-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
      <xsd:element minOccurs="0" name="brukeridentifikatortype" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e2f8-9fe1-11e5-a9f8-e4115b280940" type="Brukeridentifikatortype"/>
      <xsd:element minOccurs="0" name="opprettetDato" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/11ed6893-682c-11e6-81bf-fac03dffe1d7" type="DatoKlokkeslett"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BeloepSomHeltallMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e147-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="beloepSomHeltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e147-9fe1-11e5-a9f8-e4115b280940" type="BeloepSomHeltall"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Inntekt">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="naeringsinntekt" skatt:erAvledet="true" type="BeloepSomHeltallMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Inntektsfradrag">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="underskudd" skatt:erAvledet="true" type="BeloepSomHeltallMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Formuesobjekt">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="formuesobjekttype" type="FormuesobjekttypeMedInnkapsling"/>
      <xsd:element name="verdiFoerEventuellVerdsettingsrabatt" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="formuesverdi" skatt:erAvledet="true" type="BeloepSomHeltallMedOverstyring"/>
      <xsd:element minOccurs="0" name="verdsettingsrabatt" skatt:erAvledet="true" type="BeloepSomHeltallMedOverstyring"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Gjeld">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="annenGjeld" type="BeloepSomHeltallMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FasteEiendommer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="fastEiendom" type="FastEiendom"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="fastEiendomSomFormuesobjekt" type="FastEiendomSomFormuesobjekt"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="skogeiendomINorgeSomFormuesobjekt" type="SkogeiendomINorgeSomFormuesobjekt"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeloepSomHeltallMedOverstyring">
    <xsd:sequence>
      <xsd:element name="beloep" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="erOverstyrt" type="BoolskMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AksjeIAksjonaerregisteret">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element minOccurs="0" name="selskapetsNavn" type="OrganisasjonsnavnMedInnkapsling"/>
      <xsd:element minOccurs="0" name="selskapetsOrganisasjonsnummer" type="OrganisasjonsnummerMedInnkapsling"/>
      <xsd:element minOccurs="0" name="landkode" type="LandkodeMedInnkapsling"/>
      <xsd:element minOccurs="0" name="erOmfattetAvFritaksmetoden" type="BoolskMedInnkapsling"/>
      <xsd:element minOccurs="0" name="aksjeklasse" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="isinnummer" type="IsinnummerMedInnkapsling"/>
      <xsd:element minOccurs="0" name="antallAksjer" type="AntallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="utbytte" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="gevinstVedRealisasjonAvAksje" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="tapVedRealisasjonAvAksje" type="BeloepSomHeltallMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AksjeIkkeIAksjonaerregisteret">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element minOccurs="0" name="kontofoerersNavn" type="OrganisasjonsnavnMedInnkapsling"/>
      <xsd:element minOccurs="0" name="kontonummer" type="TekstMedInnkapsling"/>
      <xsd:element name="selskapetsNavn" type="OrganisasjonsnavnMedInnkapsling"/>
      <xsd:element minOccurs="0" name="selskapetsOrganisasjonsnummer" type="OrganisasjonsnummerMedInnkapsling"/>
      <xsd:element minOccurs="0" name="finansproduktidentifikator" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="finansproduktidentifikatortype" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="landkode" type="LandkodeMedInnkapsling"/>
      <xsd:element minOccurs="0" name="erOmfattetAvFritaksmetoden" type="BoolskMedInnkapsling"/>
      <xsd:element minOccurs="0" name="antallAksjer" type="AntallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="utbytte" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="gevinstVedRealisasjonAvAksje" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="tapVedRealisasjonAvAksje" type="BeloepSomHeltallMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AnnetFinansprodukt">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="finansproduktnavn" type="NavnMedInnkapsling"/>
      <xsd:element minOccurs="0" name="kontonummer" type="TekstMedInnkapsling"/>
      <xsd:element name="finansprodukttype" type="AnnetFinansprodukttypeMedInnkapsling"/>
      <xsd:element minOccurs="0" name="finansproduktidentifikator" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="finansproduktidentifikatortype" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="landkode" type="LandkodeMedInnkapsling"/>
      <xsd:element minOccurs="0" name="erOmfattetAvFritaksmetoden" type="BoolskMedInnkapsling"/>
      <xsd:element minOccurs="0" name="antallAndreFinansprodukter" type="AntallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="renteinntekt" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="kapitalinntektFraAnnetFinansprodukt" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="gevinstVedRealisasjonAvAnnetFinansprodukt" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="tapVedRealisasjonAvAnnetFinansprodukt" type="BeloepSomHeltallMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObligasjonOgSertifikat">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="rentepapiretsNavn" type="NavnMedInnkapsling"/>
      <xsd:element minOccurs="0" name="kontofoerersNavn" type="OrganisasjonsnavnMedInnkapsling"/>
      <xsd:element minOccurs="0" name="kontonummer" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="finansproduktidentifikator" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="finansproduktidentifikatortype" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="landkode" type="LandkodeMedInnkapsling"/>
      <xsd:element minOccurs="0" name="erOmfattetAvFritaksmetoden" type="BoolskMedInnkapsling"/>
      <xsd:element minOccurs="0" name="antallObligasjonOgSertifikat" type="AntallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="renteinntektAvObligasjonOgSertifikat" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="gevinstVedRealisasjonAvObligasjonOgSertifikat" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="tapVedRealisasjonAvObligasjonOgSertifikat" type="BeloepSomHeltallMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Verdipapirfond" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/1e3330d5-6837-11e6-a7ce-fac03dffe1d7">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="fondetsNavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/1e3330d5-6837-11e6-a7ce-fac03dffe1d7" type="OrganisasjonsnavnMedInnkapsling"/>
      <xsd:element minOccurs="0" name="fondetsOrganisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/1e3330d5-6837-11e6-a7ce-fac03dffe1d7" type="OrganisasjonsnummerMedInnkapsling"/>
      <xsd:element minOccurs="0" name="landkode" type="LandkodeMedInnkapsling"/>
      <xsd:element minOccurs="0" name="erOmfattetAvFritaksmetoden" type="BoolskMedInnkapsling"/>
      <xsd:element minOccurs="0" name="isinnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e325-9fe1-11e5-a9f8-e4115b280940" type="IsinnummerMedInnkapsling"/>
      <xsd:element minOccurs="0" name="antallAndeler" type="DesimaltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="utbytte" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/6c325d68-ff95-11e8-a756-005056823b15" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="renteinntekt" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="gevinstVedRealisasjonAvAndelIAksjedel" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="tapVedRealisasjonAvAndelIAksjedel" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="gevinstVedRealisasjonAvAndelIRentedel" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/b8d9cde0-0fae-11eb-8086-0050568351d2" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="tapVedRealisasjonAvAndelIRentedel" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/91c5af30-0fae-11eb-8086-0050568351d2" type="BeloepSomHeltallMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VirtuellValuta">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element minOccurs="0" name="virtuellValutanavn" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="kontonummer" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="landkode" type="LandkodeMedInnkapsling"/>
      <xsd:element minOccurs="0" name="erOmfattetAvFritaksmetoden" type="BoolskMedInnkapsling"/>
      <xsd:element minOccurs="0" name="antall" type="DesimaltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="gjelderFlereVirtuelleValutaer" type="BoolskMedInnkapsling"/>
      <xsd:element minOccurs="0" name="kapitalinntektFraVirtuellValuta" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="gevinstVedRealisasjonAvVirtuellValuta" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="tapVedRealisasjonAvVirtuellValuta" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="lommebok" type="Lommebok"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="boers" type="Boers"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Fondskonto" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/eb25e890-0fa6-11eb-8086-0050568351d2">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element minOccurs="0" name="forsikringsselskapetsOrganisasjonsnummer" type="OrganisasjonsnummerMedInnkapsling"/>
      <xsd:element minOccurs="0" name="forsikringsselskapetsNavn" type="OrganisasjonsnavnMedInnkapsling"/>
      <xsd:element minOccurs="0" name="kontonummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e328-9fe1-11e5-a9f8-e4115b280940" type="KontonummerMedInnkapsling"/>
      <xsd:element minOccurs="0" name="erOmfattetAvFritaksmetoden" type="BoolskMedInnkapsling"/>
      <xsd:element minOccurs="0" name="skattepliktigGevinstVedRealisasjonAvOgUttakFraAksjedel" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="skattepliktigTapVedRealisasjonAvOgUttakFraAksjedel" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="skattepliktigGevinstVedRealisasjonAvOgUttakFraRentedel" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="skattepliktigTapVedRealisasjonAvOgUttakFraRentedel" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="skattefrittUttak" type="BeloepSomHeltallMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Deltaker">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="deltakerensNorskePersonidentifikator" type="NorskPersonidentifikatorMedInnkapsling"/>
        <xsd:element name="deltakerensOrganisasjonsnummer" type="OrganisasjonsnavnMedInnkapsling"/>
      </xsd:choice>
      <xsd:element minOccurs="0" name="deltakersAndelAvFormue" type="DeltakersAndelAvFormue"/>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element minOccurs="0" name="deltakerensNavn" type="NavnMedInnkapsling"/>
      <xsd:element minOccurs="0" name="deltakersAndelAvInntekt" type="DeltakersAndelAvInntekt"/>
      <xsd:element name="selskapsandelIProsent" type="ProsentMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Tekst" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af3-9fe1-11e5-a9f8-e4115b280940">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4000"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Brukeridentifikatortype" skatt:begrepsreferanse="http://begrepskatalog/begrep/df81b854-3474-11e6-af6b-9614a8212dd3" skatt:eksternKodeliste="inline">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration skatt:begrepsreferanse="http://begrepskatalog/begrep/20b52adf-9fe1-11e5-a9f8-e4115b280940" value="partsnummer"/>
      <xsd:enumeration value="saksbehandleridentifikator"/>
      <xsd:enumeration skatt:begrepsreferanse="http://begrepskatalog/begrep/df81b855-3474-11e6-af6b-9614a8212dd3" value="systemidentifikator"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DatoKlokkeslett" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aee-9fe1-11e5-a9f8-e4115b280940">
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>
  <xsd:simpleType name="Tilstand" skatt:eksternKodeliste="inline">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration skatt:begrepsreferanse="http://begrepskatalog/begrep/cf247fcc-dfe5-11e7-9101-005056821322" value="egenfastsetting"/>
      <xsd:enumeration value="endretEgenfastsetting"/>
      <xsd:enumeration value="ugyldigEgenfastsetting"/>
      <xsd:enumeration value="varsletMyndighetsfastsetting"/>
      <xsd:enumeration value="vedtattMyndighetsfastsetting"/>
      <xsd:enumeration value="varsletKontroll"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Brukeridentifikator" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/df81b854-3474-11e6-af6b-9614a8212dd3">
    <xsd:sequence>
      <xsd:element name="identifikator" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e2f8-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
      <xsd:element name="identifikatortype" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e2f8-9fe1-11e5-a9f8-e4115b280940" type="Brukeridentifikatortype"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kildedokumentreferanse">
    <xsd:sequence>
      <xsd:element name="kildedokumentidentifikator" type="Uri"/>
      <xsd:element minOccurs="0" name="kildedokumenttype" type="Tekst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="BeloepSomHeltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e146-9fe1-11e5-a9f8-e4115b280940">
    <xsd:restriction base="Heltall"/>
  </xsd:simpleType>

  <xsd:complexType name="FormuesobjekttypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="formuesobjekttype" type="Formuesobjekttype"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FastEiendom" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fd0b-2964-11e6-b2bc-96405985e0fa">
    <xsd:sequence>
      <xsd:element name="id" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e2f8-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
      <xsd:element minOccurs="0" name="adresseopplysninger" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ce6d3293-98ef-11ea-8a84-005056828ed3" type="Adresseopplysninger"/>
      <xsd:element minOccurs="0" name="sergEiendomsidentifikator" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ce6d329d-98ef-11ea-8a84-005056828ed3" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="eiendommensNavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ce6d3298-98ef-11ea-8a84-005056828ed3" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="eksternEiendomsidentifikator" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/108097c9-25fc-11e9-85c0-005056821322" type="EksternEiendomsidentifikator"/>
      <xsd:element minOccurs="0" name="eierandel" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e17f-9fe1-11e5-a9f8-e4115b280940" type="ProsentMedInnkapsling"/>
      <xsd:element minOccurs="0" name="eierskifteAvFastEiendom" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/dcce4745-aec0-6e45-9730-178da0fcea17" type="EierskifteAvFastEiendom"/>
      <xsd:element name="internEiendomsidentifikator" type="Tekst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EntitetMedSkattemessigeEgenskaper">
    <xsd:sequence>
      <xsd:element name="id" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e2f8-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
      <xsd:element minOccurs="0" name="eksternReferanse" type="Tekst"/>
      <xsd:element minOccurs="0" name="kommunenummer" type="KommunenummerMedInnkapsling"/>
      <xsd:element minOccurs="0" name="landkode" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e112-9fe1-11e5-a9f8-e4115b280940" type="LandkodeMedInnkapsling"/>
      <xsd:element minOccurs="0" name="overfoertFraBarnTilForelder" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/41b9c8c2-973b-11e9-bed2-005056821322" type="OverfoertFraBarnTilForelder"/>
      <xsd:element minOccurs="0" name="saerskiltSkatteplikt" type="SaerskiltSkattepliktMedInnkapsling"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="aarsakTilEndring" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/46f4d78d-4c6c-11e8-bb3e-00505682132" type="AarsakTilEndringMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FastEiendomSomFormuesobjekt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/41b9c8b8-973b-11e9-bed2-005056821322">
    <xsd:complexContent>
      <xsd:extension base="EntitetMedSkattemessigeEgenskaper">
        <xsd:sequence>
          <xsd:choice>
            <xsd:element minOccurs="0" name="formuesspesifikasjonForSelveidFritidseiendom" type="FormuesspesifikasjonForSelveidFritidseiendom"/>
            <xsd:element minOccurs="0" name="formuesspesifikasjonForTomt" type="FormuesspesifikasjonForTomt"/>
            <xsd:element minOccurs="0" name="formuesspesifikasjonForAnnenFastEiendomInnenforInntektsgivendeAktivitet" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/41b9c8ba-973b-11e9-bed2-005056821322" type="FormuesspesifikasjonForAnnenFastEiendomInnenforInntektsgivendeAktivitet"/>
            <xsd:element minOccurs="0" name="formuesspesifikasjonForAnnenFastEiendomUtenforInntektsgivendeAktivitet" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/41b9c8bb-973b-11e9-bed2-005056821322" type="FormuesspesifikasjonForAnnenFastEiendomUtenforInntektsgivendeAktivitet"/>
            <xsd:element minOccurs="0" name="formuesspesifikasjonForBolig" type="FormuesspesifikasjonForBolig"/>
            <xsd:element minOccurs="0" name="formuesspesifikasjonForFlerboligbygning" type="FormuesspesifikasjonForFlerboligbygning"/>
            <xsd:element minOccurs="0" name="formuesspesifikasjonForSkalIkkeFastsettes" type="FormuesspesifikasjonForSkalIkkeFastsettes"/>
            <xsd:element minOccurs="0" name="formuesspesifikasjonForBorett" type="FormuesspesifikasjonForBorett"/>
            <xsd:element minOccurs="0" name="formuesspesifikasjonForRegnskapsbehandletBolig" type="FormuesspesifikasjonForRegnskapsbehandletBolig"/>
            <xsd:element minOccurs="0" name="formuesspesifikasjonForEgenFritaksbehandletBolig" type="FormuesspesifikasjonForEgenFritaksbehandletBolig"/>
            <xsd:element minOccurs="0" name="formuesspesifikasjonForRegnskapsbehandletFritidseiendom" type="FormuesspesifikasjonForRegnskapsbehandletFritidseiendom"/>
            <xsd:element minOccurs="0" name="formuesspesifikasjonForEgenFritaksbehandletFritidseiendom" type="FormuesspesifikasjonForEgenFritaksbehandletFritidseiendom"/>
            <xsd:element minOccurs="0" name="formuesspesifikasjonForGaardsbruk" type="FormuesspesifikasjonForGaardsbruk"/>
            <xsd:element minOccurs="0" name="formuesspesifikasjonForIkkeUtleidNaeringseiendomINorge" type="FormuesspesifikasjonForNaeringseiendom"/>
            <xsd:element minOccurs="0" name="formuesspesifikasjonForUtleidFlerboligbygningIUtlandet" type="FormuesspesifikasjonForUtleidFlerboligbygningIUtlandet"/>
            <xsd:element minOccurs="0" name="formuesspesifikasjonForUtleidNaeringseiendom" type="FormuesspesifikasjonForNaeringseiendom"/>
            <xsd:element minOccurs="0" name="formuesspesifikasjonForIkkeUtleidNaeringseiendomIUtlandet" type="FormuesspesifikasjonForNaeringseiendom"/>
            <xsd:element minOccurs="0" name="formuesspesifikasjonForSkogeiendomIUtlandet" type="FormuesspesifikasjonForSkogeiendomIUtlandet"/>
          </xsd:choice>
          <xsd:element minOccurs="0" name="eiendomstype" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fd09-2964-11e6-b2bc-96405985e0fa" type="EiendomstypeMedInnkapsling"/>
          <xsd:element minOccurs="0" name="andelAvFormuesverdi" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ece785b5-fd92-11ea-b057-0050568214e4" type="ProsentMedInnkapsling"/>
          <xsd:element name="internEiendomsidentifikator" type="Tekst"/>
          <xsd:element minOccurs="0" name="konsekvensAvFordelingsmetodeVedDobbeltbeskatningEtterSkatteavtale" type="KonsekvensAvFordelingsmetodeVedDobbeltbeskatningEtterSkatteavtale"/>
          <xsd:element minOccurs="0" name="formuesverdiForFormuesandel" skatt:erAvledet="true" type="BeloepSomHeltallMedSkattemessigeEgenskaperMedOverstyring"/>
          <xsd:element minOccurs="0" name="verdiFoerVerdsettingsrabattForFormuesandel" skatt:erAvledet="true" type="BeloepSomHeltall"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SkogeiendomINorgeSomFormuesobjekt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/41b9c8b8-973b-11e9-bed2-005056821322">
    <xsd:complexContent>
      <xsd:extension base="EntitetMedSkattemessigeEgenskaper">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="andelAvFormuesverdi" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ece785b5-fd92-11ea-b057-0050568214e4" type="ProsentMedInnkapsling"/>
          <xsd:element minOccurs="0" name="formuesspesifikasjonForSkogeiendomINorge" type="FormuesspesifikasjonForSkogeiendomINorge"/>
          <xsd:element minOccurs="0" name="formuesverdiForFormuesandel" skatt:erAvledet="true" type="BeloepSomHeltallMedSkattemessigeEgenskaperMedOverstyring"/>
          <xsd:element minOccurs="0" name="verdiFoerVerdsettingsrabattForFormuesandel" skatt:erAvledet="true" type="BeloepSomHeltall"/>
          <xsd:element minOccurs="0" name="sergMatrikkelnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e115-9fe1-11e5-a9f8-e4115b280940" type="SergMatrikkelnummer"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BoolskMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aec-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="boolsk" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aec-9fe1-11e5-a9f8-e4115b280940 " type="Boolsk"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrganisasjonsnavnMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a7-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="organisasjonsnavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a7-9fe1-11e5-a9f8-e4115b280940" type="Organisasjonsnavn"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrganisasjonsnummerMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a8-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a8-9fe1-11e5-a9f8-e4115b280940" type="Organisasjonsnummer"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LandkodeMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e112-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="landkode" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e112-9fe1-11e5-a9f8-e4115b280940 " type="Landkode"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TekstMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af3-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="tekst" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af3-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IsinnummerMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="isinnummer" type="Isinnummer"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AntallMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e145-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="antall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e145-9fe1-11e5-a9f8-e4115b280940" type="Antall"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DesimaltallMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aef-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="desimaltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aef-9fe1-11e5-a9f8-e4115b280940 " type="Desimaltall"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NavnMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e243-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="navn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e243-9fe1-11e5-a9f8-e4115b280940" type="Navn"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AnnetFinansprodukttypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="annetFinansprodukttype" type="AnnetFinansprodukttype"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Lommebok">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element minOccurs="0" name="lommebokadresse" type="TekstMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Boers">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element minOccurs="0" name="boersnavn" type="TekstMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KontonummerMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e328-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="kontonummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e328-9fe1-11e5-a9f8-e4115b280940 " type="Kontonummer"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NorskPersonidentifikatorMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/88804c46-ff43-11e6-9d97-005056825ca0">
    <xsd:sequence>
      <xsd:element name="norskPersonidentifikator" type="NorskPersonidentifikator"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeltakersAndelAvFormue">
    <xsd:sequence>
      <xsd:element name="andelAvNettoformue" skatt:erAvledet="true" type="BeloepSomHeltallMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeltakersAndelAvInntekt">
    <xsd:sequence>
      <xsd:choice>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="alminneligInntekt" skatt:erAvledet="true" type="BeloepSomHeltallMedOverstyring"/>
          <xsd:element minOccurs="0" name="underskudd" skatt:erAvledet="true" type="BeloepSomHeltallMedOverstyring"/>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="andelAvSamletInntektFraSDF" skatt:erAvledet="true" type="BeloepSomHeltallMedInnkapsling"/>
          <xsd:element name="andelAvSamletUnderskuddFraSDF" skatt:erAvledet="true" type="BeloepSomHeltallMedInnkapsling"/>
        </xsd:sequence>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProsentMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/5d2b8b80-b7e8-11e7-aa27-0050568351d2">
    <xsd:sequence>
      <xsd:element name="prosent" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/5d2b8b80-b7e8-11e7-aa27-0050568351d2" type="Prosent"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Uri" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e148-9fe1-11e5-a9f8-e4115b280940">
    <xsd:restriction base="Tekst"/>
  </xsd:simpleType>
  <xsd:simpleType name="Formuesobjekttype" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2022_formuesobjekttypeUpersonligSkattepliktig.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="Adresseopplysninger" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ce6d3293-98ef-11ea-8a84-005056828ed3">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="poststed" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e122-9fe1-11e5-a9f8-e4115b280940" type="Poststed"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="vegadresse" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e12d-9fe1-11e5-a9f8-e4115b280940" type="Vegadresse"/>
      <xsd:element minOccurs="0" name="internasjonalAdresse" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/799ab980-2f03-11e7-adc3-0050568351d2" type="InternasjonalAdresse"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EksternEiendomsidentifikator" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/108097c9-25fc-11e9-85c0-005056821322">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="bruksnavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/108097c4-25fc-11e9-85c0-005056821322" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="kommunenummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e0f3-9fe1-11e5-a9f8-e4115b280940" type="KommunenummerMedInnkapsling"/>
      <xsd:element minOccurs="0" name="sergMatrikkelnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e115-9fe1-11e5-a9f8-e4115b280940" type="SergMatrikkelnummer"/>
      <xsd:element minOccurs="0" name="eiendomsidentifikatorForBoenhetIBoligselskap" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/108097c5-25fc-11e9-85c0-005056821322" type="EiendomsidentifikatorForBoenhetIBoligselskap"/>
      <xsd:element minOccurs="0" name="boligsameietsNavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e16d-9fe1-11e5-a9f8-e4115b280940" type="OrganisasjonsnavnMedInnkapsling"/>
      <xsd:element minOccurs="0" name="boligsameietsOrganisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a8-9fe1-11e5-a9f8-e4115b280940" type="OrganisasjonsnummerMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EierskifteAvFastEiendom" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/dcce4745-aec0-6e45-9730-178da0fcea17">
    <xsd:sequence>
      <xsd:element name="erEierskifteTinglyst" skatt:begrepsreferanse="http://data.skatteetaten.no/begrep/778fdf02-5ad4-7243-b916-26e8c4dd7ae8" type="BoolskMedInnkapsling"/>
      <xsd:element name="datoForOverdragelse" type="DatoMedInnkapsling"/>
      <xsd:element minOccurs="0" name="inngangsverdiForFastEiendomOverdrattSomArvEllerGave" type="BeloepIValutaMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="fastEiendomOverdrattSomArvEllerGave" type="BoolskMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KommunenummerMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e0f3-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="kommunenummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e0f3-9fe1-11e5-a9f8-e4115b280940 " type="Kommunenummer"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OverfoertFraBarnTilForelder">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="andelOverfoert" type="ProsentMedInnkapsling"/>
      <xsd:element name="barnetsPersonidentifikator" type="NorskPersonidentifikatorMedInnkapsling"/>
      <xsd:element minOccurs="0" name="barnetsNavn" type="Personnavn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SaerskiltSkattepliktMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="saerskiltSkatteplikt" type="SaerskiltSkatteplikt"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AarsakTilEndringMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="aarsakTilEndring" type="AarsakTilEndring"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormuesspesifikasjonForSelveidFritidseiendom">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="formuesverdiForSelveidFritidseiendom" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/b57408a3-d96a-11e6-8d9b-005056821322" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="markedsverdiForSelveidFritidseiendom" type="BeloepIValutaMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormuesspesifikasjonForTomt">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="formuesverdiForTomt" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/064f092d-81f1-6e4f-a115-1e88a58cdb89" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="markedsverdiForTomt" type="BeloepIValutaMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormuesspesifikasjonForAnnenFastEiendomInnenforInntektsgivendeAktivitet" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/41b9c8ba-973b-11e9-bed2-005056821322">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="formuesverdiForAnnenFastEiendomInnenforInntektsgivendeAktivitet" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/41b9c8bc-973b-11e9-bed2-005056821322" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="markedsverdiForAnnenFastEiendomInnenforInntektsgivendeAktivitet" type="BeloepIValutaMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormuesspesifikasjonForAnnenFastEiendomUtenforInntektsgivendeAktivitet" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/41b9c8bb-973b-11e9-bed2-005056821322">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="formuesverdiForAnnenFastEiendomUtenforInntektsgivendeAktivitet" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/41b9c8bd-973b-11e9-bed2-005056821322" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="markedsverdiForAnnenFastEiendomUtenforInntektsgivendeAktivitet" type="BeloepIValutaMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormuesspesifikasjonForBolig">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="boligegenskaper" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ce6d3296-98ef-11ea-8a84-005056828ed3" type="Boligegenskaper"/>
      <xsd:element minOccurs="0" name="boligbruk" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fcfa-2964-11e6-b2bc-96405985e0fa" type="BoligbrukskodeMedInnkapsling"/>
      <xsd:element minOccurs="0" name="beregnetMarkedsverdiForBolig" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ce6d3295-98ef-11ea-8a84-005056828ed3" type="BeregnetMarkedsverdiForBolig"/>
      <xsd:element minOccurs="0" name="formuesverdiForBolig" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fd16-2964-11e6-b2bc-96405985e0fa" type="FormuesverdiForBolig"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormuesspesifikasjonForFlerboligbygning">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="beregnetMarkedsverdi" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ce6d3295-98ef-11ea-8a84-005056828ed3" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="grunnlagForBeregnetMarkedsverdi" type="GrunnlagForBeregnetMarkedsverdiForBolig"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="useksjonertBoenhet" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fd5f-2964-11e6-b2bc-96405985e0fa" type="UseksjonertBoenhet"/>
      <xsd:element minOccurs="0" name="formuesverdiForFlerboligbygning" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/cf247fd6-dfe5-11e7-9101-005056821322" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="markedsverdiErGrunnlagForBeregningAvFormuesverdiForFlerboligbygning" type="BoolskMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormuesspesifikasjonForSkalIkkeFastsettes">
    <xsd:sequence>
      <xsd:element name="aarsakTilIkkeFastsetting" type="AarsakTilIkkeFastsetting"/>
      <xsd:element minOccurs="0" name="tilhoererEiendom" type="TekstMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormuesspesifikasjonForBorett">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="formuesverdiForBorett" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/5f777b12-2bf1-b34c-a092-549d1cdd84c0" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="markedsverdiForBorett" type="BeloepIValutaMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormuesspesifikasjonForRegnskapsbehandletBolig">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="formuesverdiForRegnskapsbehandletBolig" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/c2f13032-2540-f84f-a809-3361c4b4439b" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="markedsverdiForRegnskapsbehandletBolig" type="BeloepIValutaMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormuesspesifikasjonForEgenFritaksbehandletBolig">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="formuesverdiForEgenFritaksbehandletBolig" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/c571158c-e711-b040-bc74-233876816a50" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="markedsverdiForEgenFritaksbehandletBolig" type="BeloepIValutaMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormuesspesifikasjonForRegnskapsbehandletFritidseiendom">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="formuesverdiForRegnskapsbehandletFritidseiendom" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ae369753-9f62-214a-9701-cdcf4b20aa96" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="markedsverdiForRegnskapsbehandletFritidseiendom" type="BeloepIValutaMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormuesspesifikasjonForEgenFritaksbehandletFritidseiendom">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="formuesverdiForEgenFritaksbehandletFritidseiendom" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="markedsverdiForEgenFritaksbehandletFritidseiendom" type="BeloepIValutaMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormuesspesifikasjonForGaardsbruk">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="formuesverdiForGaardsbruk" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/e90e5f7e-093d-fa4f-af8d-45e365f0a607" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="markedsverdiForGaardsbruk" type="BeloepIValutaMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormuesspesifikasjonForNaeringseiendom">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="formuesverdiForNaeringseiendom" skatt:erAvledet="true" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="beregnetUtleieverdiForNaeringseiendom" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/46f4d702-4c6c-11e8-bb3e-005056821322" skatt:erAvledet="true" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="grunnlagForBeregnetUtleieverdiForNaeringseiendom" type="GrunnlagForBeregnetUtleieverdiForNaeringseiendom"/>
      <xsd:element minOccurs="0" name="areal" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/46f4d756-4c6c-11e8-bb3e-005056821322" type="HeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="naeringseiendomstype" type="NaeringseiendomstypeMedInnkapsling"/>
      <xsd:element minOccurs="0" name="utleidAreal" type="HeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="antallMaanederUtleid" type="AntallMedInnkapsling"/>

    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormuesspesifikasjonForUtleidFlerboligbygningIUtlandet">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="formuesverdiForUtleidFlerboligbygningIUtlandet" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="markedsverdiForUtleidFlerboligbygningIUtlandet" type="BeloepIValutaMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormuesspesifikasjonForSkogeiendomIUtlandet">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="formuesverdiForSkogeiendomIUtlandet" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="markedsverdiForSkogeiendomIUtlandet" type="BeloepIValutaMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EiendomstypeMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fd09-2964-11e6-b2bc-96405985e0fa">
    <xsd:sequence>
      <xsd:element name="eiendomstype" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fd09-2964-11e6-b2bc-96405985e0fa" type="Eiendomstype"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KonsekvensAvFordelingsmetodeVedDobbeltbeskatningEtterSkatteavtale">
    <xsd:sequence>
      <xsd:element name="konsekvensAvFordelingsmetode" type="KonsekvensAvFordelingsmetodeMedInnkapsling"/>
      <xsd:element minOccurs="0" name="overstyrerKonsekvensAvFordelingsmetodeISkatteavtale" skatt:erAvledet="true" type="Boolsk"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeloepSomHeltallMedSkattemessigeEgenskaperMedOverstyring">
    <xsd:sequence>
      <xsd:element name="beloep" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="trygdeEllerSkattemessigUnntak" type="TrygdeEllerSkattemessigUnntakMedInnkapsling"/>
      <xsd:element minOccurs="0" name="metodeVedDobbeltbeskatning" type="MetodeVedDobbeltbeskatningMedInnkapsling"/>
      <xsd:element minOccurs="0" name="erOverstyrt" type="BoolskMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormuesspesifikasjonForSkogeiendomINorge">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="andelUngskog" type="ProsentMedInnkapsling"/>
      <xsd:element minOccurs="0" name="anvendtPrissone" skatt:erAvledet="true" type="Tekst"/>
      <xsd:element minOccurs="0" name="kostnadssjablong" skatt:erAvledet="true" type="Tekst"/>
      <xsd:element minOccurs="0" name="avkastningsverdiPerEiendom" skatt:erAvledet="true" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
      <xsd:element maxOccurs="4" minOccurs="0" name="tilvekst" type="Tilvekstspesifikasjon"/>
      <xsd:element minOccurs="0" name="sumTilvekst" skatt:erAvledet="true" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="korrigertKostnadssjablong" type="Tekst"/>
      <xsd:element minOccurs="0" name="anvendtKostnadssjablong" skatt:erAvledet="true" type="Tekst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SergMatrikkelnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e115-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="gaardsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e10f-9fe1-11e5-a9f8-e4115b280940" type="GaardsnummerMedInnkapsling"/>
      <xsd:element minOccurs="0" name="bruksnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e102-9fe1-11e5-a9f8-e4115b280940" type="BruksnummerMedInnkapsling"/>
      <xsd:element minOccurs="0" name="festenummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e10a-9fe1-11e5-a9f8-e4115b280940" type="FestenummerMedInnkapsling"/>
      <xsd:element minOccurs="0" name="seksjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e124-9fe1-11e5-a9f8-e4115b280940" type="SeksjonsnummerMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Boolsk" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aec-9fe1-11e5-a9f8-e4115b280940">
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>
  <xsd:simpleType name="Organisasjonsnavn">
    <xsd:restriction base="Tekst"/>
  </xsd:simpleType>
  <xsd:simpleType name="Organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a8-9fe1-11e5-a9f8-e4115b280940">
    <xsd:restriction base="Tekst"/>
  </xsd:simpleType>
  <xsd:simpleType name="Landkode" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e112-9fe1-11e5-a9f8-e4115b280940">
    <xsd:restriction base="Tekst">
      <xsd:pattern value="([A-Z]){2}"/>
      <xsd:length value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Isinnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e325-9fe1-11e5-a9f8-e4115b280940">
    <xsd:restriction base="Tekst">
      <xsd:pattern value="[A-Z]{2}[0-9A-Z]{9}[0-9]{1}"/>
      <xsd:length value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Antall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e145-9fe1-11e5-a9f8-e4115b280940">
    <xsd:restriction base="Heltall"/>
  </xsd:simpleType>
  <xsd:simpleType name="Desimaltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aef-9fe1-11e5-a9f8-e4115b280940">
    <xsd:restriction base="xsd:decimal"/>
  </xsd:simpleType>
  <xsd:simpleType name="Navn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e243-9fe1-11e5-a9f8-e4115b280940">
    <xsd:restriction base="Tekst">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="200"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AnnetFinansprodukttype" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2022_finansprodukt.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Kontonummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e328-9fe1-11e5-a9f8-e4115b280940">
    <xsd:restriction base="Tekst"/>
  </xsd:simpleType>
  <xsd:simpleType name="NorskPersonidentifikator">
    <xsd:restriction base="Tekst"/>
  </xsd:simpleType>
  <xsd:simpleType name="Prosent" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/5d2b8b80-b7e8-11e7-aa27-0050568351d2">
    <xsd:restriction base="Desimaltall"/>
  </xsd:simpleType>
  <xsd:complexType name="Poststed" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e122-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="poststedsnavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e123-9fe1-11e5-a9f8-e4115b280940 " type="TekstMedInnkapsling"/>
      <xsd:element name="postnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e121-9fe1-11e5-a9f8-e4115b280940" type="PostnummerMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vegadresse" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e12d-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="id" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e2f8-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
      <xsd:element minOccurs="0" name="adressenavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e0f9-9fe1-11e5-a9f8-e4115b280940" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="adressenummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e0fa-9fe1-11e5-a9f8-e4115b280940" type="Adressenummer"/>
      <xsd:element minOccurs="0" name="bruksenhetsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e101-9fe1-11e5-a9f8-e4115b280940" type="BruksenhetsnummerMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InternasjonalAdresse" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/799ab980-2f03-11e7-adc3-0050568351d2">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="coAdressenavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e104-9fe1-11e5-a9f8-e4115b280940" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="adressenavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e0f9-9fe1-11e5-a9f8-e4115b280940" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="adressenummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e0fa-9fe1-11e5-a9f8-e4115b280940" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="bygning" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fd03-2964-11e6-b2bc-96405985e0fa" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="etasjenummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e109-9fe1-11e5-a9f8-e4115b280940" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="boenhet" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e304-9fe1-11e5-a9f8-e4115b280940" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="postboks" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e308-9fe1-11e5-a9f8-e4115b280940" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="postkode" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e11f-9fe1-11e5-a9f8-e4115b280940" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="byEllerStedsnavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e305-9fe1-11e5-a9f8-e4115b280940" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="distriktsnavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e109-9fe1-11e5-a9f8-e4115b280940 " type="TekstMedInnkapsling"/>
      <xsd:element maxOccurs="6" minOccurs="0" name="administrativEnhet" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e0f4-9fe1-11e5-a9f8-e4115b280940" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="adressebrukskategori" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e0f7-9fe1-11e5-a9f8-e4115b280940" type="AdressebrukskategoriMedInnkapsling"/>
      <xsd:element minOccurs="0" name="landkode" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e112-9fe1-11e5-a9f8-e4115b280940" type="LandkodeMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EiendomsidentifikatorForBoenhetIBoligselskap" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/108097c5-25fc-11e9-85c0-005056821322">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="boligselskapetsOrganisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a8-9fe1-11e5-a9f8-e4115b280940" type="OrganisasjonsnummerMedInnkapsling"/>
      <xsd:element minOccurs="0" name="boligselskapetsNavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e17b-9fe1-11e5-a9f8-e4115b280940" type="OrganisasjonsnavnMedInnkapsling"/>
      <xsd:element minOccurs="0" name="enhetsnummerForBoenhetIBoligselskap" skatt:begrepsreferanse="http://data.skatteetaten.no/begrep/108097ca-25fc-11e9-85c0-005056821322" type="EnhetsnummerForBoenhetIBoligselskap"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DatoMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aed-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="dato" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aed-9fe1-11e5-a9f8-e4115b280940 " type="Dato"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeloepIValutaMedSkattemessigeEgenskaper">
    <xsd:sequence>
      <xsd:element name="beloep" type="BeloepIValuta"/>
      <xsd:element minOccurs="0" name="trygdeEllerSkattemessigUnntak" type="TrygdeEllerSkattemessigUnntakMedInnkapsling"/>
      <xsd:element minOccurs="0" name="metodeVedDobbeltbeskatning" type="MetodeVedDobbeltbeskatningMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Kommunenummer" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2022_aktiveKommunenummer.xml">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([0-9]){4}"/>
      <xsd:length value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Personnavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/88804c45-ff43-11e6-9d97-005056825ca0">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fornavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/5138da05-be20-11e6-8004-005056825ca0 " type="NavnMedInnkapsling"/>
      <xsd:element minOccurs="0" name="mellomnavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/88804c2f-ff43-11e6-9d97-005056825ca0" type="NavnMedInnkapsling"/>
      <xsd:element minOccurs="0" name="etternavn" type="NavnMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="SaerskiltSkatteplikt" skatt:eksternKodeliste="/formuesOgInntektsskatt/2022_saerskiltSkatteplikt.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="AarsakTilEndring" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2022_aarsakTilEndringISkattemelding.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="BeloepSomHeltallMedSkattemessigeEgenskaper">
    <xsd:sequence>
      <xsd:element name="beloep" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="trygdeEllerSkattemessigUnntak" type="TrygdeEllerSkattemessigUnntakMedInnkapsling"/>
      <xsd:element minOccurs="0" name="metodeVedDobbeltbeskatning" type="MetodeVedDobbeltbeskatningMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Boligegenskaper">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="boligensAreal" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fcfb-2964-11e6-b2bc-96405985e0fa" type="HeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="boligtype" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fcfc-2964-11e6-b2bc-96405985e0fa" type="BoligtypekodeMedInnkapsling"/>
      <xsd:element minOccurs="0" name="byggeaar" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fd02-2964-11e6-b2bc-96405985e0fa" type="AarstallMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BoligbrukskodeMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fcfa-2964-11e6-b2bc-96405985e0fa">
    <xsd:sequence>
      <xsd:element name="boligbruk" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fcfa-2964-11e6-b2bc-96405985e0fa" type="Boligbrukskode"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BeregnetMarkedsverdiForBolig" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ce6d3295-98ef-11ea-8a84-005056828ed3">
    <xsd:sequence>
      <xsd:element name="beregnetMarkedsverdiForBolig" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ce6d3295-98ef-11ea-8a84-005056828ed3" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="grunnlagForBeregnetMarkedsverdiForBolig" type="GrunnlagForBeregnetMarkedsverdiForBolig"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FormuesverdiForBolig">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="formuesverdiForBolig" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fd16-2964-11e6-b2bc-96405985e0fa" skatt:erAvledet="true" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="formuesaar" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/46f4d729-4c6c-11e8-bb3e-005056821322" type="AarstallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="markedsverdiErGrunnlagForBeregningAvFormuesverdiForBolig" type="BoolskMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GrunnlagForBeregnetMarkedsverdiForBolig">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="boligverdi" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ec675d4c-0e65-8144-aa88-9bedd74371f6" type="BeloepIValutaMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="dokumentertMarkedsverdiForBolig" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ce6d3297-98ef-11ea-8a84-005056828ed3" type="DokumentertMarkedsverdiForBolig"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UseksjonertBoenhet" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fd5f-2964-11e6-b2bc-96405985e0fa">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element minOccurs="0" name="boligverdiForUseksjonertBoenhet" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/28455522-e51f-f94a-8c69-21c455f69e78" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
      </xsd:choice>
      <xsd:element name="id" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e2f8-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
      <xsd:element minOccurs="0" name="bruksenhetsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e101-9fe1-11e5-a9f8-e4115b280940" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="boligegenskaper" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ce6d3296-98ef-11ea-8a84-005056828ed3" type="Boligegenskaper"/>
      <xsd:element minOccurs="0" name="boligbruk" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fcfa-2964-11e6-b2bc-96405985e0fa" type="BoligbrukskodeMedInnkapsling"/>
      <xsd:element minOccurs="0" name="formuesverdiForFormuesandel" skatt:erAvledet="true" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="verdiFoerVerdsettingsrabattForFormuesandel" skatt:erAvledet="true" type="BeloepSomHeltall"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="AarsakTilIkkeFastsetting" skatt:eksternKodeliste="inline">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="tilleggseiendom"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="GrunnlagForBeregnetUtleieverdiForNaeringseiendom">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="utleieverdi" type="BeloepIValutaMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="dokumentertMarkedsverdiForNaeringseiendom" type="BeloepIValutaMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="bruttoUtleieinntekt" type="BeloepIValutaMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="aarligUtleieinntektIAaretFoerInntektsaar" type="BeloepIValutaMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="aarligUtleieinntektToAarFoerInntektsaar" type="BeloepIValutaMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="sisteRapporterteUtleieinntekt" type="BeloepIValutaMedSkattemessigeEgenskaper"/>
      <xsd:element minOccurs="0" name="avvikVedAnvendtDokumentertMarkedsverdi" skatt:erAvledet="true" type="Prosent"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HeltallMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af0-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="heltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af0-9fe1-11e5-a9f8-e4115b280940 " type="Heltall"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NaeringseiendomstypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="naeringseiendomstype" type="Naeringseiendomstype"/>


    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="Eiendomstype" skatt:begrepsreferanse="http://begrepskatalog/begrep/9c33fd09-2964-11e6-b2bc-96405985e0fa" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2022_eiendomstype.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="KonsekvensAvFordelingsmetodeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="konsekvensAvFordelingsmetode" type="KonsekvensAvFordelingsmetode"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TrygdeEllerSkattemessigUnntakMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="trygdeEllerSkattemessigUnntak" type="TrygdeEllerSkattemessigUnntak"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MetodeVedDobbeltbeskatningMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="metodeVedDobbeltbeskatning" type="MetodeVedDobbeltbeskatning"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tilvekstspesifikasjon">
    <xsd:sequence>
      <xsd:element name="id" type="Tekst"/>
      <xsd:element name="bonitetstype" type="BonitetstypeMedInnkapsling"/>
      <xsd:element name="areal" type="AntallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="tilvekstPerBonitet" skatt:erAvledet="true" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GaardsnummerMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="gaardsnummer" type="Gaardsnummer"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BruksnummerMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="bruksnummer" type="Bruksnummer"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FestenummerMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="festenummer" type="Festenummer"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SeksjonsnummerMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="seksjonsnummer" type="Seksjonsnummer"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostnummerMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e121-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="postnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e121-9fe1-11e5-a9f8-e4115b280940" type="Postnummer"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Adressenummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e0fa-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="husnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e111-9fe1-11e5-a9f8-e4115b280940" type="TekstMedInnkapsling"/>
      <xsd:element minOccurs="0" name="husbokstav" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e110-9fe1-11e5-a9f8-e4115b280940" type="TekstMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BruksenhetsnummerMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="bruksenhetsnummer" type="Bruksenhetsnummer"/>

    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AdressebrukskategoriMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e0f7-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="adressebrukskategori" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e0f7-9fe1-11e5-a9f8-e4115b280940" type="Adressebrukskategori"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EnhetsnummerForBoenhetIBoligselskap">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="aksjeboenhetsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e175-9fe1-11e5-a9f8-e4115b280940" type="HeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="andelsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e178-9fe1-11e5-a9f8-e4115b280940" type="HeltallMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Dato" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aed-9fe1-11e5-a9f8-e4115b280940">
    <xsd:restriction base="xsd:date"/>
  </xsd:simpleType>
  <xsd:complexType name="BeloepIValuta" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e146-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="beloepINok" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e146-9fe1-11e5-a9f8-e4115b280940" type="BeloepSomHeltallMedInnkapsling"/>
      <xsd:element name="beloepIValuta" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e146-9fe1-11e5-a9f8-e4115b280940" type="BeloepMedInnkapsling"/>
      <xsd:element minOccurs="0" name="valutakode" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a2-9fe1-11e5-a9f8-e4115b280940" type="ValutakodeMedInnkapsling"/>
      <xsd:element minOccurs="0" name="valutakurs" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fd65-2964-11e6-b2bc-96405985e0fa" type="ValutakursMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BoligtypekodeMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fcfc-2964-11e6-b2bc-96405985e0fa">
    <xsd:sequence>
      <xsd:element name="boligtype" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fcfc-2964-11e6-b2bc-96405985e0fa" type="Boligtypekode"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AarstallMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e14a-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="aarstall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e14a-9fe1-11e5-a9f8-e4115b280940" type="Aarstall"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Boligbrukskode" skatt:begrepsreferanse="http://begrepskatalog/begrep/9c33fcfa-2964-11e6-b2bc-96405985e0fa" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2022_boligbruk.xml">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration skatt:begrepsreferanse="http://begrepskatalog/begrep/410ade80-9202-11e6-8b61-82ab1fa1f30b" value="primaerbolig"/>
      <xsd:enumeration skatt:begrepsreferanse="http://begrepskatalog/begrep/410ade85-9202-11e6-8b61-82ab1fa1f30b" value="sekundaerbolig"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DokumentertMarkedsverdiForBolig">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element minOccurs="0" name="dokumentertMarkedsverdiForBolig" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ce6d3297-98ef-11ea-8a84-005056828ed3" type="BeloepIValutaMedSkattemessigeEgenskaper"/>
        <xsd:element minOccurs="0" name="dokumentertMarkedsverdiForBoligIRandsoneEtterKommunereformen" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
      </xsd:choice>
      <xsd:element minOccurs="0" name="aarForMottattMarkedsverdi" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ce6d3294-98ef-11ea-8a84-005056828ed3" type="AarstallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="justertMarkedsverdiForBolig" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ce6d329a-98ef-11ea-8a84-005056828ed3" type="JustertMarkedsverdiForBolig"/>
      <xsd:element minOccurs="0" name="datoForDokumentertMarkedsverdiForBolig" type="DatoMedInnkapsling"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Naeringseiendomstype" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2022_naeringseiendomstype.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="KonsekvensAvFordelingsmetode" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2022_konsekvensAvFordelingsmetodeVedDobbeltbeskatningForFastEiendom.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="TrygdeEllerSkattemessigUnntak" skatt:eksternKodeliste="/formuesOgInntektsskatt/2022_trygdeEllerSkattemessigUnntak.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="MetodeVedDobbeltbeskatning" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2022_metodeVedDobbeltbeskatning.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="BonitetstypeMedInnkapsling">
    <xsd:sequence>
      <xsd:element name="bonitetstype" type="Bonitetstype"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Gaardsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e10f-9fe1-11e5-a9f8-e4115b280940">
    <xsd:restriction base="Heltall">
      <xsd:totalDigits value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Bruksnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/bruksnummer">
    <xsd:restriction base="Heltall">
      <xsd:totalDigits value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Festenummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e10a-9fe1-11e5-a9f8-e4115b280940">
    <xsd:restriction base="Heltall">
      <xsd:totalDigits value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Seksjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/seksjonsnummer">
    <xsd:restriction base="Heltall">
      <xsd:totalDigits value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Postnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e121-9fe1-11e5-a9f8-e4115b280940">
    <xsd:restriction base="Tekst">
      <xsd:pattern value="([0-9]){4}"/>
      <xsd:length value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Bruksenhetsnummer" skatt:begrepsreferanse="http://begrepskatalog.skead.no/begrep/Bruksenhetsnummer ">
    <xsd:restriction base="Tekst">
      <xsd:pattern value="[HUKLhukl]{1}[0-9]{4}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Adressebrukskategori" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e0f7-9fe1-11e5-a9f8-e4115b280940">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration skatt:begrepsreferanse="http://www.skatteetaten.no/begrep/offisiellforretning" value="offisiellForretning"/>
      <xsd:enumeration skatt:begrepsreferanse="http://www.skatteetaten.no/begrep/offisiellpost" value="offisiellPost"/>
      <xsd:enumeration skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1aa-9fe1-11e5-a9f8-e4115b280940" value="virksomhet"/>
      <xsd:enumeration skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e100-9fe1-11e5-a9f8-e4115b280940" value="bosted"/>
      <xsd:enumeration skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e11b-9fe1-11e5-a9f8-e4115b280940" value="post"/>
      <xsd:enumeration skatt:begrepsreferanse="http://www.skatteetaten.no/begrep/adresse/leveranse" value="leveranse"/>
      <xsd:enumeration skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52ba4-9fe1-11e5-a9f8-e4115b280940" value="ukjent"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="BeloepMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e146-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="beloep" type="BeloepMed2Desimaler"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValutakodeMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a2-9fe1-11e5-a9f8-e4115b280940">
    <xsd:sequence>
      <xsd:element name="valutakode" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a2-9fe1-11e5-a9f8-e4115b280940" type="Valutakode"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValutakursMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fd65-2964-11e6-b2bc-96405985e0fa">
    <xsd:sequence>
      <xsd:element name="valutakurs" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fd65-2964-11e6-b2bc-96405985e0fa" type="Valutakurs"/>


    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Boligtypekode" skatt:begrepsreferanse="http://begrepskatalog/begrep/9c33fcfc-2964-11e6-b2bc-96405985e0fa" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2022_boligtype.xml">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration skatt:begrepsreferanse="http://begrepskatalog/begrep/9c33fd0a-2964-11e6-b2bc-96405985e0fa" value="enebolig"/>
      <xsd:enumeration skatt:begrepsreferanse="http://begrepskatalog/begrep/9c33fd55-2964-11e6-b2bc-96405985e0fa" value="smaahus"/>
      <xsd:enumeration skatt:begrepsreferanse="http://begrepskatalog/begrep/9c33fd3a-2964-11e6-b2bc-96405985e0fa" value="leilighet"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="JustertMarkedsverdiForBolig">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="boligverdi" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ec675d4c-0e65-8144-aa88-9bedd74371f6" type="HeltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="reduksjonsfaktorForJustertMarkedsverdiForBolig" skatt:erAvledet="true" type="DesimaltallMedInnkapsling"/>
      <xsd:element minOccurs="0" name="justertMarkedsverdiForBolig" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/ce6d329a-98ef-11ea-8a84-005056828ed3" type="BeloepSomHeltallMedSkattemessigeEgenskaper"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Bonitetstype" skatt:eksternKodeliste="/formuesOgInntektsskatt/skattemelding/2022_bonitetstype.xml">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="Beloep" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e146-9fe1-11e5-a9f8-e4115b280940">
    <xsd:restriction base="Desimaltall"/>
  </xsd:simpleType>
  <xsd:simpleType name="BeloepMed2Desimaler">
    <xsd:restriction base="Beloep">
      <xsd:fractionDigits value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Valutakode" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a2-9fe1-11e5-a9f8-e4115b280940">
    <xsd:restriction base="Tekst"/>
  </xsd:simpleType>
  <xsd:simpleType name="Valutakurs" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/9c33fd65-2964-11e6-b2bc-96405985e0fa">
    <xsd:restriction base="Desimaltall"/>
  </xsd:simpleType>
</xsd:schema>