src/resources/xsd/skatteberegningsgrunnlag_v11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:no:skatteetaten:fastsetting:formueinntekt:skatteberegningsgrunnlag:v11" xmlns:skatt="http://www.skatteetaten.no/xsd" xmlns:typekatalog="urn:ske:informasjonsrammeverk:typekatalog" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:no:skatteetaten:fastsetting:formueinntekt:skatteberegningsgrunnlag:v11">
    <xsd:annotation>
        <xsd:documentation>
            <xsd:attribute fixed="2025-08-14T10:20:07.643+0200" name="generertDato"/>
            <xsd:attribute fixed="11" name="versjon"/>
            <xsd:attribute fixed="Inntektsår 2026" name="beskrivelse"/>
            <xsd:attribute fixed="v11 (2026)" name="modellnavn"/>
            <xsd:attribute fixed="urn:no:skatteetaten:fastsetting:formueinntekt:skatteberegningsgrunnlag:v11" name="navnerom"/>
            <xsd:attribute fixed="true" name="begrepsreferanse"/>
            <xsd:attribute fixed="false" name="dokumentasjon"/>
            <xsd:attribute fixed="false" name="nillable"/>
            <xsd:attribute fixed="false" name="modellelement"/>
            <xsd:attribute fixed="false" name="norskeTegn"/>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="urn:ske:informasjonsrammeverk:typekatalog" schemaLocation="typekatalog/typekatalog_v2.xsd"/>
    <xsd:element name="skatteberegningsgrunnlag" type="Skatteberegningsgrunnlag"/>
    <xsd:complexType name="Skatteberegningsgrunnlag">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="partsnummer" type="typekatalog:Partsnummer"/>
            <xsd:element minOccurs="0" name="inntektsaar" type="typekatalog:Inntektsaar"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="skatteberegningsgrunnlagsobjekt" type="Skatteberegningsgrunnlagsobjekt"/>
            <xsd:element minOccurs="0" name="oevrig" type="OevrigInformasjon"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Skatteberegningsgrunnlagsobjekt">
        <xsd:sequence>
            <xsd:choice minOccurs="0">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="fordelingsmetodeVedDobbeltbeskatningIForskudd" type="Fordelingsmetodekode"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="konsekvensAvFordelingsmetodeVedDobbeltbeskatningForFastEiendom" type="KonsekvensAvFordelingsmetodeVedDobbeltbeskatningForFastEiendom"/>
                    <xsd:element minOccurs="0" name="verdiFoerVerdsettingsrabattForFastEiendom" type="typekatalog:BeloepSomHeltall"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="inntektFraEttEOESlandOverstiger90Prosent" type="typekatalog:Boolsk"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="gjennomsnittligVektetPensjonsgrad" type="typekatalog:Prosent"/>
                    <xsd:element minOccurs="0" name="antallMaanederMedPensjon" type="Tolvdel"/>
                    <xsd:element minOccurs="0" name="harKravPaaSkattefradragForPensjon" type="typekatalog:Boolsk"/>
                </xsd:sequence>
            </xsd:choice>
            <xsd:element minOccurs="0" name="identifikator" type="typekatalog:Tekst"/>
            <xsd:element name="tekniskNavn" type="Skattegrunnlagsobjektnavn"/>
            <xsd:element minOccurs="0" name="beloep" type="typekatalog:BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="saerskiltSkatteplikt" type="SaerskiltSkattepliktstype"/>
            <xsd:element minOccurs="0" name="kommune" type="typekatalog:Kommunenummer"/>
            <xsd:element minOccurs="0" name="land" type="typekatalog:Landkode"/>
            <xsd:element minOccurs="0" name="kategori" type="Skattegrunnlagsobjektkategori"/>
            <xsd:element minOccurs="0" name="barnetsPersonidentifikator" type="BarnetsIdentifikator"/>
            <xsd:element minOccurs="0" name="trygdeEllerSkattemessigUnntak" type="TrygdeEllerSkattemessigUnntak"/>
            <xsd:element minOccurs="0" name="gjelderInntektsaar" type="typekatalog:Aarstall"/>
            <xsd:element minOccurs="0" name="skalVisesSomSkattefri" type="typekatalog:Boolsk"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OevrigInformasjon">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="vurderesForSkattebegrensningParagraf17LitenSkatteevne" type="typekatalog:Boolsk"/>
            <xsd:element minOccurs="0" name="vurderesForSkattebegrensningParagraf17LavAlminneligInntekt" type="typekatalog:Boolsk"/>
            <xsd:element minOccurs="0" name="informasjonTilSkatteoppgjoer" type="InformasjonTilSkatteoppgjoer"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="BarnetsIdentifikator">
        <xsd:restriction base="typekatalog:Tekst">
            <xsd:pattern value="[0-9]+"/>
            <xsd:maxLength value="11"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="InformasjonTilSkatteoppgjoer">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="fastsettingsdato" type="typekatalog:Dato"/>
            <xsd:element minOccurs="0" name="tekstkode" type="typekatalog:Tekst"/>
            <xsd:element minOccurs="0" name="gjelderSkjoennsfastsetting" type="typekatalog:Boolsk"/>
            <xsd:element minOccurs="0" name="gjelderForhaandsfastsetting" type="typekatalog:Boolsk"/>
            <xsd:element maxOccurs="2" minOccurs="0" name="forskuddstrekkOverfoertTilForelder" type="NorskPersonidentifikator"/>
            <xsd:element minOccurs="0" name="harForhoeyetBeloepsgrenseForBortskriving" type="typekatalog:Boolsk"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="NorskPersonidentifikator">
        <xsd:restriction base="typekatalog:Tekst">
            <xsd:pattern value="[0-9]+"/>
            <xsd:length value="11"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Tolvdel">
        <xsd:restriction base="typekatalog:Heltall"/>
    </xsd:simpleType>
    <xsd:simpleType name="KonsekvensAvFordelingsmetodeVedDobbeltbeskatningForFastEiendom" skatt:eksternKodeliste="https://git.aurora.skead.no/projects/KOLI/repos/kodeliste-prod_v2/browse/formuesOgInntektsskatt/skattemelding/2024_konsekvensAvFordelingsmetodeVedDobbeltbeskatningForFastEiendom.xml">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="SaerskiltSkattepliktstype" skatt:eksternKodeliste="https://git.aurora.skead.no/projects/KOLI/repos/kodeliste-prod_v2/browse/formuesOgInntektsskatt/2024_saerskiltSkatteplikt.xml">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="TrygdeEllerSkattemessigUnntak" skatt:eksternKodeliste="https://git.aurora.skead.no/projects/KOLI/repos/kodeliste-prod_v2/browse/formuesOgInntektsskatt/2024_trygdeEllerSkattemessigUnntak.xml">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="Fordelingsmetodekode">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="fordeltMellomNorgeOgUtland"/>
            <xsd:enumeration value="knyttetTilLoennINorge"/>
            <xsd:enumeration value="knyttetTilLoennIUtlandet"/>
            <xsd:enumeration value="forholdsmessigFordeling"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Skattegrunnlagsobjektnavn">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="Skattegrunnlagsobjektkategori">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
</xsd:schema>
