src/resources/xsd/skatteberegningsgrunnlag_v6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:no:skatteetaten:fastsetting:formueinntekt:skatteberegningsgrunnlag:v6" xmlns:skatt="http://www.skatteetaten.no/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:no:skatteetaten:fastsetting:formueinntekt:skatteberegningsgrunnlag:v6">
    <xsd:annotation>
        <xsd:documentation>
            <xsd:attribute fixed="2021-03-02T14:44:32.783+0100" name="generertDato"/>
            <xsd:attribute fixed="v6" name="versjon"/>
            <xsd:attribute fixed="urn:ske:fastsetting:skatt:skatteobjektstyper:v2_95" name="beskrivelse"/>
            <xsd:attribute fixed="v6" name="modellnavn"/>
            <xsd:attribute fixed="urn:no:skatteetaten:fastsetting:formueinntekt:skatteberegningsgrunnlag:v6" name="navnerom"/>
            <xsd:attribute fixed="true" name="begrepsreferanse"/>
            <xsd:attribute fixed="false" name="dokumentasjon"/>
            <xsd:attribute fixed="false" name="nillable"/>
            <xsd:attribute fixed="false" name="modellelement"/>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:element name="skattegrunnlag" type="Skattegrunnlag"/>
    <xsd:complexType name="Skattegrunnlag">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="partsnummer" type="Partsnummer"/>
            <xsd:element minOccurs="0" name="inntektsaar" type="Inntektsaar"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="skattegrunnlagsobjekt" type="Skattegrunnlagsobjekt"/>
            <xsd:element minOccurs="0" name="oevrig" type="OevrigInformasjon"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Skattegrunnlagsobjekt">
        <xsd:sequence>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element name="fordelingsmetodeVedDobbeltbeskatning" type="Fordelingsmetodekode"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element name="antallMaanederMedMottakAvUtvidetBarnetrygd" type="Antall"/>
                    <xsd:element name="omsorgsgradVedMottakAvUtvidetBarnetrygd" type="Omsorgsgrad"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="inntektFraEttEOESlandOverstiger90Prosent" type="Boolsk"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element name="antallDagerMedReiseIArbeidsforhold" type="Antall"/>
                    <xsd:element name="lengdeAvReiseIArbeidsforholdTurRetur" type="Antall"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element name="gjennomsnittligVektetPensjonsgrad" type="Prosent"/>
                    <xsd:element name="antallMaanederMedPensjon" type="Tolvdel"/>
                    <xsd:element name="harKravPaaSkattefradragForPensjon" type="Boolsk"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="verdiFoerVerdsettingsrabattForFastEiendom" type="BeloepSomHeltall"/>
                    <xsd:element minOccurs="0" name="satsForVerdsettingsrabattForFastEiendom" type="Prosent"/>
                    <xsd:element minOccurs="0" name="grunnlagForSatsForVerdsettingsrabattForNaeringseiendom" type="GrunnlagstypeForSatsForVerdsettingsrabattForNaeringseiendom"/>
                </xsd:sequence>
            </xsd:choice>
            <xsd:element minOccurs="0" name="identifikatorISkattemelding" type="Tekst"/>
            <xsd:element name="tekniskNavn" type="Skattegrunnlagsobjektnavn"/>
            <xsd:element minOccurs="0" name="beloep" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="saerskiltSkatteplikt" type="SaerskiltSkattepliktstype"/>
            <xsd:element minOccurs="0" name="kommune" type="Kommunenummer"/>
            <xsd:element minOccurs="0" name="land" type="Landkode"/>
            <xsd:element minOccurs="0" name="kategori" type="Skattegrunnlagsobjektkategori"/>
            <xsd:element minOccurs="0" name="barnetsPersonidentifikator" type="NorskPersonidentifikator"/>
            <xsd:element minOccurs="0" name="trygdeEllerSkattemessigUnntak" type="TrygdeEllerSkattemessigUnntak"/>
            <xsd:element minOccurs="0" name="gjelderInntektsaar" type="Aarstall"/>
            <xsd:element minOccurs="0" name="oppgavekodeForBeloepISL" type="Tekst"/>
            <xsd:element minOccurs="0" name="skalVisesSomSkattefri" type="Boolsk"/>
            <xsd:element minOccurs="0" name="fastsattMetodeVedDobbeltbeskatning" type="MetodeVedDobbeltbeskatning"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OevrigInformasjon">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="borPaaInstitusjon" type="Boolsk"/>
            <xsd:element minOccurs="0" name="fastsattTolvdelForTrinnskatt" type="Tolvdel"/>
            <xsd:element minOccurs="0" name="fastsattTolvdelVedArbeidsoppholdINorge" type="Tolvdel"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="fastsattTolvdelOpptjentForSaerskiltSkatteplikt" type="TolvdelForSaerskiltSkatteplikt"/>
            <xsd:element minOccurs="0" name="vurderesForSkattebegrensningParagraf17LitenSkatteevne" type="Boolsk"/>
            <xsd:element minOccurs="0" name="vurderesForSkattebegrensningParagraf17LavAlminneligInntekt" type="Boolsk"/>
            <xsd:element minOccurs="0" name="innleveringstypeFraSL" type="InnleveringstypeFraSL"/>
            <xsd:element minOccurs="0" name="saTypeFraSL" type="saTypeFraSL"/>
            <xsd:element minOccurs="0" name="vedtak" type="Vedtak"/>
            <xsd:element minOccurs="0" name="multiIB" type="Boolsk"/>
            <xsd:element minOccurs="0" name="kodeForForskuddstrekkBarnepensjonOverfoeresForelder" type="KodeForForskuddstrekkBarnepensjonOverfoeresForelder"/>
            <xsd:element maxOccurs="2" minOccurs="0" name="forskuddstrekkBarnepensjonOverfoeresForelder" type="NorskPersonidentifikator"/>
            <xsd:element minOccurs="0" name="harLoennstrekkordning" type="Boolsk"/>
            <xsd:element minOccurs="0" name="kunSvalbard" type="Boolsk"/>
            <xsd:element minOccurs="0" name="fastsattSkatteklasse" type="Tekst"/>
            <xsd:element minOccurs="0" name="harForhoeyetBeloepsgrenseForBortskriving" type="Boolsk"/>
            <xsd:element minOccurs="0" name="fastsattSenereEnnToAarEtterInntektsaaret" type="Boolsk"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="GrunnlagstypeForSatsForVerdsettingsrabattForNaeringseiendom">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="utleieverdi"/>
            <xsd:enumeration value="markedsverdi"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="InnleveringstypeFraSL">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="E"/>
            <xsd:enumeration value="I"/>
            <xsd:enumeration value="F"/>
            <xsd:enumeration value="P"/>
            <xsd:enumeration value="U"/>
            <xsd:enumeration value="V"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="K"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="L"/>
            <xsd:enumeration value="N"/>
            <xsd:enumeration value="OS"/>
            <xsd:enumeration value="EA"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="KodeForForskuddstrekkBarnepensjonOverfoeresForelder">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MetodeVedDobbeltbeskatning">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="F"/>
            <xsd:enumeration value="FG"/>
            <xsd:enumeration value="FGR"/>
            <xsd:enumeration value="FU"/>
            <xsd:enumeration value="K"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="saTypeFraSL">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TrygdeEllerSkattemessigUnntak">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="skattepliktigKildeskattPaaPensjon"/>
            <xsd:enumeration value="skattefriKildeskattPaaPensjon"/>
            <xsd:enumeration value="skattepliktigUtenTrygdeavgiftsplikt"/>
            <xsd:enumeration value="skattepliktigUtenTrygdeavgiftspliktForPensjonsdel"/>
            <xsd:enumeration value="skattepliktigUtenTrygdeavgiftspliktForHelsedel"/>
            <xsd:enumeration value="skattefriMedTrygdeavgiftsplikt"/>
            <xsd:enumeration value="skattefriMedTrygdeavgiftspliktForHelsedel"/>
            <xsd:enumeration value="skattefriMedTrygdeavgiftspliktForPensjonsdel"/>
            <xsd:enumeration value="skattefriUtenTrygdeavgiftsplikt"/>
            <xsd:enumeration value="skattefriMedTrygdeavgiftspliktForSykestoenadsdelForArbeidstakereUtsendtFraUSAOgCanada"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Heltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af0-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="xsd:long"/>
    </xsd:simpleType>
    <xsd:simpleType name="Partsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52adf-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="Heltall"/>
    </xsd:simpleType>
    <xsd:simpleType name="Inntektsaar" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/fa86c460-d685-11e7-9676-0050568351d2">
        <xsd:restriction base="Heltall">
            <xsd:minInclusive value="1000"/>
            <xsd:totalDigits value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Fordelingsmetodekode">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="fordeltMellomNorgeOgUtland"/>
            <xsd:enumeration value="knyttetTilLoennINorge"/>
            <xsd:enumeration value="knyttetTilLoennIUtlandet"/>
            <xsd:enumeration value="forholdsmessigFordeling"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Antall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e145-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="Heltall"/>
    </xsd:simpleType>
    <xsd:simpleType name="Omsorgsgrad">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="full"/>
            <xsd:enumeration value="delt"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Boolsk" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aec-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
    <xsd:simpleType name="Desimaltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aef-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="xsd:decimal"/>
    </xsd:simpleType>
    <xsd:simpleType name="Prosent" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/5d2b8b80-b7e8-11e7-aa27-0050568351d2">
        <xsd:restriction base="Desimaltall"/>
    </xsd:simpleType>
    <xsd:simpleType name="Tolvdel">
        <xsd:restriction base="Heltall"/>
    </xsd:simpleType>
    <xsd:simpleType name="BeloepSomHeltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e146-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="Heltall"/>
    </xsd:simpleType>
    <xsd:simpleType name="Tekst" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af3-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Skattegrunnlagsobjektnavn">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="SaerskiltSkattepliktstype">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="kildeskattepliktPaaPensjon"/>
            <xsd:enumeration value="skattepliktEtterPetroleumsskatteloven"/>
            <xsd:enumeration value="skattepliktSomUtenrikstjenestemann"/>
            <xsd:enumeration value="skattepliktSomSjoemann"/>
            <xsd:enumeration value="skattepliktAvNaeringsdriftEiendomMv"/>
            <xsd:enumeration value="kildeskattepliktPaaLoenn"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Kommunenummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e0f3-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="Tekst">
            <xsd:pattern value="([0-9]){4}"/>
            <xsd:length value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Landkode" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e112-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="Tekst">
            <xsd:pattern value="([A-Z]){2}"/>
            <xsd:length value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Skattegrunnlagsobjektkategori">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="NorskPersonidentifikator">
        <xsd:restriction base="Tekst">
            <xsd:pattern value="[0-9]+"/>
            <xsd:length value="11"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Aarstall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e14a-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="xsd:gYear"/>
    </xsd:simpleType>
    <xsd:complexType name="TolvdelForSaerskiltSkatteplikt">
        <xsd:sequence>
            <xsd:element name="tolvdel" type="Tolvdel"/>
            <xsd:element name="saerskiltSkatteplikt" type="SaerskiltSkattepliktstype"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Vedtak">
        <xsd:sequence>
            <xsd:element name="saksid" type="Tekst"/>
            <xsd:element name="journalpostreferanse" type="Tekst"/>
            <xsd:element name="vedtaksdato" type="Dato"/>
            <xsd:element name="vedtakstekstkode" type="Vedtakstekstkode"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Dato" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aed-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
    <xsd:simpleType name="Vedtakstekstkode">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
            <xsd:enumeration value="4"/>
            <xsd:enumeration value="5"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
