src/resources/xsd/skatteberegningsgrunnlag_v8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:no:skatteetaten:fastsetting:formueinntekt:skatteberegningsgrunnlag:v8" xmlns:skatt="http://www.skatteetaten.no/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:no:skatteetaten:fastsetting:formueinntekt:skatteberegningsgrunnlag:v8">
    <xsd:annotation>
        <xsd:documentation>
            <xsd:attribute fixed="2023-11-22T07:40:58.520+0100" name="generertDato"/>
            <xsd:attribute fixed="v8" name="versjon"/>
            <xsd:attribute fixed="Inntektsår 2023" name="beskrivelse"/>
            <xsd:attribute fixed="v8 (2023)" name="modellnavn"/>
            <xsd:attribute fixed="urn:no:skatteetaten:fastsetting:formueinntekt:skatteberegningsgrunnlag:v8" name="navnerom"/>
            <xsd:attribute fixed="false" name="begrepsreferanse"/>
            <xsd:attribute fixed="false" name="dokumentasjon"/>
            <xsd:attribute fixed="false" name="nillable"/>
            <xsd:attribute fixed="false" name="modellelement"/>
            <xsd:attribute fixed="false" name="norskeTegn"/>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:element name="skatteberegningsgrunnlag" type="Skatteberegningsgrunnlag"/>
    <xsd:complexType name="Skatteberegningsgrunnlag">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="partsnummer" type="Partsnummer"/>
            <xsd:element minOccurs="0" name="inntektsaar" type="Inntektsaar"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="skatteberegningsgrunnlagsobjekt" type="Skatteberegningsgrunnlagsobjekt"/>
            <xsd:element minOccurs="0" name="oevrig" type="OevrigInformasjon"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Skatteberegningsgrunnlagsobjekt">
        <xsd:sequence>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="fordelingsmetodeVedDobbeltbeskatningIForskudd" type="Fordelingsmetodekode"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="konsekvensAvFordelingsmetodeVedDobbeltbeskatningForFastEiendom" type="KonsekvensAvFordelingsmetodeVedDobbeltbeskatningForFastEiendom"/>
                    <xsd:element minOccurs="0" name="verdiFoerVerdsettingsrabattForFastEiendom" type="BeloepSomHeltall"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="inntektFraEttEOESlandOverstiger90Prosent" type="Boolsk"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="gjennomsnittligVektetPensjonsgrad" type="Prosent"/>
                    <xsd:element minOccurs="0" name="antallMaanederMedPensjon" type="Tolvdel"/>
                    <xsd:element name="harKravPaaSkattefradragForPensjon" type="Boolsk"/>
                </xsd:sequence>
            </xsd:choice>
            <xsd:element minOccurs="0" name="identifikator" type="Tekst"/>
            <xsd:element name="tekniskNavn" type="Skattegrunnlagsobjektnavn"/>
            <xsd:element minOccurs="0" name="beloep" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="saerskiltSkatteplikt" type="SaerskiltSkattepliktstype"/>
            <xsd:element minOccurs="0" name="kommune" type="Kommunenummer"/>
            <xsd:element minOccurs="0" name="land" type="Landkode"/>
            <xsd:element minOccurs="0" name="kategori" type="Skattegrunnlagsobjektkategori"/>
            <xsd:element minOccurs="0" name="barnetsPersonidentifikator" type="NorskPersonidentifikator"/>
            <xsd:element minOccurs="0" name="trygdeEllerSkattemessigUnntak" type="TrygdeEllerSkattemessigUnntak"/>
            <xsd:element minOccurs="0" name="gjelderInntektsaar" type="Aarstall"/>
            <xsd:element minOccurs="0" name="skalVisesSomSkattefri" type="Boolsk"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OevrigInformasjon">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="vurderesForSkattebegrensningParagraf17LitenSkatteevne" type="Boolsk"/>
            <xsd:element minOccurs="0" name="vurderesForSkattebegrensningParagraf17LavAlminneligInntekt" type="Boolsk"/>
            <xsd:element maxOccurs="2" minOccurs="0" name="forskuddstrekkOverfoertTilForelder" type="NorskPersonidentifikator"/>
            <xsd:element minOccurs="0" name="harForhoeyetBeloepsgrenseForBortskriving" type="Boolsk"/>
            <xsd:element minOccurs="0" name="informasjonTilSkatteoppgjoer" type="InformasjonTilSkatteoppgjoer"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InformasjonTilSkatteoppgjoer">
        <xsd:sequence>
            <xsd:element name="fastsettingsdato" type="Dato"/>
            <xsd:element minOccurs="0" name="tekstkode" type="Tekst"/>
            <xsd:element minOccurs="0" name="gjelderSkjoennsfastsetting" type="Boolsk"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="NorskPersonidentifikator">
        <xsd:restriction base="Tekst">
            <xsd:pattern value="[0-9]+"/>
            <xsd:maxLength value="11"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Tolvdel">
        <xsd:restriction base="Heltall"/>
    </xsd:simpleType>
    <xsd:simpleType name="GrunnlagstypeForSatsForVerdsettingsrabattForNaeringseiendom">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="utleieverdi"/>
            <xsd:enumeration value="markedsverdi"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="InnleveringstypeFraSL">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="E"/>
            <xsd:enumeration value="I"/>
            <xsd:enumeration value="F"/>
            <xsd:enumeration value="P"/>
            <xsd:enumeration value="U"/>
            <xsd:enumeration value="V"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="K"/>
            <xsd:enumeration value="R"/>
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="L"/>
            <xsd:enumeration value="N"/>
            <xsd:enumeration value="OS"/>
            <xsd:enumeration value="EA"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="KodeForForskuddstrekkBarnepensjonOverfoeresForelder">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="KonsekvensAvFordelingsmetodeVedDobbeltbeskatningForFastEiendom" skatt:eksternKodeliste="https://git.aurora.skead.no/projects/KOLI/repos/kodeliste/browse/formuesOgInntektsskatt/2023_konsekvensAvFordelingsmetodeVedDobbeltbeskatningForFastEiendom.xml">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="SaerskiltSkattepliktstype">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="kildeskattepliktPaaPensjon"/>
            <xsd:enumeration value="skattepliktEtterPetroleumsskatteloven"/>
            <xsd:enumeration value="skattepliktSomSjoemann"/>
            <xsd:enumeration value="skattepliktAvNaeringsdriftEiendomMv"/>
            <xsd:enumeration value="kildeskattepliktPaaLoenn"/>
            <xsd:enumeration value="skattepliktVedUtenriksoppholdINorskStatstjenesteEllerNato"/>
            <xsd:enumeration value="skattepliktPaaLoennFraDenNorskeStatOpptjentIUtlandet"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="saTypeFraSL">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TrygdeEllerSkattemessigUnntak">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="skattepliktigKildeskattPaaPensjon"/>
            <xsd:enumeration value="skattefriKildeskattPaaPensjon"/>
            <xsd:enumeration value="skattepliktigUtenTrygdeavgiftsplikt"/>
            <xsd:enumeration value="skattepliktigUtenTrygdeavgiftspliktForPensjonsdel"/>
            <xsd:enumeration value="skattepliktigUtenTrygdeavgiftspliktForHelsedel"/>
            <xsd:enumeration value="skattefriMedTrygdeavgiftsplikt"/>
            <xsd:enumeration value="skattefriMedTrygdeavgiftspliktForHelsedel"/>
            <xsd:enumeration value="skattefriMedTrygdeavgiftspliktForPensjonsdel"/>
            <xsd:enumeration value="skattefriUtenTrygdeavgiftsplikt"/>
            <xsd:enumeration value="skattefriMedTrygdeavgiftspliktForSykestoenadsdelForArbeidstakereUtsendtFraUSAOgCanada"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Heltall">
        <xsd:restriction base="xsd:long"/>
    </xsd:simpleType>
    <xsd:simpleType name="Partsnummer">
        <xsd:restriction base="Heltall"/>
    </xsd:simpleType>
    <xsd:simpleType name="Inntektsaar">
        <xsd:restriction base="Heltall">
            <xsd:minInclusive value="1000"/>
            <xsd:totalDigits value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Fordelingsmetodekode">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="fordeltMellomNorgeOgUtland"/>
            <xsd:enumeration value="knyttetTilLoennINorge"/>
            <xsd:enumeration value="knyttetTilLoennIUtlandet"/>
            <xsd:enumeration value="forholdsmessigFordeling"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BeloepSomHeltall">
        <xsd:restriction base="Heltall"/>
    </xsd:simpleType>
    <xsd:simpleType name="Boolsk">
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
    <xsd:simpleType name="Desimaltall">
        <xsd:restriction base="xsd:decimal"/>
    </xsd:simpleType>
    <xsd:simpleType name="Prosent">
        <xsd:restriction base="Desimaltall"/>
    </xsd:simpleType>
    <xsd:simpleType name="Tekst">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Skattegrunnlagsobjektnavn">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="Kommunenummer">
        <xsd:restriction base="Tekst">
            <xsd:pattern value="([0-9]){4}"/>
            <xsd:length value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Landkode">
        <xsd:restriction base="Tekst">
            <xsd:pattern value="([A-Z]){2}"/>
            <xsd:length value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Skattegrunnlagsobjektkategori">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="Aarstall">
        <xsd:restriction base="xsd:gYear"/>
    </xsd:simpleType>
    <xsd:simpleType name="Dato">
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
</xsd:schema>
