src/resources/definisjoner/xsd/skattemeldingUpersonlig_v1_ekstern.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:no:skatteetaten:fastsetting:formueinntekt:skattemelding:upersonlige:ekstern:v1" xmlns:skatt="http://www.skatteetaten.no/xsd" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:no:skatteetaten:fastsetting:formueinntekt:skattemelding:upersonlige:ekstern:v1">
    <xsd:annotation>
        <xsd:documentation>
            <xsd:attribute fixed="2021-08-16T14:45:54.984+0200" name="generertDato"/>
            <xsd:attribute fixed="v1" name="versjon"/>
            <xsd:attribute fixed="" name="beskrivelse"/>
            <xsd:attribute fixed="Skattemelding upersonlige skattepliktige v1" name="modellnavn"/>
            <xsd:attribute fixed="urn:no:skatteetaten:fastsetting:formueinntekt:skattemelding:upersonlige:ekstern:v1" name="navnerom"/>
            <xsd:attribute fixed="true" name="begrepsreferanse"/>
            <xsd:attribute fixed="false" name="dokumentasjon"/>
            <xsd:attribute fixed="false" name="nillable"/>
            <xsd:attribute fixed="false" name="modellelement"/>
            <xsd:attribute fixed="false" name="norskeTegn"/>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:element name="skattemelding" type="Skattemelding"/>
    <xsd:complexType name="Skattemelding">
        <xsd:sequence>
            <xsd:element name="partsnummer" type="Partsnummer"/>
            <xsd:element name="inntektsaar" type="Inntektsaar"/>
            <xsd:element minOccurs="0" name="inntektOgUnderskudd" type="InntektOgUnderskudd"/>
            <xsd:element minOccurs="0" name="spesifikasjonAvForholdRelevanteForBeskatning" type="SpesifikasjonAvForholdRelevanteForBeskatning"/>
            <xsd:element minOccurs="0" name="formueOgGjeld" type="FormueOgGjeld"/>
            <xsd:element minOccurs="0" name="skattemeldingOpprettet" type="DokumentOpprettet"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Heltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af0-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="xsd:long"/>
    </xsd:simpleType>
    <xsd:simpleType name="Partsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52adf-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="Heltall"/>
    </xsd:simpleType>
    <xsd:simpleType name="Inntektsaar" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/fa86c460-d685-11e7-9676-0050568351d2">
        <xsd:restriction base="Heltall">
            <xsd:minInclusive value="1000"/>
            <xsd:totalDigits value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="InntektOgUnderskudd">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="inntekt" type="Inntekt"/>
            <xsd:element minOccurs="0" name="inntektsfradrag" type="Inntektsfradrag"/>
            <xsd:element name="id" type="Tekst"/>
            <xsd:element minOccurs="0" name="underskuddTilFremfoering" type="UnderskuddTilFremfoering"/>
            <xsd:element name="samletInntekt" skatt:erAvledet="true" type="BeloepSomHeltallMedOverstyring"/>
            <xsd:element name="samletUnderskudd" skatt:erAvledet="true" type="BeloepSomHeltallMedOverstyring"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SpesifikasjonAvForholdRelevanteForBeskatning">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="aksjeIAksjonaerregisteret" type="AksjeIAksjonaerregisteret"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FormueOgGjeld">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="formuesobjekt" type="Formuesobjekt"/>
            <xsd:element name="id" type="Tekst"/>
            <xsd:element minOccurs="0" name="gjeld" type="Gjeld"/>
            <xsd:element minOccurs="0" name="samletVerdiFoerEventuellVerdsettingsrabatt" skatt:erAvledet="true" type="BeloepSomHeltallMedOverstyring"/>
            <xsd:element minOccurs="0" name="samletGjeld" skatt:erAvledet="true" type="BeloepSomHeltallMedOverstyring"/>
            <xsd:element minOccurs="0" name="samletVerdiBakAksjeneISelskapet" skatt:erAvledet="true" type="BeloepSomHeltallMedOverstyring"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DokumentOpprettet" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/df81b854-3474-11e6-af6b-9614a8212dd3">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="brukeridentifikator" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e2f8-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
            <xsd:element minOccurs="0" name="brukeridentifikatortype" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e2f8-9fe1-11e5-a9f8-e4115b280940" type="Brukeridentifikatortype"/>
            <xsd:element minOccurs="0" name="opprettetDato" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/11ed6893-682c-11e6-81bf-fac03dffe1d7" type="DatoKlokkeslett"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Inntekt">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="naeringsinntekt" type="BeloepSomHeltallMedInnkapsling"/>
            <xsd:element minOccurs="0" name="mottattKonsernbidrag" type="BeloepSomHeltallMedInnkapsling"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Inntektsfradrag">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="underskudd" type="BeloepSomHeltallMedInnkapsling"/>
            <xsd:element minOccurs="0" name="yttKonsernbidrag" type="BeloepSomHeltallMedInnkapsling"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Tekst" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af3-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="UnderskuddTilFremfoering">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="fremfoertUnderskuddFraTidligereAar" type="BeloepSomHeltallMedInnkapsling"/>
            <xsd:element minOccurs="0" name="oppnaaddUnderhaandsakkordOgGjeldsettergivelse" type="BeloepSomHeltallMedInnkapsling"/>
            <xsd:element minOccurs="0" name="restOppnaaddUnderhaandsakkordOgGjeldsettergivelse" skatt:erAvledet="true" type="BeloepSomHeltallMedInnkapsling"/>
            <xsd:element minOccurs="0" name="aaretsAnvendelseAvFremfoertUnderskuddFraTidligereAar" skatt:erAvledet="true" type="BeloepSomHeltallMedInnkapsling"/>
            <xsd:element minOccurs="0" name="fremfoerbartUnderskuddIInntektFoerKorreksjonSomFoelgeAvSkattefradragPaaUnderskudd" skatt:erAvledet="true" type="BeloepSomHeltallMedOverstyring"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BeloepSomHeltallMedOverstyring">
        <xsd:sequence>
            <xsd:element name="beloep" type="BeloepSomHeltallMedInnkapsling"/>
            <xsd:element minOccurs="0" name="erOverstyrt" type="BoolskMedInnkapsling"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AksjeIAksjonaerregisteret">
        <xsd:sequence>
            <xsd:element name="id" type="Tekst"/>
            <xsd:element minOccurs="0" name="selskapetsNavn" type="OrganisasjonsnavnMedInnkapsling"/>
            <xsd:element minOccurs="0" name="selskapetsOrganisasjonsnummer" type="OrganisasjonsnummerMedInnkapsling"/>
            <xsd:element minOccurs="0" name="aksjeklasse" type="TekstMedInnkapsling"/>
            <xsd:element minOccurs="0" name="isinnummer" type="IsinnummerMedInnkapsling"/>
            <xsd:element minOccurs="0" name="antallAksjer" type="AntallMedInnkapsling"/>
            <xsd:element minOccurs="0" name="utbytte" type="GevinstTapUtbyttePaaAksjerOgAndreFinansprodukter"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Formuesobjekt">
        <xsd:sequence>
            <xsd:element name="id" type="Tekst"/>
            <xsd:element name="formuesobjekttype" type="FormuesobjekttypeMedInnkapsling"/>
            <xsd:element name="verdiFoerEventuellVerdsettingsrabatt" type="BeloepSomHeltallMedInnkapsling"/>
            <xsd:element minOccurs="0" name="formuesverdi" skatt:erAvledet="true" type="BeloepSomHeltallMedOverstyring"/>
            <xsd:element minOccurs="0" name="verdsettingsrabatt" skatt:erAvledet="true" type="BeloepSomHeltallMedOverstyring"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Gjeld">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="annenGjeld" type="BeloepSomHeltallMedInnkapsling"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Brukeridentifikatortype" skatt:begrepsreferanse="http://begrepskatalog/begrep/df81b854-3474-11e6-af6b-9614a8212dd3">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration skatt:begrepsreferanse="http://begrepskatalog/begrep/20b52adf-9fe1-11e5-a9f8-e4115b280940" value="partsnummer"/>
            <xsd:enumeration value="saksbehandleridentifikator"/>
            <xsd:enumeration skatt:begrepsreferanse="http://begrepskatalog/begrep/df81b855-3474-11e6-af6b-9614a8212dd3" value="systemidentifikator"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="DatoKlokkeslett" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aee-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="xsd:dateTime"/>
    </xsd:simpleType>
    <xsd:complexType name="BeloepSomHeltallMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e147-9fe1-11e5-a9f8-e4115b280940">
        <xsd:sequence>
            <xsd:element name="beloepSomHeltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e147-9fe1-11e5-a9f8-e4115b280940" type="BeloepSomHeltall"/>
            
            
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BoolskMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aec-9fe1-11e5-a9f8-e4115b280940">
        <xsd:sequence>
            <xsd:element name="boolsk" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aec-9fe1-11e5-a9f8-e4115b280940 " type="Boolsk"/>
            
            
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OrganisasjonsnavnMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a7-9fe1-11e5-a9f8-e4115b280940">
        <xsd:sequence>
            <xsd:element name="organisasjonsnavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a7-9fe1-11e5-a9f8-e4115b280940" type="Organisasjonsnavn"/>
            
            
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OrganisasjonsnummerMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a8-9fe1-11e5-a9f8-e4115b280940">
        <xsd:sequence>
            <xsd:element name="organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a8-9fe1-11e5-a9f8-e4115b280940" type="Organisasjonsnummer"/>
            
            
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TekstMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af3-9fe1-11e5-a9f8-e4115b280940">
        <xsd:sequence>
            <xsd:element name="tekst" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af3-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
            
            
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IsinnummerMedInnkapsling">
        <xsd:sequence>
            <xsd:element name="isinnummer" type="Isinnummer"/>
            
            
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AntallMedInnkapsling" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e145-9fe1-11e5-a9f8-e4115b280940">
        <xsd:sequence>
            <xsd:element name="antall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e145-9fe1-11e5-a9f8-e4115b280940" type="Antall"/>
            
            
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GevinstTapUtbyttePaaAksjerOgAndreFinansprodukter">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="beloepRapportertAvTredjepart" type="BeloepSomHeltallMedInnkapsling"/>
            <xsd:element minOccurs="0" name="beloepInnenforFritaksmetoden" type="BeloepSomHeltallMedInnkapsling"/>
            <xsd:element minOccurs="0" name="beloepUtenforFritaksmetoden" type="BeloepSomHeltallMedInnkapsling"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FormuesobjekttypeMedInnkapsling">
        <xsd:sequence>
            <xsd:element name="formuesobjekttype" type="Formuesobjekttype"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="BeloepSomHeltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e146-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="Heltall"/>
    </xsd:simpleType>
    
    
    <xsd:simpleType name="Boolsk" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aec-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
    <xsd:simpleType name="Organisasjonsnavn">
        <xsd:restriction base="Tekst"/>
    </xsd:simpleType>
    <xsd:simpleType name="Organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a8-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="Tekst"/>
    </xsd:simpleType>
    <xsd:simpleType name="Isinnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e325-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="Tekst">
            <xsd:pattern value="[A-Z]{2}[0-9A-Z]{9}[0-9]{1}"/>
            <xsd:length value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Antall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e145-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="Heltall"/>
    </xsd:simpleType>
    <xsd:simpleType name="Formuesobjekttype" skatt:eksternKodeliste="/formuesOgInntektsskatt/2021_formuesobjekttypeUpersonligSkattepliktig.xml">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="Tilstand">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration skatt:begrepsreferanse="http://begrepskatalog/begrep/cf247fcc-dfe5-11e7-9101-005056821322" value="egenfastsetting"/>
            <xsd:enumeration value="endretEgenfastsetting"/>
            <xsd:enumeration value="ugyldigEgenfastsetting"/>
            <xsd:enumeration value="varsletMyndighetsfastsetting"/>
            <xsd:enumeration value="vedtattMyndighetsfastsetting"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Brukeridentifikator" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/df81b854-3474-11e6-af6b-9614a8212dd3">
        <xsd:sequence>
            <xsd:element name="identifikator" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e2f8-9fe1-11e5-a9f8-e4115b280940" type="Tekst"/>
            <xsd:element name="identifikatortype" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e2f8-9fe1-11e5-a9f8-e4115b280940" type="Brukeridentifikatortype"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Kildedokumentreferanse">
        <xsd:sequence>
            <xsd:element name="kildedokumentidentifikator" type="Uri"/>
            <xsd:element minOccurs="0" name="kildedokumenttype" type="Tekst"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Uri" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e148-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="Tekst"/>
    </xsd:simpleType>
</xsd:schema>